<form [formGroup]="donationForm" *ngIf="donationStage <= 2">
  <div class="donate-step-header">
    Storage Amount
  </div>
  <input type="num" id="storageAmount" [formControlName]="'storageAmount'" hidden>
  <div class="donate-options">
    <div class="donate-option" *ngFor="let amount of storageOptions;">
      <button class="btn btn-primary donate-option-content" (click)="setStorageAmount(amount)" [ngClass]="{'active': donationForm.value.storageAmount == amount}">
      {{amount}} GB
      </button>
    </div>
    <div class="donate-option">
      <button class="btn btn-primary donate-option-content" (click)="setStorageAmount('custom')">
        <input type="text" class="form-control"> GB 
      </button>
    </div>
  </div>
</form>