<form [formGroup]="donationForm">
  <div [hidden]="donationStage !== 0">
    <div class="donate-step-header">
      1. One-time storage fee
    </div>
    <p>A one-time, tax-deductible fee covers the cost of storing your valuable digital materials, safely and securely, for all time.</p>
    <input type="num" id="storageAmount" formControlName="storageAmount" hidden>
    <div class="donate-options">
      <div class="donate-option" *ngFor="let amount of storageOptions;">
        <button type="button" class="btn btn-primary donate-option-content" (click)="setStorageAmount(amount)" [ngClass]="{'active': donationForm.value.storageAmount == amount}">
        {{amount}} GB
        </button>
      </div>
      <div class="donate-option">
        <button type="button" class="btn btn-primary donate-option-content" (click)="setStorageAmount('custom')">
          <input #customStorageAmount type="number" class="form-control" formControlName="customStorageAmount" min="1" (keydown)="unfocusOnEnter($event)"> GB 
        </button>
      </div>
    </div>
    <button id="step1Continue" type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="!storageAmount">
      Continue
    </button>
  </div>
  <div [hidden]="donationStage !== 1">
    <div class="donate-step-header">
      2. Make it Permanent
    </div>
    <p>Tax-deductible, charitable donations to our endowment go directly to supporting the work of the Permanent Legacy Foundation, a 501(c)(3) not for profit organization, ensuring the permanence of your digital legacy.</p>
    <div class="donate-options">
      <div class="donate-option">
        <button class="btn btn-primary donate-option-content" (click)="setExtraDonation('suggested')" [ngClass]="{'active': donationForm.value.extraDonation == 'suggested'}">
          ${{storageAmount * pricePerGb}}
        </button>
      </div>
      <div class="donate-option">
        <button type="button" class="btn btn-primary donate-option-content" (click)="setExtraDonation('custom')" [ngClass]="{'active': donationForm.value.extraDonation == 'custom'}">
          $<input #customDonationAmount type="number" class="form-control" formControlName="customExtraDonationAmount" min="1" (keydown)="unfocusOnEnter($event)">
        </button>
      </div>
      <div class="donate-option">
        <button type="button" class="btn btn-secondary donate-option-content" (click)="setExtraDonation('none')" [ngClass]="{'active': donationForm.value.extraDonation == 'none'}">
          None at this time
        </button>
      </div>
    </div>
    <button id="step2Continue" type="button" class="btn btn-primary" (click)="nextStep()">
      Continue
    </button>
  </div>
  <div [hidden]="donationStage !== 2">
    <div class="donate-step-header">
      3. Byte For Byte match
    </div>
    <p>
      We believe that everyone has a legacy that is special and deserves to be preserved. We work with non-profit partner organizations to provide free storage to their communities. We call this program Byte for Byte.
    </p>
    <div class="donate-options full-width">
      <div class="donate-option">
        <button type="button" class="btn btn-primary donate-option-content" (click)="setByteForByte(true)" [ngClass]="{'active': byteForByte}">
          Yes, double my donation today
        </button>
      </div>
      <div class="donate-option">
        <button type="button" class="btn btn-secondary donate-option-content" (click)="setByteForByte(false)" [ngClass]="{'active': !byteForByte}">
          No, thanks
        </button>
      </div>
    </div>
    <button id="step3Continue" type="button" class="btn btn-primary" (click)="nextStep()">
      Continue
    </button>
  </div>
  <div [hidden]="donationStage !== 3">
    <div class="donate-step-header">4. Payment method</div>
    <select class="form-control" [hidden]="!cards.length" formControlName="paymentCard">
      <option *ngFor="let card of cards; let i = index;" [ngValue]="card">{{card.nickname}}</option>
    </select>
    <button id="addCard" class="btn btn-primary" type="button" (click)="addCard()">Add card</button>
    <div *ngIf="currentAddress">
      <strong>Address on file:</strong>
      <div>{{currentAddress.address}}</div>
      <div *ngIf="currentAddress.address2">{{currentAddress.address2}}</div>
      <div>{{currentAddress.city}}, {{currentAddress.state}}, {{currentAddress.zip}}</div>
    </div>
    <button id="addAddress" class="btn btn-primary" type="button" (click)="addAddress()">{{currentAddress ? 'Change' : 'Add'}} address</button>
  </div>
</form>
<div class="donate-details" [hidden]="donationStage >= 4">
  <div class="donate-line-item">
    <div class="donate-item-name">{{storageAmount}} GB storage</div>
    <div class="donate-item-cost">{{pricePerGb * storageAmount | currency}}</div>
  </div>
  <div class="donate-line-item" [hidden]="donationStage < 1">
    <div class="donate-item-name">Add'l donation</div>
    <div class="donate-item-cost">{{extraDonation | currency}}</div>
  </div>
  <div class="donate-line-item" [hidden]="donationStage < 2">
    <div class="donate-item-name">Byte For Byte match</div>
    <div class="donate-item-cost">{{(byteForByte ? pricePerGb * storageAmount + extraDonation : 0) | currency}}</div>
  </div>
  <div class="donate-line-item donate-total">
    <div class="donate-item-name">
      Total donation
    </div>
    <div class="donate-item-cost">
      {{getTotalDonation() | currency}}
    </div>
  </div>
  <button id="confirmDonation" class="btn btn-primary"[hidden]="donationStage < 3" [disabled]="!donationForm.valid || !currentAddress || waiting" (click)="onSubmit(donationForm.value)">
    Confirm Donation
  </button>
</div>
<div [hidden]="donationStage < 4" class="donate-complete">
  <div class="donate-step-header">Thank you</div>
  <p>
    Thank you for your donation. This one-time fee has secured your storage for all time.
  </p>
  <p>
    Your contribution will be applied to endow <strong>{{storageAmount}} GB</strong> of storage for your personal archive on Permanent.org. Donations to our endowment also support the ongoing work of our Foundation; ensuring the permanence of your digital files and preserving your legacy forever.
  </p>
  <p>
      You will receive a full donation receipt (PDF) by email for your records and tax purposes.
  </p>
  <a class="btn btn-primary" [routerLink]="['/myfiles']">Go to My Files</a>
</div>