<!-- @format -->
@if (isDisplayed) {
  @if (isOpen) {
    <div class="user-checklist">
      <div class="button-header">
        <button class="minimize-button" (click)="minimize()">
          <pr-minimize-icon></pr-minimize-icon>
        </button>
      </div>
      <div class="header">
        <div class="header-title">Getting Started</div>
        <div class="header-description">
          Let's finish setting up your account
        </div>
      </div>
      <div class="meter">
        <div
          class="meter-container"
          role="meter"
          aria-labeledby="user-checklist-percentage-value"
        >
          <div class="meter-value" [style]="{ width: percentage + '%' }"></div>
        </div>
        <span id="user-checklist-percentage-value" class="percent-value"
          >{{ percentage | number: '1.0-0' }}%</span
        >
      </div>
      <br />
      <ul>
        @for (item of items; track item.id) {
          <li class="task">
            <pr-task-icon
              [completed]="item.completed"
              [icon]="item.id"
            ></pr-task-icon>
            <span [class]="{ 'task-name': true, completed: item.completed }">{{
              item.title
            }}</span>
            <div [class]="{ 'fake-checkbox': true, checked: item.completed }">
              @if (item.completed) {
                <span class="check">✔</span>
              }
            </div>
          </li>
        }
      </ul>
      <div class="footer">
        <button class="dont-show-again">Don't show me this again</button>
      </div>
    </div>
  } @else {
    <div class="user-checklist-minimized">
      <button class="open-button" (click)="open()">
        <pr-checklist-icon></pr-checklist-icon>
      </button>
    </div>
  }
}
