<!-- @format -->
<h1 class="page-title" *ngIf="!isForShareInvite">Create your new Account</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
  <h1 class="page-title" *ngIf="isForShareInvite">
    {{ shareFromName }} has shared <em>{{ shareItem.displayName }}</em> with you
  </h1>
  <div *ngIf="showInviteCode" class="invite-code-input input-container">
    <pr-form-input-glam
      fieldName="invitation"
      placeholder="Invitation code (optional)"
      [control]="signupForm.controls['invitation']"
      [config]="{
        autocomplete: 'off',
        autocorrect: 'off',
        autocapitalize: 'off',
        spellcheck: 'off'
      }"
      [variant]="'dark'"
    ></pr-form-input-glam>
  </div>
  <div class="name-input input-container">
    <pr-form-input-glam
      [variant]="'dark'"
      fieldName="name"
      placeholder="Full name"
      [control]="signupForm.controls['name']"
      [config]="{
        autocomplete: 'name',
        autocorrect: 'off',
        autocapitalize: 'yes',
        spellcheck: 'off'
      }"
    ></pr-form-input-glam>
  </div>
  <div class="email-input input-container">
    <pr-form-input-glam
      [variant]="'dark'"
      fieldName="email"
      placeholder="Email"
      [control]="signupForm.controls['email']"
      type="email"
      [config]="{
        autocomplete: 'username',
        autocorrect: 'off',
        autocapitalize: 'off',
        spellcheck: 'off'
      }"
    ></pr-form-input-glam>
  </div>
  <div class="password-input input-container">
    <pr-form-input-glam
      [variant]="'dark'"
      type="password"
      fieldName="password"
      placeholder="Password (min. 8 chars)"
      [control]="signupForm.controls['password']"
      [config]="{
        autocomplete: 'new-password',
        autocorrect: 'off',
        autocapitalize: 'off',
        spellcheck: 'off'
      }"
    ></pr-form-input-glam>
  </div>
  <div class="input-container confirm-password-input">
    <pr-form-input-glam
      [variant]="'dark'"
      type="password"
      fieldName="confirm"
      placeholder="Confirm password"
      [control]="signupForm.controls['confirm']"
      [config]="{
        autocomplete: 'new-password',
        autocorrect: 'off',
        autocapitalize: 'off',
        spellcheck: 'off',
        validateDirty: true
      }"
    ></pr-form-input-glam>
  </div>
  <div class="auth-options">
    <pr-checkbox
      [isChecked]="agreedTerms"
      (isCheckedChange)="agreedTerms = $event"
      [variant]="'secondary'"
    ></pr-checkbox>
    <label class="form-check-label" for="terms">
      I agree to the &nbsp;
      <a
        href="https://www.permanent.org/terms/"
        target="_blank"
        aria-label="Permanent.org Terms of Service"
        >Permanent.org Terms of Service</a
      >
    </label>
  </div>
  <div class="buttons">
    <pr-button
      [buttonType]="'submit'"
      [variant]="'secondary'"
      [size]="'fill'"
      [icon]="'/auth/sign-up'"
      [orientation]="'right'"
      [style]="{ justifyContent: 'center' }"
      [disabled]="waiting || signupForm.invalid || !agreedTerms"
      >Register</pr-button
    >
    <pr-or-divider></pr-or-divider>
    <pr-button
      [size]="'fill'"
      (buttonClick)="navigateToAuth()"
      [icon]="'/auth/back'"
      [style]="{ justifyContent: 'center' }"
      >Back to sign in</pr-button
    >
  </div>
</form>
<pr-loading-spinner *ngIf="waiting"></pr-loading-spinner>
