<pr-login-logo></pr-login-logo>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
  <h1 class="form-title">
    Sign up for Permanent.org
  </h1>
  <div class="input-group-vertical">
    <pr-form-input fieldName="invitation" placeholder="Invitation code" [control]="signupForm.controls['invitation']"
      [errors]="formErrors.invitation" [config]="{autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: 'off'}"></pr-form-input>
    <pr-form-input fieldName="name" placeholder="Full name" [control]="signupForm.controls['name']"
      [errors]="formErrors.name" [config]="{autocomplete: 'name', autocorrect: 'off', autocapitalize: 'yes', spellcheck: 'off'}"></pr-form-input>
    <pr-form-input fieldName="email" placeholder="Email" [control]="signupForm.controls['email']"
      [errors]="formErrors.email" [config]="{autocomplete: 'email', autocorrect: 'off', autocapitalize: 'off', spellcheck: 'off'}"></pr-form-input>
    <pr-form-input type="password" fieldName="password" placeholder="Password (min. 10 chars)" [control]="signupForm.controls['passwords']['controls']['password']"
      [errors]="formErrors.password"></pr-form-input>
    <pr-form-input type="password" fieldName="passwordConfirm" placeholder="Confirm password" [control]="signupForm.controls['passwords']['controls']['confirm']"
      [errors]="formErrors.confirm"></pr-form-input>
  </div>
  <div class="form-check">
      <input class="form-check-input" type="checkbox" id="terms"
        formControlName="agreed">
      <label class="form-check-label" for="terms">
        I agree with the terms <strong>(required)</strong>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="mailingList"
        formControlName="optIn">
      <label class="form-check-label" for="mailingList">
        Send me occasional updates via email
      </label>
    </div>
  <button type="submit" class="btn btn-primary" [disabled]="waiting || signupForm.invalid">
    Sign up
  </button>
  <a [routerLink]="['/auth','login']">Already have an account?</a>
</form>
