<div class="input-vertical-label" [ngClass]="{'hidden': !control.value.length }">
  {{placeholder}}
</div>
<input *ngIf="type !== 'select'" [type]="type" class="form-control"
  [id]="fieldName" [placeholder]="placeholder" [formControl]="control">
<select *ngIf="type === 'select'" class="form-control input-vertical"
  [id]="fieldName" [formControl]="control">
  <option *ngFor="let option of selectOptions" [value]="option.value">
    {{option.text}}
  </option>
</select>
<div class="input-vertical-error" [ngClass]="{'hidden': !errors }">
  {{errors}}
</div>