<div class="input-vertical-label" [ngClass]="{ hidden: isLabelHidden() }">
	{{ placeholder }}
</div>
@if (type !== 'select') {
	<input
		[type]="type"
		class="form-control"
		[ngClass]="{ 'validate-dirty': config && config.validateDirty }"
		[id]="fieldName"
		[name]="fieldName"
		[placeholder]="placeholder"
		[formControl]="control"
		[disabled]="disabled"
		[readOnly]="disabled"
	/>
}
@if (type === 'select') {
	<div class="select-wrapper">
		<select
			class="form-control input-vertical real-select"
			[ngClass]="{ placeholder: !control.value }"
			[id]="fieldName"
			[name]="fieldName"
			[formControl]="control"
		>
			@for (option of selectOptions; track option) {
				<option [value]="option.value">
					{{ option.text }}
				</option>
			}
		</select>
		<label
			class="open-toggle input-vertical-select-placeholder"
			[attr.for]="fieldName"
			class.selected]="control.value"
			(click)="openSelect()"
		>
			{{ getOptionTextFromValue(control.value) || placeholder }}
		</label>
	</div>
}
<div class="input-vertical-error" [ngClass]="{ hidden: !errors }">
	{{ errors }}
</div>
