<div class="input-vertical-label" [ngClass]="{ hidden: isLabelHidden() }">
	{{ placeholder }}
</div>
@if (type !== 'select') {
	<input
		[type]="type"
		class="form-control"
		[ngClass]="{ 'validate-dirty': config && config.validateDirty }"
		[id]="fieldName"
		[name]="fieldName"
		[placeholder]="placeholder"
		[formControl]="control"
		[disabled]="disabled"
		[readOnly]="disabled"
	/>
}
@if (type === 'select') {
	<select
		class="form-control input-vertical"
		[ngClass]="{ placeholder: !control.value }"
		[id]="fieldName"
		[name]="fieldName"
		[formControl]="control"
	>
		@for (option of selectOptions; track option) {
			<option [value]="option.value">
				{{ option.text }}
			</option>
		}
	</select>
}
@if (type === 'select') {
	<div
		class="input-vertical-select-placeholder selected-option"
		[class.selected]="control.value"
	>
		{{ getOptionTextFromValue(control.value) || placeholder }}
	</div>
}
<div class="input-vertical-error" [ngClass]="{ hidden: !errors }">
	{{ errors }}
</div>
