<div class="connector-info">
  <div prBgImage [bgSrc]="folder.thumbURL200" *ngIf="folder"></div>
  <div class="name">
    {{connectorName}}
  </div>
  <div class="view-files" (click)="goToFolder()" *ngIf="hasFiles">
    View Files
  </div>
</div>
<div class="connector-actions">
  <button class="btn btn-primary" [hidden]="connected" (click)="connect()" [disabled]="waiting">Connect</button>
  <button class="btn btn-primary" [hidden]="!connected" [disabled]="waiting">Import</button>
  <button class="btn btn-primary" [hidden]="!connected" (click)="disconnect()" [disabled]="waiting">Disconnect</button>
</div>