@import 'variables';

$info-height: $file-list-row-height;

:host {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-300;
  // margin-bottom: 10px;
}

.view-files {
  cursor: pointer;
  user-select: none;
}

.connector-info {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  min-height: $info-height;
}

.connector-info-more {
  padding: 0px 10px;
}

.connector-actions {
  padding: 0px 10px;
}

.name {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

[prBgImage] {
  height: $info-height - ($grid-unit / 2);
  width: $info-height - ($grid-unit / 2);
  flex: 0 0 $info-height - ($grid-unit / 2);
  margin: 5px 0px;
  margin-right: 5px;
}

.connector-help {
  padding: 0 10px;
}
