<div class="panel-subheading">
  Select the notification emails you'd like to receive. Emails relating to
  account security cannot be disabled.
</div>
<div class="preferences">
  <div
    class="preference-group"
    *ngFor="
      let feature of account?.notificationPreferences?.emailPreference
        | keyvalue
    "
  >
    <div class="preference-group-title">{{ feature.key | titlecase }}</div>
    <div class="form-check" *ngFor="let type of feature.value | keyvalue">
      <input
        type="checkbox"
        class="form-check-input"
        [(ngModel)]="preferences.emailPreference[feature.key][type.key]"
        (ngModelChange)="
          onPreferenceChange(['emailPreference', feature.key, type.key], $event)
        "
      />
      <label for="" class="form-check-label">{{ type.key | titlecase }}</label>
    </div>
  </div>
</div>
