<!-- @format -->
<div
  class="input-vertical-label"
  [class.hidden]="isLabelHidden()"
  [class.input-vertical-label-light]="variant === 'light'"
  [class.input-vertical-label-dark]="variant === 'dark'"
>
  {{ placeholder }}
</div>
<fa-icon
  *ngIf="errors"
  class="error-icon"
  [icon]="['fas', 'exclamation-circle']"
></fa-icon>
<input
  [type]="type"
  (input)="onInputChange($event.target.value)"
  class="form-control form-input"
  [id]="fieldName"
  [name]="fieldName"
  [placeholder]="placeholder"
  [class.validate-dirty]="config && config.validateDirty"
  [class.form-input-errors]="errors"
  [class.form-input-light]="variant === 'light'"
  [class.form-input-dark]="variant === 'dark'"
/>
<div class="input-vertical-error" [class.hidden]="!errors">
  {{ errors }}
</div>
