<!-- @format -->
<div
	class="input-vertical-label"
	[class.hidden]="isLabelHidden() || hideLabel"
	[class.input-vertical-label-light]="variant === 'light'"
	[class.input-vertical-label-dark]="variant === 'dark'"
>
	{{ placeholder }}
</div>
@if (errors) {
	<fa-icon
		class="error-icon"
		[icon]="['fas', 'exclamation-circle']"
		[style]="iconPosition"
	></fa-icon>
}
<input
	[type]="type"
	class="form-control form-input"
	(input)="onInputChange($event)"
	[id]="fieldName"
	[name]="fieldName"
	[placeholder]="placeholder"
	[formControl]="control"
	[class.form-input-with-text]="!isLabelHidden()"
	[class.validate-dirty]="config && config.validateDirty"
	[class.form-input-errors]="errors"
	[class.form-input-light]="variant === 'light'"
	[class.form-input-dark]="variant === 'dark'"
	[style]="styling"
/>
<div class="input-vertical-error" [class.hidden]="!errors">
	{{ errors }}
</div>
