<form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)" [hidden]="success">
  <h1 class="form-title">
    Password Reset
  </h1>
  <p>Enter the new password for your account.</p>
  <div class="input-group-vertical">
    <pr-form-input type="password" fieldName="password" placeholder="Password (min. 8 chars)" [control]="resetForm.controls['password']"></pr-form-input>
    <pr-form-input type="password" fieldName="confirm" placeholder="Confirm password" [control]="resetForm.controls['confirm']"
      [config]="{validateDirty: true}"></pr-form-input>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="waiting || resetForm.invalid">Change password</button>
  <a [routerLink]="['..','signup']">
    Need to sign up?
  </a>
  <a [routerLink]="['..','login']">
    Want to log in?
  </a>
</form>
<div [hidden]="!success">
  <p>
    Your password has been successfully changed.
  </p>
  <p>
    You may now log in to your account using your new password.
  </p>
  <a [routerLink]="['..','login']" class="btn btn-primary">
    Log in
  </a>
</div>