<pr-login-logo></pr-login-logo>
<form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)" (blur)="setErrorMessages()" [hidden]="success">
  <h1 class="form-title">
    Password Reset
  </h1>
  <p>Enter the new password for your account.</p>
  <div class="input-group-vertical">
    <pr-form-input type="password" fieldName="password" placeholder="Password (min. 10 chars)" [control]="resetForm.controls['password']"
      [errors]="formErrors.password"></pr-form-input>
    <pr-form-input type="password" fieldName="passwordConfirm" placeholder="Confirm password" [control]="resetForm.controls['confirm']"
      [errors]="formErrors.confirm"></pr-form-input>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="waiting || resetForm.invalid">Change password</button>
  <a [routerLink]="['/auth','signup']">
    Need to sign up?
  </a>
  <a [routerLink]="['/auth','login']">
    Want to log in?
  </a>
</form>
<div [hidden]="!success">
  <p>
    Your password has been successfully changed.
  </p>
  <p>
    You may now log in to your account using your new password.
  </p>
  <a [routerLink]="['/auth','login']" class="btn btn-primary" target="_parent">
    Log in
  </a>
</div>