<div class="dialog-content">
  <div class="header">
    <span>Activity Feed</span>
    <button class="btn" (click)="onDoneClick()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="notifications">
    <div class="empty-message" *ngIf="!notificationService.notifications">No activity</div>
    <pr-notification *ngFor="let notification of notificationService.notifications"
      [notification]="notification" (click)="onNotificationClick(notification)"></pr-notification>
  </div>
  <div class="footer">
    <button class="btn btn-primary" (click)="markAllAsRead()">Mark All As Read</button>
  </div>
</div>