@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}

.header {
  @include tabbedDialogHeader;
}

.notifications {
  flex: 1 1 auto;
  overflow-y: auto;
}

pr-notification {
  border-bottom: $file-list-border;
}