<!-- @format -->
<div>
	<div class="panel-title">Manage Your Digital Legacy</div>
	<p>
		Your Legacy Plan determines what should happen to your materials on
		Permanent.org in the event of your death or incapacitation. Your Legacy Plan
		has two parts:
	</p>
	<ol>
		<li>
			Designate an account <strong>Legacy Contact</strong> below. This person
			will inform Permanent of your death or incapacitation and activate your
			Legacy Plan as you have outlined it.
		</li>
		<li>
			Designate an <strong>Archive Steward</strong> for each archive that you
			have created in the Archive's Settings menu. Archive Stewards will assume
			ownership and management of your archives.
		</li>
	</ol>
	<p>
		We have additional support and resources about planning your legacy
		<a
			href="https://permanent.zohodesk.com/portal/en/kb/permanent-legacy-foundation/legacy-planning"
			>here</a
		>.
	</p>
	<div class="legacy-contact-header">Your Legacy Contact</div>
	<p class="legacy-contact-description">
		In the event of your death or incapacitation, your Legacy Contact can
		activate your Legacy Plan by reaching out to Permanent.org.
	</p>
	@if (!error) {
		<div class="archive-steward-table">
			<div class="row">
				<div>Legacy Contact name</div>
				<div
					class="legacy-contact-name"
					[class.not-assigned]="!legacyContact?.name"
				>
					{{ legacyContact?.name ?? 'not assigned' }}
				</div>
			</div>
			<div class="row">
				<div>Legacy Contact email</div>
				<div
					class="legacy-contact-email"
					[class.not-assigned]="!legacyContact?.email"
				>
					{{ legacyContact?.email ?? 'not assigned' }}
				</div>
			</div>
		</div>
	}
	@if (error) {
		<div class="error">
			An error occured while trying to find the current account's Legacy Contact
			information. Please reload the page and try again. If the problem
			persists, try logging out and logging in again.
		</div>
	}
	<button class="btn btn-primary" [disabled]="error" (click)="beginEdit.emit()">
		{{ legacyContact?.email ? 'Edit' : 'Assign' }} Legacy Contact
	</button>
</div>
