<!-- @format  -->
<div class="welcome-screen">
	@if (pendingArchives.length > 0) {
		<div class="welcome-message has-invitations">
			<h2>Welcome! Let's join your first archive together.</h2>
			<p>
				You’ve been invited to collaborate on an archive as an archive member. A
				Permanent archive is the collection of digital materials about an
				individual, family or group, or organizational entity. Get started by
				accepting an invitation, or by creating a new archive of your own.
			</p>
			<div class="pending-archive-list" style="margin: 0 auto">
				<strong>Pending invitations:</strong>
				@for (archive of pendingArchives; track archive) {
					<pr-archive-small
						[largeOnDesktop]="true"
						[archive]="archive"
						[accessRole]="archive.accessRole"
						[showAccept]="true"
						[showAcceptMobile]="true"
						[showDefault]="false"
						(acceptClick)="selectPendingArchive(archive)"
						[showRemove]="false"
					></pr-archive-small>
				}
				<br />
				<br />
			</div>
			<div class="create-archive">
				<a
					href="javascript:;"
					(click)="goToScreen(OnboardingScreen.welcomeScreen)"
					>Create a new archive</a
				>
			</div>
		</div>
	}
</div>
