$mobile-breakpoint: 950px;

.welcome-screen {
  text-align: left;
}

.btn {
  white-space: normal !important;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 2.25em;
  margin-bottom: 2.25em;
}

.get-started {
  & > button.btn {
    @media only screen and (max-width: $mobile-breakpoint) {
      width: 100%;
    }
    display: inline-block;
    width: 33%;
  }
  @media only screen and (max-width: $mobile-breakpoint) {
    text-align: center;
  }
  text-align: right;
}
