<div class="archive">
  <div class="archive-thumb" prBgImage [bgSrc]="archive.thumbURL200"></div>
  <div class="archive-name" [ngClass]="{'clickable': clickable}">
    <span class="archive-current" *ngIf="isCurrent && !clickable">
      Current Archive<br>
    </span>
    {{archive.fullName}}
    <span class="archive-switch" *ngIf="isCurrent && clickable">
      <br>Tap to switch archives
    </span>
    <span class="archive-pending" *ngIf="isPending">
      <br>Pending Archive
    </span>
    <span class="archive-subtitle" *ngIf="relation">
      <br>{{relationDisplay}}
    </span>
    <span class="archive-subtitle" *ngIf="accessRole">
      <br>Access: {{accessRoleDisplay}}
    </span>
  </div>
  <!-- <div class="archive-edit">
    <button class="btn btn-primary">Edit</button>
  </div> -->
</div>
