<div class="archive" (click)="archiveClick.emit($event)">
  <div class="archive-thumb" prBgImage [bgSrc]="archive.thumbURL200" [cover]="true"></div>
  <div class="archive-name" [ngClass]="{'clickable': clickable}">
    <span class="archive-current" *ngIf="isCurrent && !clickable">
      Current Archive<br>
    </span>
    The {{archive.fullName}} Archive
    <span class="archive-switch" *ngIf="isCurrent && clickable && !accessRole">
      <br>Tap to switch archives
    </span>
    <span class="archive-pending" *ngIf="isPending && !relation">
      <br>Pending archive
    </span>
    <span class="archive-pending" *ngIf="isPending && relation">
      <br>Pending connection
    </span>
    <span class="archive-subtitle" *ngIf="relation && !isPending">
      <br>Relationship to Archive: {{relationDisplay}}
    </span>
    <span class="archive-subtitle" *ngIf="accessRole && !isCurrent">
      <br>Access: {{accessRoleDisplay}}
    </span>
    <span class="archive-subtitle" *ngIf="clickable && isCurrent">
      <br>Current Archive
    </span>
  </div>
</div>
<div class="archive-edit hide-mobile" *ngIf="largeOnDesktop && (showEdit || showRemove || showAccept)">
  <button class="btn btn-primary" *ngIf="showAccept" (click)="acceptClick.emit($event)" [disabled]="archive.isPendingAction">{{ acceptText }}</button>
  <button class="btn btn-primary" *ngIf="showEdit" (click)="editClick.emit($event)" [disabled]="archive.isPendingAction">Edit</button>
  <button class="btn btn-danger" *ngIf="showRemove" (click)="removeClick.emit($event)" [disabled]="archive.isPendingAction">{{ removeText }}</button>
</div>