@import 'variables';

:host {
  display: block;
  height: $file-list-controls-height;
  display: flex;
  align-items: center;
  border-bottom: $file-list-border;
  position: relative;

  @include until($tablet-horizontal) {
    display: none;
  }
}

.file-list-header {
  $sort-arrow-size: 0.5em;
  flex: 1 1 100%;
  padding-left: $file-list-thumb-col-width;
  display: flex;
  align-items: center;

  font-size: $font-size-sm;

  > * {
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: baseline;

    .col-title {
      cursor: pointer;
    }

    .col-title::after {
      content: '\25BC';
      font-size: $sort-arrow-size;
      padding-left: $sort-arrow-size;
      position: relative;
      top: -$sort-arrow-size / 4;
      opacity: 0.5;
    }

    .col-title:hover::after {
      opacity: 0.75;
    }

    .col-title:only-child {
      pointer-events: none;
      &::after {
        display: none;
      }
    }

    .save-sort {
      display: none;
      opacity: 0.5;
      cursor: pointer;
      font-size: 0.85em;
      padding-left: $sort-arrow-size;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .active-sort {
    .col-title::after {
      opacity: 1;
    }

    &.sort-desc .col-title::after {
      content: '\25B2';
    }
  }

  &.is-sort-changed {
    .active-sort {
      .save-sort {
        display: initial;
      }
    }
  }

  &.hide-sort {
    *::after, .save-sort {
      display: none;
    }

    .col-title {
      cursor: initial;
      pointer-events: none;
    }
  }

  &.is-sorting {
    .col-title {
      cursor: wait;
    }
  }

  &.is-saving-sort {
    .save-sort {
      cursor: wait;
      opacity: 0.5;
    }
  }


  .name {
    flex: 1 1 auto;
    max-width: $file-list-name-col-max-width;
  }

  .type {
    @include file-list-col-type;
  }

  .date {
    @include file-list-col-date;
  }

  .access {
    @include file-list-col-access;
  }
}

.file-list-controls {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: $font-size-sm;
  padding-left: 5px;

  .file-list-control {
    &:not(:last-child) {
      margin-right: 1.25em;
    }

    cursor: pointer;
    user-select: none;

    i {
      opacity: 0.8;
      margin-right: 0.25em;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:hover:not(.disabled) {
      // color: darken($body-color, 15%);
      i {
        opacity: 1;
      }
    }
  }
}