<div
	class="menu-wrapper"
	[ngClass]="{ visible: isVisible }"
	(click)="hide($event)"
>
	<div class="menu right-menu">
		@if (allowedActions.useListView) {
			<a class="menu-item" (click)="setFolderView(folderViews.List)">
				Switch to List View
			</a>
		}
		@if (allowedActions.useGridView) {
			<a class="menu-item" (click)="setFolderView(folderViews.Grid)">
				Switch to Grid View
			</a>
		}
		@if (allowedActions.createFolder) {
			<a class="menu-item" (click)="createNewFolder()"> Create new folder </a>
		}
		@if (allowedActions.folderActions) {
			<a class="menu-item" (click)="showFolderActions()">
				View Folder Actions
			</a>
		}
		@if (allowedActions.multiSelect && !isMultiSelectEnabled) {
			<a class="menu-item" (click)="startMultiSelect()">
				Select Multiple Items
			</a>
		}
		@if (allowedActions.multiSelect && isMultiSelectEnabled) {
			<a class="menu-item" (click)="endMultiSelect()"> Cancel Select Items </a>
		}
		@if (!hasAllowedActions) {
			<a class="menu-item">
				<em>No actions available</em>
			</a>
		}
	</div>
</div>
