@import 'variables';

$transition-length: 0.25s;

.menu-wrapper.visible {
  .right-menu {
    transform: translateY(0);
    transition: transform $transition-length ease-out;
  }
}

.right-menu {
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: $bottom-safe-area-padding;
  transform: translateY(100%);
  transition:  transform $transition-length ease-in;

  .menu-item {
    padding: $input-btn-padding-y * 1.5 10px;
    font-size: $font-size-base;
    line-height: $btn-line-height;
    cursor: pointer;
    user-select: none;
    display: block;

    &.active {
      font-weight: 600;
    }
  }

  .menu-header {
    padding: 10px;
    strong {
      display: block;
    }
  }
}