<!-- @format -->
@if (!loggedIn && !needsMfa) {
	<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)">
		<h1 class="form-title">Log in to Permanent.org to claim your storage</h1>
		<div class="input-group-vertical">
			<pr-form-input
				type="email"
				fieldName="email"
				placeholder="Email"
				[control]="loginForm.controls['email']"
				[config]="{
					autocomplete: 'username',
					autocorrect: 'off',
					autocapitalize: 'off',
					spellcheck: 'off'
				}"
			></pr-form-input>
			<pr-form-input
				type="password"
				fieldName="password"
				placeholder="Password"
				[control]="loginForm.controls['password']"
				[config]="{ autocomplete: 'current-password' }"
			></pr-form-input>
		</div>
		<button
			type="submit"
			class="btn btn-primary"
			[disabled]="waiting || loginForm.invalid"
		>
			Log in
		</button>
		<a [routerLink]="['..', 'claim']"> Need to sign up? </a>
	</form>
}
@if (needsMfa) {
	<form [formGroup]="mfaForm" (ngSubmit)="onMfaSubmit(mfaForm.value)">
		<h1 class="form-title">Verify Access</h1>
		<p>
			A verification code has been sent to your email address.
			<br />
			<br />
			Enter it below to continue.
		</p>
		<input
			type="tel"
			class="form-control"
			id="token"
			placeholder="Code"
			[formControl]="mfaForm.controls['token']"
			autocomplete="one-time-code"
			autocorrect="off"
			autocapitalize="off"
			spellcheck="false"
		/>
		<button type="submit" class="btn btn-primary" [disabled]="waiting">
			Verify Access
		</button>
	</form>
}
@if (loggedIn) {
	<button class="btn btn-primary" (click)="claimStorage()" [disabled]="waiting">
		Claim storage
	</button>
}
@if (loggedIn) {
	<button class="btn btn-danger" (click)="logOut()" [disabled]="waiting">
		Use a different account
	</button>
}
