@import 'variables';

.menu {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  display: flex;

  @include after($tablet-horizontal) {
    @include positionReset;
    width: 400px;
    max-height: 90vh;
    overflow-y: auto;
    opacity: 0;
  }
}

.menu-wrapper {
  @include after($tablet-horizontal) {
    @include flexCenter;
    &.visible {
      .menu {
        opacity: 1;
      }
    }
  }
}

.dialog-auto-height {
  .menu {
    top: auto;
    height: auto;
    box-shadow: $box-shadow-dark;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &.menu-wrapper.visible {
    background-color: $shadow-color-dark;
  }
}


@include after($tablet-horizontal) {
  .dialog-auto-width {
    .menu {
      width: auto;
      flex: 1 1 auto;
      box-shadow: $box-shadow-dark;
    }

    &.menu-wrapper {
      display: flex;
      justify-content: center;
    }
  
    &.menu-wrapper.visible {
      background-color: $shadow-color-dark;
    }
  }

  .dialog-auto-height {
    .menu {
      border-radius: $border-radius;
    }
  }
}


// custom dialog menu classes for use with menuClass
.menu-wrapper {
  .profile-editor-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: none;
    transform: translateX(-100%);
    opacity: 1;
  }

  .notification-dialog {
    position: fixed;
    top: 0;
    left: initial;
    right: 0;
    width: pxToGrid(400px);
    bottom: 0;
    max-height: none;
    transform: translateX(100%);
    opacity: 1;

    @include beforeDesktop {
      left: 0;
      width: 100%;
    }
  }

  &.visible {
    .profile-editor-dialog, .notification-dialog {
      transform: translateX(0);
    }
  }
}