<!-- @format  -->
<div
  class="menu-wrapper"
  [ngClass]="{
    visible: isVisible,
    'dialog-auto-height': height === 'auto',
    'dialog-auto-width': width !== 'fullscreen'
  }"
  #menuWrapper
  (mousedown)="onMenuWrapperClick($event)"
>
  <div
    class="menu"
    [ngStyle]="{
      'max-width':
        width === 'fullscreen' || (isMobile() && !mobileWidth)
          ? ''
          : width ?? mobileWidth,
      borderRadius: borderRadius
    }"
    [ngClass]="menuClass"
  >
    <ng-template #dialogContent></ng-template>
  </div>
</div>
