$transition-length: 0.33s;

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.alert {
  margin: 0;
  cursor: pointer;
}

.alert-wrapper {
  padding: 0px 10px 10px;
  transform: translateY(100%);
  transition: $transition-length ease-in transform;
  
  &.visible {
    transform: translateY(0);
    transition: $transition-length ease-out transform;
  }
}