@import 'variables';

$transition-length: $default-transition-length;


.hamburger-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  max-width: 80%;
  transform: translateX(-100%);
  overflow: auto;

  .menu-item {
    padding: $input-btn-padding-y * 1.5 10px;
    font-size: $font-size-base;
    line-height: $btn-line-height;
    cursor: pointer;
    user-select: none;
    display: block;

    &.active {
      font-weight: 600;
    }
  }

  .menu-header {
    padding: 10px;
    strong {
      display: block;
    }
    box-shadow: $box-shadow-sm;
    border-bottom: 1px solid $gray-300;
    margin-bottom: $input-btn-padding-y * 1.5;
  }
}

@supports (padding-left: env(safe-area-inset-left)) {
  .menu.hamburger-menu {
    --safe-area-inset-left: env(safe-area-inset-left);
    width: calc(300px + var(--safe-area-inset-left)) !important;

    .menu-header, .menu-item{
      padding-left: calc(10px + var(--safe-area-inset-left)) !important;
    }
  }
}