@import 'variables';

$transition-length: $default-transition-length;


.hamburger-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $left-menu-width;
  max-width: 80%;
  transform: translateX(-100%);
  background-color: $PR-blue;
  color: white;
  max-height: 100vh;

  .menu-item {
    padding: $input-btn-padding-y * 1.5 10px;
    font-size: $font-size-base;
    line-height: $btn-line-height;
    cursor: pointer;
    user-select: none;
    display: block;
    color: white;
    font-weight: 500;

    transition: background-color $transition-length / 4 ease-in;

    i {
      width: 1rem;
      display: inline-block;
    }

    &:hover {
      background-color: lighten($PR-blue, 4%);
      text-decoration: none;
      transition: none;
    }

    &.active {
      background-color: lighten($PR-blue, 7%);
      transition: none;
      position: relative;
    }

    &.active:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 10px;
      background-color: lighten(lighten($PR-blue, 7%), 7%);
      box-shadow: $box-shadow;
      animation-name: slideIn;
      animation-duration: 0.25s;
      animation-timing-function: $tweaked-ease;
    }

    &.drop-target, &.drop-target:hover {
      background-color: $PR-purple;
    }
  }

  .menu-header {
    padding: 10px;
    strong {
      display: block;
    }
  }

  .menu-branding {
    display: none;
  }


  .menu-scroll {
    max-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
  }
}


@include after($tablet-horizontal) {
  .hamburger-menu {
    // transform: translateX(0);
    visibility: visible;
  
    .menu-header {
      border-bottom: 0px solid;
      box-shadow: none;
      margin-bottom: 0px;
      height: $breadcrumb-height-desktop;
      display: flex;
      align-items: center;
    }

    .menu-scroll {
      max-height: calc(100vh - #{$navbar-total-height-desktop});
    }

    .menu-branding {
      padding-left: 10px;
      height: $navbar-height-desktop;
      display: flex;
      align-items: center;
      img {
        height: $navbar-height-desktop / 3;
      }
      // box-shadow: $box-shadow;
    }
  }

  .menu-wrapper.visible {
    left: 0;
    right: 0;
    visibility: hidden;
  }


}

@supports (padding-left: env(safe-area-inset-left)) {
  .menu.hamburger-menu {
    --safe-area-inset-left: env(safe-area-inset-left);
    width: calc(#{$left-menu-width} + var(--safe-area-inset-left)) !important;

    .menu-header, .menu-item{
      padding-left: calc(10px + var(--safe-area-inset-left)) !important;
    }
  }
}