<div class="reasons-screen">
	<div class="text-container">
		<p class="what-is-important">
			Tell us what's <b class="bold">important</b> to you
		</p>
		<p class="text">
			Finally, we’re curious... <br /><b>What brought you to Permanent.org?</b>
		</p>
	</div>
	<div class="reasons">
		@for (item of reasons; track $index) {
			<div class="reason-container">
				<pr-glam-user-survey-square
					[text]="item.text"
					[tag]="item.tag"
					[selected]="selectedReasons.includes(item.tag)"
					(selectedChange)="addReason(item.tag)"
				></pr-glam-user-survey-square>
			</div>
		}
	</div>
	<div class="buttons">
		<div class="skip-step-button">
			<pr-button
				(buttonClick)="skipStep()"
				[icon]="'onboarding/back-reverse'"
				[orientation]="'right'"
				[style]="{ 'justify-content': 'center', border: 'none' }"
				[size]="'fill'"
				>Skip this step</pr-button
			>
		</div>
		<div class="action-buttons">
			<div class="back-button">
				<pr-button
					(buttonClick)="backToGoals()"
					[size]="'fill'"
					[icon]="'onboarding/back'"
					[style]="{ 'justify-content': 'center' }"
					>Back</pr-button
				>
			</div>
			<div class="next-button">
				<pr-button
					(buttonClick)="finalizeArchive()"
					[orientation]="'right'"
					[icon]="'onboarding/arrow-right'"
					[size]="'fill'"
					[variant]="'secondary'"
					[style]="{ 'justify-content': 'center' }"
					[disabled]="!selectedReasons.length"
					>Next</pr-button
				>
			</div>
		</div>
	</div>
</div>
