<div class="dialog-content">
  <div class="header">
    <span>My Archives</span>
    <button class="btn" (click)="onDoneClick()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="content">
    <div class="tabs">
      <div class="dialog-tab"
        (click)="setTab('switch')" [class.active]="activeTab === 'switch'">
        Switch Archives
      </div>
      <div class="dialog-tab" (click)="setTab('pending')" [class.active]="activeTab === 'pending'">
        Pending Archives
      </div>
      <div class="dialog-tab"
        (click)="setTab('new')" [class.active]="activeTab === 'new'">
        New Archive
      </div>
    </div>
    <div class="panel" #pending>
      <ng-container [ngSwitch]="activeTab">
        <ng-container *ngSwitchCase="'switch'">
          <div class="panel-title">({{archives.length}}) Archives</div>
          <pr-archive-small *ngFor="let archive of archives" (archiveClick)="onArchiveClick(archive)"
            [clickable]="true"
            [largeOnDesktop]="true" [archive]="archive"
            [accessRole]="archive.accessRole"></pr-archive-small>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>