<div class="dialog-content">
	<div class="header">
		<span>My Archives</span>
		<button class="btn" (click)="onDoneClick()">
			<i class="material-icons">close</i>
		</button>
	</div>
	<div class="content">
		<div class="tabs">
			<div
				class="dialog-tab"
				(click)="setTab('switch')"
				[class.active]="activeTab === 'switch'"
			>
				Switch Archives
			</div>
			<div
				class="dialog-tab"
				(click)="setTab('pending')"
				[class.active]="activeTab === 'pending'"
			>
				Pending Archives
			</div>
			<div
				class="dialog-tab"
				(click)="setTab('new')"
				[class.active]="activeTab === 'new'"
			>
				New Archive
			</div>
		</div>
		<div class="panel" #panel>
			<ng-container [ngSwitch]="activeTab">
				<ng-container *ngSwitchCase="'switch'">
					<div class="panel-title">({{ archives?.length }}) Archives</div>
					<pr-archive-small
						*ngFor="let archive of archives"
						(archiveClick)="onArchiveClick(archive)"
						[clickable]="true"
						[showAccept]="account.defaultArchiveId !== archive.archiveId"
						acceptText="Make Default"
						acceptIcon="star"
						(acceptClick)="onArchiveMakeDefaultClick(archive)"
						[showRemove]="
							archive.accessRole.includes('owner') &&
							currentArchive.archiveId !== archive.archiveId &&
							account.defaultArchiveId !== archive.archiveId &&
							archives?.length > 1
						"
						removeText="Delete Archive"
						(removeClick)="onArchiveDeleteClick(archive)"
						[largeOnDesktop]="true"
						[archive]="archive"
						[actionsAsDropdown]="true"
						[accessRole]="archive.accessRole"
						[class.waiting]="archive.isPendingAction"
					></pr-archive-small>
				</ng-container>
				<ng-container *ngSwitchCase="'pending'">
					<div class="panel-title">
						({{ pendingArchives?.length }}) Pending Archives
					</div>
					<div *ngIf="!pendingArchives?.length">No pending archives</div>
					<pr-archive-small
						*ngFor="let archive of pendingArchives"
						[largeOnDesktop]="true"
						[archive]="archive"
						[accessRole]="archive.accessRole"
						[showAccept]="true"
						(acceptClick)="acceptPendingArchive(archive)"
						[showRemove]="true"
						removeText="Decline"
						(removeClick)="declinePendingArchive(archive)"
					>
					</pr-archive-small>
				</ng-container>
				<ng-container *ngSwitchCase="'new'">
					<pr-new-archive-form
						[showRelations]="true"
						(success)="onNewArchiveFormSubmit($event)"
						(error)="onNewArchiveFormFailure($event)"
					></pr-new-archive-form>
				</ng-container>
			</ng-container>
		</div>
	</div>
</div>
