/* @format */
@import 'variables';

:host {
  background: $linear-gradient-background;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0px 64px;
}

.auth-container {
  display: flex;
  gap: 64px;
  width: 100%;
  align-items: center;

  @include beforeDesktop {
    justify-content: center;
  }
}

.auth {
  width: 25%;

  @include beforeDesktop {
    width: 100%;
  }
}

.image {
  width: 65%;

  @include beforeDesktop {
    display: none;
  }
}

.permanent-logo {
  margin-bottom: 32px;
}
