<div class="auth-container">
  <div class="image">
    <div class="testimony">
      <p class="name">Li Wei</p>
      <p class="location">Shenzhen Shi, China</p>
      <p class="text">
        Permanent.org has been a revelation for me. It's secure, easy to use,
        and incredibly reliable. My works, my legacy, are safe here. I recommend
        it to all in our field.
      </p>
    </div>
    <img src="assets/img/placeholder_sign_in_image.png" />
  </div>
  <div class="auth">
    <div class="permanent-logo">
      <img src="assets/svg/app-icon-glam.svg" alt="Permanent.org logo" />
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<pr-mobile-banner></pr-mobile-banner>
<pr-announcement></pr-announcement>
<pr-android-app-notify></pr-android-app-notify>
<pr-prompt></pr-prompt>
