<pr-announcement></pr-announcement>
<div class="auth-root">
	<div class="auth-container">
		<div class="image">
			<div class="testimony">
				<p class="heading">Our most requested Sharing Feature has arrived!</p>
				<p class="text">A private link that anyone you choose can access.</p>
				<a
					class="link"
					href="https://www.permanent.org/blog/you-can-now-share-your-private-archive-with-just-a-link/"
					>Learn more about this feature</a
				>
			</div>
		</div>
		<div class="auth">
			<div class="permanent-logo">
				<img src="assets/svg/app-icon-glam.svg" alt="Permanent.org logo" />
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
	<pr-mobile-banner></pr-mobile-banner>
	<pr-android-app-notify></pr-android-app-notify>
	<pr-prompt></pr-prompt>
</div>
