<!-- @format -->
<ng-container [ngSwitch]="mode">
  <pr-directive-display
    *ngSwitchDefault
    [checkLegacyContact]="true"
    [initialDirective]="directive"
    (loadedDirective)="setSavedDirective($event)"
    (beginEdit)="switchToEdit($event)"
  ></pr-directive-display>
  <ng-container *ngSwitchCase="'edit'">
    <a class="edit-close" (click)="mode = 'display'">
      <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
    </a>
    <pr-directive-edit
      [directive]="directive"
      (savedDirective)="saveEditedDirective($event)"
    ></pr-directive-edit>
  </ng-container>
</ng-container>
