<!-- @format -->
@switch (mode) {
	@default {
		<pr-directive-display
			[checkLegacyContact]="true"
			[initialDirective]="directive"
			(loadedDirective)="setSavedDirective($event)"
			(beginEdit)="switchToEdit($event)"
		></pr-directive-display>
	}
	@case ('edit') {
		<a class="edit-close" (click)="mode = 'display'">
			<fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
		</a>
		<pr-directive-edit
			[directive]="directive"
			(savedDirective)="saveEditedDirective($event)"
		></pr-directive-edit>
	}
}
