version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7
    groups:
      storybook:
        patterns:
          - '@storybook/*'
          - 'storybook'
          - 'eslint-plugin-storybook'
          - '@chromatic-com/storybook'
      angular:
        patterns:
          - '@angular/*'
          - 'angular-*'
      eslint:
        patterns:
          - '*eslint*'
        exclude-patterns:
          - 'eslint-plugin-storybook'
      vis:
        patterns:
          - 'vis-*'
      jest:
        patterns:
          - '*jest*'
    ignore:
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      - dependency-name: jest-preset-angular'
        update-types: ['version-update:semver-major']

  - package-ecosystem: 'github-actions'
    directory: '.github/workflows'
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7
