@import 'variables';

nav {
  display: flex !important;
  flex-wrap: nowrap;
}

.gallery-header {
  width: 100%;
  height: 80px;
  margin: 0 0 29px;
  padding: 20px 39px 20px 20px;
  background-color: #131b4a;
}

.banner-logo {
  width: 100%;
  max-width: 200px;
}

.return-btn {
  width: auto;
}

.login-buttons {
  display: flex;
}

.loggedout-btn {
  text-decoration: none;

  & > div {
    padding: 4px $grid-unit;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    border-radius: 3px;
    border: solid 1px #fff;
    margin-left: calc($grid-unit / 2);
    margin-right: calc($grid-unit / 2);
    transition:
      background-color 0.3s,
      color 0.3s;
    white-space: nowrap;

    @include desktop {
      line-height: 2;
    }
  }

  &:hover > div {
    background-color: #fff8;
    color: #131b4a;
  }
}

.signup {
  color: #fff;
}

.login {
  color: #131b4a;
  background-color: #fff;
}

nav.navbar {
  padding: 0 0.5rem;
  color: white;
  height: $navbar-height;
  align-items: center;
  background-color: $PR-blue;
  display: flex;
  flex-wrap: nowrap;

  @include desktop {
    height: $navbar-height-desktop;
    padding-left: $grid-unit;
    padding-right: $grid-unit;
  }

  .logo {
    flex-shrink: 1;
  }
  .return-btn {
    flex-shrink: 1;
    margin-left: $grid-unit;
  }
}
