<!-- @format -->
<nav class="gallery-header navbar navbar-dark nav-desktop">
	<a class="logo" href="/">
		<img class="banner-logo" src="assets/img/logo/sideways_logo.png" />
	</a>
	<a
		[routerLink]="['/app']"
		class="return-btn btn btn-wordpress"
		*ngIf="isLoggedIn; else logInButtons"
	>
		<div class="return">Return to Archive Manager</div>
	</a>
	<ng-template #logInButtons>
		<div class="login-buttons">
			<a [routerLink]="['/app', 'auth', 'signup']" class="loggedout-btn"
				><div class="signup">Sign Up</div></a
			>
			<a [routerLink]="['/app', 'login']" class="loggedout-btn"
				><div class="login">Log In</div></a
			>
		</div>
	</ng-template>
</nav>
