@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_PACKAGE_TOKEN}
# @angular/fire and @storybook/angular have not yet published Angular 22 / TS 6
# compatible peer ranges. Allow installs (incl. CI `npm ci`) to proceed until they do.
legacy-peer-deps=true