<div
	class="menu-wrapper"
	[ngClass]="{ visible: isVisible }"
	(click)="cancel($event)"
>
	<div class="menu prompt" (click)="$event.stopPropagation()">
		@if (title) {
			<div class="prompt-title">{{ title }}</div>
		}
		@if (template) {
			<div class="prompt-template" [innerHTML]="template"></div>
		}
		@if (editForm) {
			<form [formGroup]="editForm" (ngSubmit)="save($event)">
				<div class="input-group-vertical">
					@for (field of fields; track field) {
						<pr-form-input
							[type]="field.type || 'text'"
							[fieldName]="field.fieldName"
							[placeholder]="field.placeholder"
							[control]="editForm.controls[field.fieldName]"
							[config]="field.config"
							[selectOptions]="field.selectOptions"
						></pr-form-input>
					}
				</div>
				<div class="prompt-field-buttons">
					<button
						type="button"
						class="btn btn-secondary"
						(click)="cancel($event)"
						[disabled]="waiting"
					>
						{{ cancelText }}
					</button>
					<button
						type="submit"
						class="btn btn-primary"
						[disabled]="waiting || editForm.invalid"
					>
						{{ saveText }}
					</button>
				</div>
			</form>
		}
		@if (editButtons) {
			<div class="prompt-buttons">
				@for (button of editButtons; track button) {
					<button
						[id]="button.buttonName"
						class="btn"
						type="button"
						(click)="clickButton(button, $event)"
						[disabled]="waiting"
						[ngClass]="button.class || 'btn-primary'"
					>
						{{ button.buttonText }}
					</button>
				}
			</div>
		}
	</div>
</div>
