@import 'variables';

$transition-length: 0.4s;

.menu-wrapper.visible {
	.prompt {
		transform: translateY(0);
		// transition: transform $transition-length ease-out;
	}
}

.prompt {
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(100%);
	// transition:  transform $transition-length ease-in;
	max-height: 85vh;
	overflow-y: auto;
	webkit-overflow-scrolling: touch;

	@include after($tablet-horizontal) {
		opacity: 0;
	}
}

@include after($tablet-horizontal) {
	.menu-wrapper {
		z-index: 10000;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.visible {
		.prompt {
			opacity: 1;
		}
	}

	.prompt {
		border-radius: $border-radius;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 400px;
		height: auto;
	}
}

.prompt-field-buttons {
	text-align: right;
	button {
		display: inline-block;
		width: auto;
		margin: 0 0 0 10px;
	}
}

.prompt-buttons {
	padding: 0px 10px;
}

.prompt-title {
	padding: 10px 10px 0px;
	font-weight: 600;
	max-width: 420px;
	margin: 0px auto;
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

.prompt-template {
	max-width: 420px;
	margin: 0 auto;
	padding: 10px 10px 0px;
}
