/* @format */
:host {
  flex: 1;
  max-width: 100%;
}

.dialog-content {
  background-color: white;
  padding-bottom: 2px;
}

.public-link-button,
.public-link {
  padding: 0 10px;
}

.internet-archive-logo {
  display: block;
  width: 50%;
  margin: 1em;
}

.buttons {
  display: flex;

  .btn:not(:last-child) {
    margin-right: 10px;
  }
}

.dialog-footer {
  & > .btn {
    width: 380px;
  }
}
