<div class="menu-wrapper" [ngClass]="{ visible: visible }">
	<div class="menu folder-picker">
		<div class="picker-header">
			@if (!isRootFolder || selectedRecord) {
				<div class="picker-back" (click)="onBackClick()">
					<i class="material-icons migrated-ionicon">chevron_left</i> Back
				</div>
			}
			<div class="picker-folder-name">
				{{
					currentFolder
						? selectedRecord
							? selectedRecord.displayName
							: currentFolder.displayName
						: 'Loading...'
				}}
			</div>
			@if (!isRootFolder || selectedRecord) {
				<div class="picker-back"></div>
			}
		</div>
		@if (!currentFolder) {
			<div class="picker-contents"></div>
		}
		@if (currentFolder && !selectedRecord) {
			<div class="picker-contents" [ngClass]="{ navigating: waiting }">
				@for (item of currentFolder.ChildItemVOs; track item) {
					<div class="picker-row" (click)="onItemClick(item, $event)">
						@switch (item.isFolder) {
							@case (true) {
								<div class="folder-icon">
									<i class="material-icons">folder</i>
								</div>
							}
							@default {
								<div
									prBgImage
									[bgSrc]="item.thumbURL200 || item.thumbUrl200"
								></div>
							}
						}
						<div class="name">{{ item.displayName }}</div>
					</div>
				}
				@if (
					!currentFolder.ChildItemVOs || !currentFolder.ChildItemVOs.length
				) {
					<div class="picker-empty">
						{{ allowRecords ? 'This folder is empty' : 'No subfolders' }}
					</div>
				}
			</div>
		}
		@if (selectedRecord) {
			<div class="picker-contents picker-selected-record">
				<div
					prBgImage
					[bgSrc]="selectedRecord.thumbURL200 || selectedRecord.thumbUrl200"
				></div>
			</div>
		}
		<div class="picker-footer">
			<button class="btn btn-secondary" (click)="hide()" [disabled]="saving">
				Cancel
			</button>
			<button
				class="btn btn-primary"
				(click)="chooseFolder()"
				[disabled]="
					saving ||
					waiting ||
					(operation === 3 && !selectedRecord) ||
					cannotCopyToFolder()
				"
			>
				{{ operation ? operationName : 'Choose' }}
			</button>
		</div>
	</div>
</div>
