<!-- @format -->
<form
  [hidden]="success"
  [formGroup]="forgotForm"
  (ngSubmit)="onSubmit(forgotForm.value)"
>
  <h1 class="page-title">Password Reset Request</h1>
  <p class="page-text">
    Enter the email address used to sign up for your account to receive
    instructions on how to reset your password.
  </p>
  <div class="password-input">
    <pr-form-input-glam
      type="email"
      fieldName="email"
      placeholder="Email address"
      [variant]="'dark'"
      [control]="forgotForm.controls['email']"
      [config]="{
        autocomplete: 'email',
        autocorrect: 'off',
        autocapitalize: 'off',
        spellcheck: 'off'
      }"
    ></pr-form-input-glam>
  </div>
  <div class="buttons">
    <pr-button
      [attr]="'submit'"
      [text]="'Recover my password'"
      [variant]="'secondary'"
      [size]="'fill'"
      [icon]="'/auth/recover-password'"
      [orientation]="'right'"
      [disabled]="waiting || forgotForm.invalid"
    ></pr-button>
    <pr-or-divider></pr-or-divider>
    <pr-button
      [text]="'Back to Sign in'"
      [variant]="'primary'"
      [size]="'fill'"
      [orientation]="'right'"
      [icon]="'/auth/back'"
      [routerLink]="['..', 'login']"
      queryParamsHandling="merge"
    ></pr-button>
  </div>
</form>
<div [hidden]="!success">
  <h1 class="page-title">Forgot your password?</h1>
  <p class="page-text no-border">Thank you!</p>
  <p class="page-text instructions">
    If your email was found in our account database, you will receive an email
    shortly.
  </p>
  <pr-button
    [text]="'Ok, back to Sign In'"
    [variant]="'primary'"
    [size]="'fill'"
    [icon]="'/auth/back'"
    [orientation]="'right'"
    [routerLink]="['..', 'login']"
    queryParamsHandling="merge"
  ></pr-button>
</div>
