/* @format */
@import 'fonts';
@import 'mixins';
@import 'variables';

:host {
  position: relative;
}

form {
  padding: 0;
  @include beforeDesktop {
    padding: 0px 20px;
  }
  margin: 0;
}

.page-title {
  @include pageTitle;
  margin-bottom: 32px;
}

.page-text {
  @include pageText;
  margin-bottom: 200px;
}

.password-input {
  margin-bottom: 32px;
}

.no-border {
  margin-bottom: 0px;
}

.instructions {
  margin-bottom: 408px;
}
