<form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)" [hidden]="success">
  <h1 class="form-title">
    Password Reset Request
  </h1>
  <p>Enter the email address used to sign up for your account to receive instructions on how to reset your password.</p>
  <div class="input-group-vertical">
    <pr-form-input type="text" fieldName="email" placeholder="Email" [control]="forgotForm.controls['email']"
    [config]="{autocomplete: 'email', autocorrect: 'off', autocapitalize: 'off', spellcheck: 'off'}"></pr-form-input>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="waiting || forgotForm.invalid">Send request</button>
  <a [routerLink]="['..','signup']">
    Need to sign up?
  </a>
</form>
<div [hidden]="!success">
  <p>
    An email has been sent to <strong>{{forgotForm.value.email}}</strong> and should arrive shortly.
  </p>
  <p>
    Follow the instructions to reset your account password.
  </p>
  <br>
  <a class="block-center" [routerLink]="['..', 'login']">
    Want to log in?
  </a>
</div>