<pr-login-logo></pr-login-logo>
<form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)" (blur)="setErrorMessages()">
  <h1 class="form-title">
    Password Reset Request
  </h1>
  <p>Enter the email address used to sign up for your account to receieve instructions on how to reset your password.</p>
  <div class="input-group-vertical">
    <div class="input-vertical">
        <input type="text" class="form-control" id="email" placeholder="Email" required="required"
        formControlName="email"
        autocomplete="email" autocorrect="off" autocapitalize="off" spellcheck="false">
        <div class="input-vertical-error" *ngIf="formErrors.email">
          {{formErrors.email}}
        </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="waiting || forgotForm.invalid">Send request</button>
  <a [routerLink]="['/signup']">
    Need to sign up?
  </a>
</form>