<div #value class="value">
  <div
    class="value-line"
    *ngIf="!editing; else valueEditor"
    (click)="dismissAllEditors($event)"
  >
    <span class="value-name">{{ displayName }}</span>
    <div class="edit-delete-trigger" (click)="openMenu($event)">
      <fa-icon icon="ellipsis-h"></fa-icon>
    </div>
  </div>
  <ng-template #valueEditor>
    <div class="value-editor">
      <form (ngSubmit)="saveTag()">
        <input
          type="text"
          name="newValueName"
          id="newValueName"
          [(ngModel)]="newValueName"
          [ngModelOptions]="{ standalone: true }"
          [placeholder]="displayName"
          required
          [disabled]="waiting"
          (click)="$event.stopPropagation()"
          (keydown.enter)="saveTag()"
          (keydown.escape)="reset()"
          cdkTrapFocusAutoCapture
          cdkTrapFocus
        />
      </form>
    </div>
  </ng-template>
  <div #menu class="edit-delete-menu" *ngIf="menuOpen">
    <div class="edit" (click)="openEditor($event)">
      <fa-icon icon="edit"></fa-icon> Edit
    </div>
    <div class="delete" (click)="deleteTag($event)">
      <fa-icon icon="trash"></fa-icon> Delete
    </div>
  </div>
</div>
