<em *ngIf="loading"> Loading... </em>
<ng-container *ngIf="!loading">
  <p *ngIf="!ledgerItemPages.length">This account has uploaded no files.</p>
  <ng-container *ngIf="ledgerItemPages?.length">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Storage Amount</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ledgerItemPages[currentPage - 1]">
          <td>{{ item.createdDT | date }}</td>
          <td>{{ item.spaceDelta | dsFileSize }}</td>
          <td>{{ item.type | prConstants }}</td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="ledgerItemCount"
      [maxSize]="maxPageCount"
      [rotate]="true"
      [ellipses]="false"
    >
    </ngb-pagination>
  </ng-container>
</ng-container>
