<ng-template cdkPortal>
	<button
		class="btn btn-primary"
		(click)="onCreateArchiveClick()"
		id="createArchive"
	>
		Create an Archive
	</button>
</ng-template>
<div class="sidebar">
	<div class="title">Pending archives</div>
	@if (!pendingArchives.length) {
		<div>No pending archives</div>
	}
	@for (archive of pendingArchives; track archive) {
		<div class="sidebar-archive">
			<div class="sidebar-archive-main">
				<div
					class="archive-thumb"
					prBgImage
					[bgSrc]="archive | getThumbnail"
					[cover]="true"
				></div>
				<div class="archive-info">
					<div class="name">{{ archive.fullName }}</div>
					<div class="access-role">
						Access: {{ archive.accessRole | prConstants }}
					</div>
				</div>
			</div>
			<div class="sidebar-archive-actions">
				<button
					class="btn btn-sm btn-success"
					(click)="acceptPendingArchive(archive)"
				>
					Accept
				</button>
				<button
					class="btn btn-sm btn-danger"
					(click)="declinePendingArchive(archive)"
				>
					Accept
				</button>
			</div>
		</div>
	}
</div>
<div class="page-subheading">({{ archives.length }}) Archives</div>
@if (!archives.length) {
	<div>No archives</div>
}
<div class="archives">
	@for (archive of archives; track archive) {
		<pr-archive-small
			[largeOnDesktop]="true"
			[archive]="archive"
			[accessRole]="archive.accessRole"
			[showAccept]="true"
			[acceptText]="'Switch'"
			(acceptClick)="archiveClick(archive)"
		>
		</pr-archive-small>
	}
</div>
