<div class="{{ componentName }}">
  <div
    *ngIf="emails.length || websites.length"
    [ngClass]="componentName + '-contact'"
  >
    <p class="title">Contact</p>
    <a
      [ngbTooltip]="item"
      class="link"
      [href]="'mailto:' + item"
      target="_blank"
      *ngFor="let item of emails"
    >
      {{ item }}
    </a>
    <a
      [ngbTooltip]="item"
      class="link"
      [href]="item | prependProtocol"
      *ngFor="let item of websites"
    >
      {{ item }}
    </a>
  </div>

  <div *ngIf="description" [ngClass]="componentName + '-about'">
    <p class="title">About</p>
    <div [innerHTML]="description" class="description"></div>
  </div>
</div>
