<!-- @format -->
<div class="panel-title">Two Factor Authentication</div>
<p>
  Enhance account security by requiring a login authentication code. If both
  email and SMS text are enabled, it will default to SMS text.
</p>
<p class="enabled-text" *ngIf="methods.length">Two Factor Auth is Enabled.</p>
<div class="methods-table">
  <div *ngFor="let m of methods" class="method">
    <div class="details">
      <p>
        Method: <b>{{ methodsDictionary[m.method] }}</b>
      </p>
      <p>
        {{ m.value === 'sms' ? 'Phone' : 'Email Address' }}
        <b>
          {{ m.value }}
        </b>
      </p>
    </div>
    <div class="delete-button">
      <button (click)="removeMethod(m)" class="btn btn-link">Delete</button>
    </div>
  </div>
</div>
<div class="button-container">
  <button
    class="btn btn-primary"
    [disabled]="methods.length === 2"
    (click)="turnOn = true"
  >
    {{ methods.length ? 'Add Another Method' : 'Turn On' }}
  </button>
</div>
<div *ngIf="turnOn || selectedMethodToDelete">
  <p *ngIf="!selectedMethodToDelete">
    1. Please select your preferred 2FA method.
  </p>
  <select
    *ngIf="!selectedMethodToDelete"
    class="form-control"
    [(ngModel)]="method"
    (ngModelChange)="updateContactInfoValidators()"
  >
    <option value="email">Email</option>
    <option value="sms">SMS</option>
  </select>
  <form *ngIf="method" [formGroup]="form" (submit)="submitData(form.value)">
    <p>
      2. Enter your contact information for the preferred method below and click
      the button to send a one-time use code.
      <span *ngIf="method === 'sms'">
        At this time, we can only accept North American cell phone numbers for
        sms.</span
      >
    </p>
    <div class="input-group-vertical">
      <pr-form-input
        type="text"
        fieldName="contactInfo"
        placeholder="{{
          method === 'sms' ? '(XXX) XXX - XXXX' : 'ex. janedoe123@gmail.com'
        }}"
        [control]="form.controls['contactInfo']"
      ></pr-form-input>
      <small *ngIf="form.get('contactInfo').errors?.email" class="text-danger">
        Please enter a valid email address.
      </small>
      <small
        *ngIf="form.get('contactInfo').errors?.maxlength"
        class="text-danger"
      >
        The number exceeds the maximum length of 10 characters.
      </small>
    </div>
    <div class="send-code-button button-container">
      <button
        [disabled]="!form.value.contactInfo"
        (click)="sendCode()"
        class="btn btn-primary"
      >
        Send Code
      </button>
    </div>
    <p class="expirty-time" *ngIf="codeSent">
      <img src="/assets/svg/caution.svg" />
      This code expires in X[amount of time]
    </p>
    <div>
      <p>3. Enter the four digit code below</p>
      <div class="input-group-vertical">
        <pr-form-input
          [disabled]="!codeSent"
          type="text"
          fieldName="email"
          placeholder="XXXX"
          [control]="form.controls['code']"
        ></pr-form-input>
      </div>
      <div class="button-container button-group">
        <button class="btn btn-primary">Enable</button>
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
