<pr-file-list-controls [hidden]="!showSidebar" #controls></pr-file-list-controls>
<div class="file-list-scroll"
  (scroll)="onViewportScroll($event)" (mousemove)="onViewportMouseMove($event)" 
  [class.is-sorting]="controls?.isSorting$ | async" #scroll>
  <pr-folder-description [folder]="currentFolder" *ngIf="showFolderDescription && !isRootFolder"></pr-folder-description>
  <pr-file-list-item *ngFor="let item of currentFolder.ChildItemVOs"
    [item]="item"
    [folderView]="folderView"
    [multiSelect]="isMultiSelectEnabled"
    [allowNavigation]="allowNavigation"
    [isSelected]="selectedItems.has(item)"
    (itemClicked)="onItemClick($event)"></pr-file-list-item>
  <div class="empty-message" *ngIf="!currentFolder.ChildItemVOs || !currentFolder.ChildItemVOs.length">
    This folder is empty
  </div>
</div>
<pr-sidebar *ngIf="showSidebar"></pr-sidebar>
<div class="file-list-drag-target" [class.active]="isDraggingFile">
  Drop files to upload to {{currentFolder.displayName}}
</div>
<div [@slideUpAnimation]="device.isMobileWidth() && o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>


