@import 'variables';

:host {
  @include has-breadcrumbs;
  width: 100%;
  &.grid-view {
    // background-color: $gray-100;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &.no-padding {
    padding-top: 0px;
  }


  &.file-list-centered {
    @include public-centered;
  }

  pr-sidebar {
    display: none;
  }

  .file-list-scroll {
    opacity: 1;
    
    &.is-sorting {
      opacity: 0.5;
      cursor: wait;
      * {
        pointer-events: none;
      }
    }
  }

  @include after($tablet-horizontal) {
    &.show-sidebar {
      width: calc(100% - #{$sidebar-width});
      height: calc(100vh - #{$navbar-total-height-desktop});

      pr-sidebar {
        display: block;
      }

      .file-list-scroll {
        overflow: hidden;
        overflow-y: auto;
        height: calc(100vh - #{$navbar-total-height-desktop + $file-list-controls-height});
        max-height: calc(100vh - #{$navbar-total-height-desktop + $file-list-controls-height});
        padding-bottom: $file-list-row-height * 1;
      }
    }
  }
}

.empty-message {
  padding: 20px 10px;
  text-align: center;
}