<div class="search-results" [hidden]="resultsCount === null">
	@for (archive of searchResults$ | async; track archive; let i = $index) {
		<div
			class="archive-result"
			(click)="onArchiveSelect(archive)"
			[class.active]="i === activeResultIndex"
		>
			<div
				class="archive-thumb"
				prBgImage
				[bgSrc]="archive | getThumbnail"
				[cover]="true"
			></div>
			<div class="archive-name">The {{ archive.fullName }} Archive</div>
		</div>
	}
	@if (!resultsCount && control.valid) {
		<div class="empty-result" (click)="onInvite(control.value)">
			Invite {{ control.value }}
		</div>
	}
	@if (!resultsCount && control.invalid) {
		<div class="empty-result">No Archives found</div>
	}
</div>
<div class="search-box">
	<input
		type="text"
		class="form-control"
		[placeholder]="placeholderText"
		[formControl]="control"
		(keydown)="onInputKeydown($event)"
		(focus)="onFocus()"
		(blur)="onBlur()"
		#input
	/>
</div>
