<div class="public-banner">
  <div class="banner-content">
      <a href="/">
        <img class="banner-logo" src="assets/img/logo/sideways_logo.png">
      </a>
      <!-- <div class="banner-buttons">
        <button class="btn btn-wordpress" (click)="onSignupClick()">Sign Up</button>
      </div> -->
  </div>
</div>
<div class="share-preview">
  <div class="share-preview-form">
    <router-outlet></router-outlet>
  </div>
  <div class="share-preview-content">
    <div class="preview-archive" *ngIf="archive">
      <div class="preview-archive-thumb" prBgImage [bgSrc]="archive.thumbURL200"></div>
      <span>
        <strong>{{displayName}}</strong><br>
        Shared by {{archive.fullName}}
      </span>
    </div>
    <div class="preview-thumb" prBgImage [bgSrc]="previewItem.thumbURL500"></div>
    <strong>Sign up or log in to access this shared item</strong>
  </div>
</div>
<!-- <div class="public-footer" [ngClass]="{'public-footer-visible': bottomBannerVisible}">
  <div class="public-footer-content">
    <div class="public-footer-close"></div>
    <span (click)="onSignupClick()">
        <strong>Try Permanent.org for free</strong> 
    </span>
    <div class="public-footer-close" (click)="hideBottomBanner()">
      ×
    </div>
  </div>
</div> -->