@import 'variables';

:host {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: $PR-blue;
}

.progress {
  flex: 1 1 50%;
  color: white;
}

pr-new-pledge {
  flex: 0 0 360px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  :host {
    justify-items: normal;
    flex-wrap: wrap;
  }

  .progress, pr-new-pledge {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  pr-new-pledge {
    max-width: 400px;
    margin: 0 auto 10px;
  }

}

.pledge-progress-header {
  font-size: 1.6rem;
}

.pledge-progress-details {
  display: flex;
  .pledge-progress-detail {
    font-size: 1rem;
    flex: 0 1 8rem;

    .detail-heading {
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 1.1;
    }
  }
}

