@import 'variables';

pr-archive-small {
  margin-bottom: $grid-unit;
}

p {
  padding: 0px 10px;
}

.sidebar {
  @include mainContentFloatSidebar;
}

.sidebar-action {
  @include floatSidebarButtons;
}

:host {
  @include has-breadcrumbs;
  @include mainContentScrollDesktop;
  @include hasFloatSidebar;

  @include beforeDesktop {
    padding: 0 $grid-unit / 2;
  } 
}

