@import 'variables';
:host {
  @include hasFloatSidebar;
}

.relations {
  padding: 10px 10px;
  display: block;
}

pr-archive-small {
  margin-bottom: 20px;
}

p {
  padding: 0px 10px;
}

.sidebar {
  @include mainContentFloatSidebar;
}

:host {
  @include has-breadcrumbs;
  @include mainContentScrollDesktop;
}