<div class="sidebar">
  <div class="title">Pending connections</div>
  
</div>
<div class="sidebar-action">
  <button class="btn btn-primary" (click)="addRelation()" id="addConnection">Connect an Archive</button>
</div>
<p *ngIf="!relations || !relations.length">No relationships</p>
<div class="hide-desktop">
  <div class="page-subheading" *ngIf="sentRelationRequests.length">Sent relationship requests</div>
  <div class="relations" *ngIf="sentRelationRequests.length">
    <pr-archive-small *ngFor="let relation of sentRelationRequests"
    (archiveClick)="onSentRelationRequestClick(relation)"
    [archive]="relation.RelationArchiveVO"
    [relation]="relation.type"
    [largeOnDesktop]="true"
    [showRemove]="true"
    (removeClick)="removeRelation(relation)"
    ></pr-archive-small>
  </div>
  <div class="page-subheading" *ngIf="relationRequests.length">Relationship requests</div>
  <div class="relations" *ngIf="relationRequests.length">
    <pr-archive-small *ngFor="let relation of relationRequests"
    (archiveClick)="onRelationRequestClick(relation)"
    [archive]="relation.ArchiveVO"
    [isPending]="true"
    [relation]="relation.type"
    [largeOnDesktop]="true"
    [showAccept]="true"
    (acceptClick)="onRelationRequestClick(relation, true)"
    [showRemove]="true"
    (removeClick)="removeRelation(relation)"
    ></pr-archive-small>
  </div>
</div>
<div class="page-subheading">({{relations.length}}) Connections</div>
<div class="relations">
  <pr-archive-small *ngFor="let relation of relations"
  (archiveClick)="onRelationClick(relation)"
  [archive]="relation.RelationArchiveVO"
  [relation]="relation.type"
  [largeOnDesktop]="true"
  [showRemove]="true"
  (removeClick)="removeRelation(relation)"
  [showEdit]="true"
  (editClick)="editRelation(relation)"
  ></pr-archive-small>
</div>

