@import 'variables';

:host {
  display: block;
}

form {
  margin: 0;
  padding: 0;
}

button {
  margin-bottom: 0;
}

.StripeElement {
  padding: 0.85rem 0.75rem;
  transition: $input-transition;
  border: $input-border-width solid $input-border-color;
  border-top: 0px;
  border-bottom-left-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
}

.StripeElement--focus:not(.ng-invalid) {
  background-color: darken(white, 3%);
  border-color: $gray-500;
}

.input-group-vertical {
  margin: 0px;
  border-radius: 0.25rem;
  background-color: white;
  overflow: hidden;
}

.pledge-buttons {
  display: flex;
  overflow: hidden;
  border-radius: 0.25rem;

  .pledge-button {
    padding: 0.85rem 0;
    line-height: 1.5;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $PR-orange;
    color: white;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: $btn-transition;

    &:hover {
      transition: $btn-transition;
      background: darken($PR-orange, 10%);
    }

    &.active {
      transition: 0s all;
      background: darken($PR-orange, 7%);
      box-shadow: $btn-active-box-shadow;
    }

    &:focus {
      box-shadow: 0 0 0 $btn-focus-width rgba($PR-orange, .5);
    }

    input {
      display: inline-block;
      width: 4em;
      padding: 0.25rem;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
      }
    }
  }
}