@if (stage === 'people') {
	<div class="dialog-content">
		<div class="dialog-body">
			<div class="page-title">Select Person(s) To Import</div>
			<p>
				<span
					>Choose members of your family tree to create Permanent Archives
					for:</span
				>
			</p>
			<div class="family-member-list">
				@for (family of familyMembers; track family) {
					<div class="family-member">
						<div class="select" [ngClass]="{ exists: family.permExists }">
							<label>
								<input
									type="checkbox"
									[(ngModel)]="family.isSelected"
									[disabled]="family.permExists"
								/>
								@if (family.isSelected) {
									<div class="select-active"></div>
								}
							</label>
						</div>
						<div class="family-name">
							{{ family.display.name }}
						</div>
						<div class="family-birth">
							@if (!family.permExists) {
								<em>{{ family.display.lifespan }}</em>
							}
							@if (family.permExists) {
								<em>Imported</em>
							}
						</div>
					</div>
				}
			</div>
		</div>
		<div class="dialog-footer">
			<button class="btn btn-secondary" (click)="cancel()">Cancel</button>
			<button
				class="btn btn-primary"
				(click)="stage = 'memories'"
				[disabled]="!getSelectedCount()"
			>
				Next
			</button>
		</div>
	</div>
}
@if (stage === 'memories') {
	<div class="dialog-content">
		<div class="dialog-body">
			<div class="page-title">Import Memories</div>
			<p>
				<span
					>Any FamilySearch Memories associated with the selected Persons can be
					imported to the matching Permanent Archive</span
				>
			</p>
			<div class="select-options">
				<div class="select-option">
					<div class="select">
						<label>
							<input type="radio" [(ngModel)]="importMemories" value="yes" />
							@if (importMemories === 'yes') {
								<div class="select-active"></div>
							}
						</label>
					</div>
					<div class="select-label">Yes, import Memories</div>
				</div>
				<div class="select-option">
					<div class="select">
						<label>
							<input type="radio" [(ngModel)]="importMemories" value="no" />
							@if (importMemories === 'no') {
								<div class="select-active"></div>
							}
						</label>
					</div>
					<div class="select-label">No, don't import Memories</div>
				</div>
			</div>
			<p>
				After import, selected Persons will have new Permanent Archives
				available to start curating and contributing to.
			</p>
		</div>
		<div class="dialog-footer">
			<button class="btn btn-secondary" (click)="cancel()" [disabled]="waiting">
				Cancel
			</button>
			<button
				class="btn btn-primary"
				(click)="startImport()"
				[disabled]="waiting"
			>
				Import Family Tree
			</button>
		</div>
	</div>
}
@if (stage === 'importing') {
	<div class="dialog-content">
		<div class="dialog-body">
			<div class="page-title">Importing {{ getSelectedCount() }} person(s)</div>
			<p>
				<span>Do not close your browser your refresh this window.</span>
			</p>
			@if (showImportSpinner) {
				<div class="import-spinner">
					<div class="lds-dual-ring"></div>
				</div>
			}
		</div>
		<div class="dialog-footer">
			<button class="btn btn-secondary" (click)="cancel()" [disabled]="waiting">
				Cancel
			</button>
			<button class="btn btn-primary" [disabled]="waiting">
				Import Family Tree
			</button>
		</div>
	</div>
}
