<pr-login-logo></pr-login-logo>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" (blur)="setErrorMessages()">
  <h1 class="form-title">
    Log in to Permanent.org
  </h1>
  <div class="input-group-vertical">
    <div class="input-vertical">
        <input type="text" class="form-control" id="email" placeholder="Email" required="required"
        formControlName="email"
        autocomplete="email" autocorrect="off" autocapitalize="off" spellcheck="false">
        <div class="input-vertical-error" *ngIf="formErrors.email">
          {{formErrors.email}}
        </div>
    </div>
    <div class="input-vertical">
      <input type="password" class="form-control" id="password" placeholder="Password"
        formControlName="password" required="required">
      <div class="input-vertical-error" *ngIf="formErrors.password">
        {{formErrors.password}}
      </div>
    </div>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="rememberMe"
      formControlName="rememberMe">
    <label class="form-check-label" for="rememberMe">
      Remember me
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="keepLoggedIn"
      formControlName="keepLoggedIn">
    <label class="form-check-label" for="keepLoggedIn">
      Keep me logged in
    </label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="waiting || loginForm.invalid">Log in</button>
  <a [routerLink]="['/signup']">
    Need to sign up?
  </a>
</form>