/* @format */
@import 'variables';
@import 'fonts';

.login-form {
  padding: 0;
}

.page-title {
  font-family: 'UsualLight', sans-serif;
  font-size: 32px;
  line-height: 32px;
  color: white;
  line-height: 48px;
  font-weight: 350;
  margin-bottom: 122px;
  padding: 0;
}

.email-input {
  margin-bottom: 16px;
}

.auth-options {
  margin: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > a {
    color: white;
    font-size: 14px;
    font-family: 'UsualRegular', sans-serif;
    text-decoration: none;
  }
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 24px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.32);
  margin: 0 10px;
}

.or-text {
  background: transparent;
  font-family: 'UsualRegular', sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2.24px;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.32);;
}
