/* @format */
@import 'variables';
@import 'fonts';

.login-form {
  padding: 0;
}

.page-title {
  font-family: 'UsualLight', sans-serif;
  font-size: 32px;
  line-height: 32px;
  color: white;
  line-height: 48px;
  font-weight: 350;
  margin-bottom: 122px;
  padding: 0;
  width: 250px;
}

.email-input {
  margin-bottom: 16px;
}

.auth-options {
  margin: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > a {
    color: white;
    font-size: 14px;
    font-family: 'UsualRegular', sans-serif;
    text-decoration: none;
  }
}
