<!-- @format -->
<form
  class="login-form"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit(loginForm.value)"
>
  <h1 class="page-title">Sign in to your Account</h1>
  <div class="email-input">
    <pr-form-input-glam
      type="email"
      fieldName="email"
      [variant]="'dark'"
      placeholder="Email Address"
      [control]="loginForm.controls['email']"
      [config]="{
        autocomplete: 'username',
        autocorrect: 'off',
        autocapitalize: 'off',
        spellcheck: 'off'
      }"
    ></pr-form-input-glam>
  </div>
  <div class="password-input">
    <pr-form-input-glam
      type="password"
      [variant]="'dark'"
      fieldName="password"
      placeholder="Password"
      [control]="loginForm.controls['password']"
      [config]="{ autocomplete: 'current-password' }"
    ></pr-form-input-glam>
  </div>
  <div class="auth-options">
    <pr-checkbox
      [variant]="'secondary'"
      [isChecked]="rememberMe"
      (isCheckedChange)="rememberMe = $event"
      [text]="'Remember me'"
    ></pr-checkbox>
    <a [routerLink]="['..', 'forgot']" queryParamsHandling="merge">
      Forgot password?
    </a>
  </div>

  <div class="auth-buttons">
    <pr-button
      [attr]="'submit'"
      [text]="'Sign in'"
      [variant]="'secondary'"
      [size]="'fill'"
      [icon]="'/auth/sign-in'"
      [orientation]="'right'"
      [disabled]="waiting || loginForm.invalid"
    ></pr-button>
    <pr-or-divider></pr-or-divider>
    <pr-button
      [text]="'Register'"
      [variant]="'primary'"
      [size]="'fill'"
      [orientation]="'right'"
      [routerLink]="['..', 'signup']"
      queryParamsHandling="merge"
    ></pr-button>
  </div>
</form>
<pr-loading-spinner *ngIf="waiting"></pr-loading-spinner>
