@import 'variables';

:host {
  display: block;
  @include mainContentScrollDesktop;
}

.shares-empty-message {
  text-align: center;
  padding: 20px 10px;

  @include desktop {
    text-align: left;
  }
}