<form class="dialog-form" (submit)="onSubmit()" ngNativeValidate>
	<div class="dialog-form-field">
		<label class="row-label" for="name">Archive Name</label>
		<div class="dialog-inline-field">
			<span>The</span>
			<input
				type="text"
				class="form-control"
				id="newArchiveName"
				name="name"
				placeholder="Name"
				[(ngModel)]="formData.fullName"
				required
				#newArchiveName
			/>
			<span>Archive</span>
		</div>
	</div>
	<div class="dialog-form-field">
		<label class="row-label" for="email">Archive Type</label>
		@for (typeOption of archiveTypes; track typeOption; let i = $index) {
			<div class="form-check">
				<label class="form-check-label">
					<input
						type="radio"
						class="form-check-input"
						name="type"
						[(ngModel)]="formData.type"
						[value]="typeOption.value"
						[required]="i === 0"
					/>
					{{ typeOption.text }}
				</label>
			</div>
		}
	</div>
	@if (showRelations && formData.type === 'type.archive.person') {
		<div class="dialog-form-field">
			<label class="row-label" for="relation">Connection</label>
			<select
				name="relation"
				class="form-select"
				name="relation"
				[(ngModel)]="formData.relationType"
			>
				<option value="" disabled selected>Choose connection (optional)</option>
				@for (relation of relationTypes; track relation) {
					<option [value]="relation.value">
						{{ relation.text }}
					</option>
				}
			</select>
		</div>
	}
	<div class="dialog-form-field">
		<button class="btn btn-primary" type="submit" [disabled]="waiting">
			Create New Archive
		</button>
	</div>
</form>
