<div class="public-archive-header">
  <div class="public-archive" *ngIf="archive">
    <div class="public-archive-thumb" prBgImage [bgSrc]="archive.thumbURL200" [cover]="true"
    (click)="onArchiveThumbClick()"></div>
    <span class="public-archive-name">
      <strong>The {{archive.fullName || 'Archive Name'}} Archive</strong><br>
      {{archive.type | prConstants}}
    </span>
    <div class="public-archive-cta" *ngIf="!cta || !isMobile">
      <a class="btn btn-primary hide-mobile" [routerLink]="['/p', 'archive', archive.archiveNbr, 'profile']" *ngIf="hasProfile">View Public Profile</a>
      <button class="btn btn-primary" (click)="onShareClick()">Share</button>
    </div>
    <div class="public-archive-cta" *ngIf="cta">
      <button class="btn btn-primary" (click)="onCtaClick()" *ngIf="!isMobile">Create a new timeline</button>
      <button class="btn btn-primary mobile-only" (click)="onCtaClickMobile()" *ngIf="isMobile">Create</button>
    </div>
  </div>
</div>
<div class="public-profile-link hide-desktop" *ngIf="hasProfile">
  <a [routerLink]="['/p', 'archive', archive.archiveNbr, 'profile']" class="btn btn-primary">View Public Profile</a>
</div>
<div class="public-archive-breadcrumbs">
  <pr-breadcrumbs></pr-breadcrumbs>
</div>
<div class="public-archive-content">
  <router-outlet></router-outlet>
</div>
<pr-dialog-root></pr-dialog-root>