@import 'variables';

:host {
  display: block;
  width: 100%;
  padding: 0 $grid-unit * 0.5;
}

$photo-desktop: pxToGrid(300px);
$photo-mobile: pxToGrid(80px);
$profile-max-width: 1200px;

@mixin sidebarMargin {
  margin-right: $profile-sidebar-width + 3 * $grid-unit;
}

.banner-section {
  margin: 0 (-$grid-unit);
  position: relative;

  @include beforeDesktop {
    margin: 0 -$grid-unit * 0.5;
  }
}

.profile-banner {
  @include profileBanner($photo-desktop, $photo-mobile);
  cursor: initial;
}

.profile-photo {
  @include profilePhoto(pxToGrid(200px), $photo-mobile);
  cursor: initial;
}

.profile-about {
  margin-bottom: $grid-unit * 2;
  @include desktop {
    padding-left: $grid-unit;
    @include sidebarMargin;
  }
}

.profile-name {
  font-size: $font-size-base * 2;
  font-weight: $font-weight-bold;
  margin-bottom: $grid-unit;

  @include beforeDesktop {
    font-size: $font-size-base * 1.5;
  }
}

.profile-blurb {
  color: $text-muted;
  font-style: oblique;
  margin-bottom: $grid-unit;
}

.profile-archive-link {
  display: flex;
  > .btn {
    flex: 0 0 auto;
    width: auto;
    margin: 0;
    @include gridHeightButton;
  }

  margin-bottom: $grid-unit;
}

.profile-sidebar {
  @include desktop {
    width: $profile-sidebar-width;
    position: absolute;
    right: $grid-unit * 2;
    top: $photo-desktop * 1.5 + $grid-unit;
  }

  .sidebar-title {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin-bottom: $grid-unit;
  }

  .sidebar-inline-item {
    display: flex;
    min-width: 0;
    align-items: flex-start;
    margin-bottom: $grid-unit;

    span {
      flex: 1 1 auto;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
    }

    label {
      margin: 0;
      margin-right: $grid-unit * 0.5;
      font-weight: $font-weight-semibold;
      white-space: nowrap;
    }
  }

  .sidebar-list-item {
    label {
      font-weight: $font-weight-semibold;
      white-space: nowrap;
    }

    > * {
      margin-bottom: $grid-unit * 0.5;
    }
  }
}

.profile-contents {
  min-height: 100vh;
  @include desktop {
    padding-left: $grid-unit;
    @include sidebarMargin;
  }

  @include beforeDesktop {
    margin-top: $grid-unit * 0.5;
  }
}

.profile-description {
  white-space: pre-line;
}
