@import 'variables';

$public-max-width: 800px;

@mixin public-centered {
  max-width: $public-max-width;
  margin-left: auto;
  margin-right: auto;
}

:host {
  display: block;
  width: 100%;
}

.public-archive-header {
  background: $PR-orange;
}

.public-archive {
  @include public-centered;

  display: flex;
  align-items: center;
  padding: 10px 0px;

  .public-archive-thumb {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  @media screen and (max-width: $public-max-width) {
    width: 100%;

    .public-archive-thumb {
      margin-left: 10px;
    }
  }

}

.public-archive-description {
  @include public-centered;
  padding-top: 0.5rem;
  .public-archive-description-header {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: $font-size-sm;
  }

  @media screen and (max-width: $public-max-width) {
    padding: 10px;
  }
}

.public-archive-breadcrumbs {
  background: $gray-700;
  @include public-centered;
}

.public-archive-content {
  @include public-centered;
}

