<div class="add-new" (click)="$event.stopPropagation()">
	@if (editing) {
		<div class="new-tag-input">
			<form (ngSubmit)="runSubmitCallback()">
				<input
					type="text"
					name="newTagName"
					id="newTagName"
					[(ngModel)]="newTagName"
					[ngModelOptions]="{ standalone: true }"
					[placeholder]="placeholder"
					required
					[disabled]="waiting"
					(keydown.enter)="runSubmitCallback()"
					(keydown.escape)="reset()"
					cdkTrapFocusAutoCapture
					cdkTrapFocus
					autocomplete="off"
				/>
			</form>
		</div>
	} @else {
		<div class="placeholder-text" (click)="editing = true">
			{{ placeholder }}
		</div>
	}
</div>
