@import 'variables';

:host {
  position: relative;
}

button span:last-child {
  margin-left: 5px;
}

button {
  position: relative;
  z-index: 2;

  &.active {
    background-color: white;
  }
}

.account-dropdown-menu {
  position: absolute;
  width: 100%;
  top: calc(100% - 17px);
  padding-top: 17px;
  background-color: $PR-orange;
  z-index: 1;
  box-shadow: $box-shadow;

  > a {
    padding: 7px 12px;
    display: block;
    color: white;
    font-weight: 500;
    text-align: right;

    &:hover {
      background-color: darken($PR-orange, 7%);
      text-decoration: none;
    }
  }

  border-bottom-left-radius: $border-radius-sm;
  border-bottom-right-radius: $border-radius-sm;
}