<button class="btn btn-wordpress" *ngIf="account" (click)="showMenu = !showMenu" [class.active]="showMenu"> 
  <span>{{this.account.primaryEmail}}</span>
  <i class="material-icons">expand_more</i>
</button>
<div class="account-dropdown-menu" *ngIf="showMenu" [@dropdownMenuAnimation]>
  <div *ngIf="showMenu" [@ngIfFadeInAnimationSlow]>
    <pr-storage-meter></pr-storage-meter>
    <a href="/add-storage">Add Storage</a>
    <a [routerLink]="[{ outlets: { dialog: ['account']}}]">Account</a>
    <a (click)="openArchivesDialog()">Archives</a>
    <a [routerLink]="[{ outlets: { dialog: ['invitations']}}]">Invitations</a>
    <a (click)="onLogoutClick()">Log Out</a>
  </div>
</div>