<!-- @format -->
@if (account) {
	<button
		class="btn btn-wordpress"
		(click)="handleOpenAccountMenu()"
		[class.active]="showMenu"
	>
		<span>{{ this.account.primaryEmail }}</span>
		<i class="material-icons">expand_more</i>
	</button>
}
@if (accountService.isEmailOrPhoneUnverified()) {
	<i class="material-icons badge" [ngbTooltip]="badgeTooltip">{{
		badgeIcon
	}}</i>
}
@if (showMenu) {
	<div class="account-dropdown-menu" [@dropdownMenuAnimation]>
		@if (showMenu) {
			<div [@ngIfFadeInAnimationSlow]>
				<pr-storage-meter></pr-storage-meter>
				<a [routerLink]="[{ outlets: { dialog: ['storage', 'add'] } }]"
					>Storage</a
				>
				<a [routerLink]="[{ outlets: { dialog: ['account'] } }]">
					@if (accountService.isEmailOrPhoneUnverified()) {
						<i
							class="material-icons text-warning"
							[ngbTooltip]="badgeTooltip"
							>{{ badgeIcon }}</i
						>
					}
					Account
				</a>
				<a (click)="openArchivesDialog()" id="account-dropdown-archives-option"
					>Archives</a
				>
				<a [routerLink]="[{ outlets: { dialog: ['invitations'] } }]"
					>Invitations</a
				>
				<a (click)="onLogoutClick()">Log Out</a>
			</div>
		}
	</div>
}
