<div class="dialog-content">
	<div class="dialog-body dialog-body-top">
		<div class="header">
			<span>Sharing {{ shareItem.displayName }}</span>
			<button class="btn" (click)="onDoneClick()">
				<i class="material-icons">close</i>
			</button>
		</div>
		<div class="content">
			@if (showInvitationForm) {
				<form [formGroup]="invitationForm" class="dialog-form">
					<div class="dialog-form-field">
						<label for="name">Recipient Name</label>
						<input
							type="text"
							class="form-control"
							id="newInviteName"
							name="name"
							formControlName="fullName"
						/>
					</div>
					<div class="dialog-form-field">
						<label for="email">Recipient Email</label>
						<input
							type="email"
							class="form-control"
							id="newInviteEmail"
							name="email"
							formControlName="email"
						/>
					</div>
					<div class="dialog-form-field">
						<label for="inviteConnection">Connection</label>
						<select
							class="form-control"
							name="inviteConnection"
							formControlName="relationship"
						>
							@for (option of relationOptions; track option) {
								<option [value]="option.value">
									{{ option.text }}
								</option>
							}
						</select>
					</div>
					<div class="dialog-form-field">
						<label for="inviteAccessRole">Access Role</label>
						<select
							class="form-control"
							name="inviteAccessRole"
							formControlName="accessRole"
						>
							@for (option of accessRoleOptions; track option) {
								<option [value]="option.value">
									{{ option.text }}
								</option>
							}
						</select>
					</div>
				</form>
			}
			@if (!showInvitationForm) {
				@if (canShare) {
					<div class="archive-search">
						<pr-archive-search-box
							class="archive-search-box"
							[filterFn]="archiveFilterFn"
							(archiveSelect)="onAddArchive($event)"
							(invite)="onAddInvite($event)"
						></pr-archive-search-box>
						<select class="form-control" [(ngModel)]="newAccessRole">
							@for (option of accessRoleOptions; track option) {
								<option [value]="option.value">
									{{ option.text }}
								</option>
							}
						</select>
					</div>
				}
				<div class="sharing-explanation">
					<small>
						Entering an archive name filters the available archives to share
						with. If you cannot find the archive you are looking for, enter an
						email address. If an account does not exist, send a share invitation
						email to that address. If an account does exist, the default archive
						associated with that account will be listed.
						<a
							[href]="
								'https://permanent.zohodesk.com/portal/en/kb/articles/default-archives'
							"
							>Learn more.</a
						>
					</small>
				</div>
				@if (!shares?.length && !pendingShares?.length) {
					<div class="shares-empty">Not shared with anyone</div>
				}
				@if (shares?.length || pendingShares?.length) {
					<div class="shares-title">Shared with</div>
					<div class="shares">
						@for (share of pendingShares; track share) {
							<div
								class="share-archive pending-share"
								[@ngIfScaleAnimationDynamic]="
									share.isPendingAction || share.isNewlyCreated
										? 'animate'
										: 'static'
								"
							>
								<div
									class="archive-thumb"
									prBgImage
									[bgSrc]="share.ArchiveVO.thumbURL200"
									[cover]="true"
								></div>
								<div class="archive-name">
									The {{ share.ArchiveVO.fullName }} Archive
									<div class="subtitle">
										Requested {{ share.createdDT | date }}
									</div>
								</div>
								<div class="archive-actions">
									<button
										class="btn btn-primary"
										[disabled]="share.isPendingAction"
										(click)="approveShare(share)"
									>
										Approve
									</button>
									<button
										class="btn btn-danger"
										[disabled]="share.isPendingAction"
										(click)="removeShare(share)"
									>
										Deny
									</button>
								</div>
							</div>
						}
						@for (share of shares; track share) {
							<div
								class="share-archive"
								[@ngIfScaleAnimationDynamic]="
									share.isPendingAction || share.isNewlyCreated
										? 'animate'
										: 'static'
								"
							>
								<div
									class="archive-thumb"
									prBgImage
									[bgSrc]="share.ArchiveVO.thumbURL200"
									[cover]="true"
								></div>
								<div class="archive-name">
									The {{ share.ArchiveVO.fullName }} Archive
								</div>
								<select
									class="form-control"
									[disabled]="
										!canShare ||
										share.accessRole === 'access.role.owner' ||
										share.isPendingAction
									"
									[(ngModel)]="share.accessRole"
									(ngModelChange)="onAccessChange(share, ctrl)"
									#ctrl="ngModel"
								>
									@for (option of accessRoleOptions; track option) {
										<option [value]="option.value">
											{{ option.text }}
										</option>
									}
									<option value="remove">Remove</option>
								</select>
							</div>
						}
					</div>
				}
			}
			<div class="buttons">
				@if (!showInvitationForm) {
					<button class="btn btn-primary" (click)="onDoneClick()">Done</button>
				}
				@if (showInvitationForm) {
					<button
						class="btn btn-secondary"
						(click)="showInvitationForm = false"
						[disabled]="sendingInvitation"
					>
						Cancel
					</button>
				}
				@if (showInvitationForm) {
					<button
						class="btn btn-primary"
						(click)="sendInvite(invitationForm.value)"
						[disabled]="invitationForm.invalid || sendingInvitation"
					>
						Send invitation
					</button>
				}
			</div>
		</div>
	</div>
	@if (canShare) {
		<div class="dialog-body">
			<div class="header-container">
				<div class="header-small">Create link to share</div>
				@if (newShareLink) {
					<div class="remove-link" (click)="removeShareLink()">
						<fa-icon class="trash-icon" [icon]="trashIcon" />
						<span>Remove Link</span>
					</div>
				}
			</div>
			<hr />
			<div class="content">
				<div class="share-link">
					@if (newShareLink) {
						<div class="share-link-container">
							<input
								type="text"
								class="form-control"
								readonly
								[value]="shareUrl"
								#shareUrlInput
							/>
						</div>
					}
					@if (newShareLink) {
						<button
							class="btn btn-primary-light"
							[disabled]="linkCopied"
							(click)="copyShareLink()"
						>
							{{ linkCopied ? 'Copied' : 'Copy' }}
						</button>
					}
					@if (!newShareLink) {
						<div class="share-link-container">
							Generate a link to send via text or email for others to view this
							material.
						</div>
					}
					@if (!newShareLink) {
						<button
							class="btn btn-primary-light"
							(click)="generateShareLink()"
							[disabled]="updatingLink"
						>
							Create
						</button>
					}
				</div>
				@if (newShareLink) {
					<div class="share-link-settings-toggle" @ngIfScaleAnimation>
						<button
							class="btn btn-link"
							(click)="showLinkSettings = !showLinkSettings"
						>
							{{ showLinkSettings ? 'Hide' : 'Show' }} link settings
						</button>
					</div>
				}
				@if (showLinkSettings && displayDropdown) {
					<div class="share-link-type-dropdown">
						<label>Link Type</label>
						<select
							class="form-control"
							[(ngModel)]="linkType"
							(ngModelChange)="
								onShareLinkPropChange('accessRestrictions', linkType)
							"
						>
							@for (option of shareLinkTypes; track option.value) {
								<option [value]="option.value">
									{{ option.text }}
								</option>
							}
						</select>
					</div>
				}
				@if (showLinkSettings && newShareLink) {
					<div class="share-link-settings" @ngIfScaleAnimation>
						@if (linkType === 'private') {
							<div class="link-settings-item">
								<label>Auto Approve</label>
								<div class="form-check form-check-inline">
									<input
										class="form-check-input"
										type="radio"
										name="autoApproveToggle"
										id="autoApproveToggleOn"
										[value]="1"
										[disabled]="updatingLink"
										[(ngModel)]="autoApproveToggle"
										(ngModelChange)="
											onShareLinkPropChange(
												'autoApproveToggle',
												autoApproveToggle
											)
										"
									/>
									<label class="form-check-label" for="autoApproveToggleOn"
										>On</label
									>
								</div>
								<div class="form-check form-check-inline">
									<input
										class="form-check-input"
										type="radio"
										name="autoApproveToggle"
										id="autoApproveToggleOff"
										[value]="0"
										[disabled]="updatingLink"
										[(ngModel)]="autoApproveToggle"
										(ngModelChange)="
											onShareLinkPropChange(
												'autoApproveToggle',
												autoApproveToggle
											)
										"
									/>
									<label class="form-check-label" for="autoApproveToggleOff"
										>Off</label
									>
								</div>
							</div>
						}
						@if (linkType === 'private') {
							<small class="text-muted">
								@switch (autoApproveToggle) {
									@case (1) {
										Recipients will automatically be granted access when
										requested.
									}
									@default {
										Recipients must manually be granted access when requested.
									}
								}
							</small>
						}
						@if (linkType === 'private') {
							<div class="link-settings-item">
								<label>Default Share Role</label>
								<select
									class="form-control"
									[disabled]="!canShare || updatingLink"
									[(ngModel)]="linkDefaultAccessRole"
									(ngModelChange)="
										onShareLinkPropChange(
											'defaultAccessRole',
											linkDefaultAccessRole
										)
									"
								>
									@for (option of accessRoleOptions; track option) {
										<option [value]="option.value">
											{{ option.text }}
										</option>
									}
								</select>
							</div>
						}
						@if (linkType === 'private') {
							<small class="text-muted"
								>Archives joining this share are given this role by default.
								<a
									href="https://permanent.zohodesk.com/portal/en/kb/articles/what-do-the-different-access-permissions-mean"
									target="_blank"
									>Learn More</a
								></small
							>
						}
						<div class="link-settings-item">
							<label>Link expires after</label>
							<select
								class="form-control"
								[disabled]="!canShare || updatingLink"
								[(ngModel)]="expiration"
								(ngModelChange)="
									onShareLinkPropChange(
										'expiresDT',
										getExpiresDTFromExpiration(expiration)
									)
								"
							>
								@for (option of expirationOptions; track option) {
									<option
										[value]="option.value"
										[hidden]="option.value === 'Other'"
									>
										{{ option.text }}
									</option>
								}
							</select>
						</div>
						<small class="text-muted">
							@switch (newShareLink.expirationTimestamp) {
								@case (null) {
									This link will only expire if deleted
								}
								@default {
									This link will expire
									{{
										newShareLink.expirationTimestamp
											| date
												: "MMM d, y 'at'
                              h:mm:ss a"
									}}
								}
							}
						</small>
					</div>
				}
			</div>
		</div>
	}
</div>
