<!-- @format -->
<div class="dialog-content">
  <div class="dialog-body dialog-body-top">
    <div class="header">
      <span>Sharing {{ shareItem.displayName }}</span>
      <button class="btn" (click)="onDoneClick()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="content">
      <ng-container *ngIf="showInvitationForm">
        <form [formGroup]="invitationForm" class="dialog-form">
          <div class="dialog-form-field">
            <label for="name">Recipient Name</label>
            <input
              type="text"
              class="form-control"
              id="newInviteName"
              name="name"
              formControlName="fullName"
            />
          </div>
          <div class="dialog-form-field">
            <label for="email">Recipient Email</label>
            <input
              type="email"
              class="form-control"
              id="newInviteEmail"
              name="email"
              formControlName="email"
            />
          </div>
          <div class="dialog-form-field">
            <label for="inviteConnection">Connection</label>
            <select
              class="form-control"
              name="inviteConnection"
              formControlName="relationship"
            >
              <option
                *ngFor="let option of relationOptions"
                [value]="option.value"
              >
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="dialog-form-field">
            <label for="inviteAccessRole">Access Role</label>
            <select
              class="form-control"
              name="inviteAccessRole"
              formControlName="accessRole"
            >
              <option
                *ngFor="let option of accessRoleOptions"
                [value]="option.value"
              >
                {{ option.text }}
              </option>
            </select>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="!showInvitationForm">
        <div class="archive-search" *ngIf="canShare">
          <pr-archive-search-box
            class="archive-search-box"
            [filterFn]="archiveFilterFn"
            (archiveSelect)="onAddArchive($event)"
            (invite)="onAddInvite($event)"
          ></pr-archive-search-box>
          <select class="form-control" [(ngModel)]="newAccessRole">
            <option
              *ngFor="let option of accessRoleOptions"
              [value]="option.value"
            >
              {{ option.text }}
            </option>
          </select>
        </div>
        <div class="sharing-explanation">
          <small>
            Entering an archive name filters the available archives to share
            with. If you cannot find the archive you are looking for, enter an
            email address. If an account does not exist, send a share invitation
            email to that address. If an account does exist, the default archive
            associated with that account will be listed.
            <a
              [href]="
                'https://permanent.zohodesk.com/portal/en/kb/articles/default-archives'
              "
              >Learn more.</a
            >
          </small>
        </div>
        <ng-container *ngIf="!shares?.length && !pendingShares?.length">
          <div class="shares-empty">Not shared with anyone</div>
        </ng-container>
        <ng-container *ngIf="shares?.length || pendingShares?.length">
          <div class="shares-title">Shared with</div>
          <div class="shares">
            <div
              class="share-archive pending-share"
              *ngFor="let share of pendingShares"
              [@ngIfScaleAnimationDynamic]="
                share.isPendingAction || share.isNewlyCreated
                  ? 'animate'
                  : 'static'
              "
            >
              <div
                class="archive-thumb"
                prBgImage
                [bgSrc]="share.ArchiveVO.thumbURL200"
                [cover]="true"
              ></div>
              <div class="archive-name">
                The {{ share.ArchiveVO.fullName }} Archive
                <div class="subtitle">
                  Requested {{ share.createdDT | date }}
                </div>
              </div>
              <div class="archive-actions">
                <button
                  class="btn btn-primary"
                  [disabled]="share.isPendingAction"
                  (click)="approveShare(share)"
                >
                  Approve
                </button>
                <button
                  class="btn btn-danger"
                  [disabled]="share.isPendingAction"
                  (click)="removeShare(share)"
                >
                  Deny
                </button>
              </div>
            </div>
            <div
              class="share-archive"
              *ngFor="let share of shares"
              [@ngIfScaleAnimationDynamic]="
                share.isPendingAction || share.isNewlyCreated
                  ? 'animate'
                  : 'static'
              "
            >
              <div
                class="archive-thumb"
                prBgImage
                [bgSrc]="share.ArchiveVO.thumbURL200"
                [cover]="true"
              ></div>
              <div class="archive-name">
                The {{ share.ArchiveVO.fullName }} Archive
              </div>
              <select
                class="form-control"
                [disabled]="
                  !canShare ||
                  share.accessRole === 'access.role.owner' ||
                  share.isPendingAction
                "
                [(ngModel)]="share.accessRole"
                (ngModelChange)="onAccessChange(share, ctrl)"
                #ctrl="ngModel"
              >
                <option
                  *ngFor="let option of accessRoleOptions"
                  [value]="option.value"
                >
                  {{ option.text }}
                </option>
                <option value="remove">Remove</option>
              </select>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="buttons">
        <button
          class="btn btn-primary"
          *ngIf="!showInvitationForm"
          (click)="onDoneClick()"
        >
          Done
        </button>
        <button
          class="btn btn-secondary"
          *ngIf="showInvitationForm"
          (click)="showInvitationForm = false"
          [disabled]="sendingInvitation"
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          *ngIf="showInvitationForm"
          (click)="sendInvite(invitationForm.value)"
          [disabled]="invitationForm.invalid || sendingInvitation"
        >
          Send invitation
        </button>
      </div>
    </div>
  </div>
  <pr-share-link-settings
    [shareItem]="shareItem"
    [shareLink]="shareLink"
    [shareLinkResponse]="shareLinkResponse"
    *ngIf="canShare"
  ></pr-share-link-settings>
</div>
