@import 'variables';

.panel-title {
	font-weight: bold;
	font-size: 1.25em;
	line-height: 2.5;
}

.archive-steward-header {
	font-weight: bold;
	font-size: 1.125rem;
	color: $PR-purple;
}

.archive-steward-description {
	font-style: italic;
	color: $gray-dark;
	display: block;
}

.archive-steward-card {
	position: relative;
	border: 1px solid $PR-blue-100;
	border-radius: 0.25rem;
	padding: 1em 2.5em 1em 1em;
	margin-bottom: 0.75em;
	cursor: pointer;

	&:hover,
	&:focus-visible {
		background: $PR-blue-25;
	}

	.edit-icon {
		position: absolute;
		top: 0.75em;
		right: 0.75em;
		color: $gray-dark;
	}
}

.archive-steward-table {
	display: table;

	.row {
		display: table-row;
		& > * {
			&:first-child {
				font-weight: bold;
				padding-right: 1.5em;
				padding-bottom: 0.5em;
				white-space: nowrap;
			}
			&:last-child {
				color: $gray-dark;
				white-space: pre-wrap;
			}
			display: table-cell;
		}
	}
}

.not-assigned {
	font-style: italic;
}

.btn {
	margin-bottom: 1em;
}

.error {
	background-color: #fff3cd;
	padding: 1em;
	margin: 1em;
	font-style: italic;
}

.no-plan-warning {
	@extend .error;
	display: flex;
	flex-direction: row;
	align-items: center;

	.warning-icon {
		padding-right: 1em;
		fa-icon {
			font-size: 2.5em;
		}
	}

	.breadcrumb-link {
		font-weight: bold;
		color: #000;
	}

	a {
		white-space: nowrap;
	}
}
