<div>
	<div class="panel-title">Manage the Legacy Plan for this Archive</div>
	<p>
		Your Legacy Plan determines what should happen to your materials on
		Permanent.org in the event of your death or incapacitation. Your Legacy Plan
		has two parts:
	</p>
	<ol>
		<li>
			Designate an account <strong>Legacy Contact </strong>
			<a href="/app/legacy-contact">here.</a>
			This person will inform Permanent of your death or incapacitation and
			activate your Legacy Plan as you have outlined it.
		</li>
		<li>
			Designate an <strong>Archive Steward</strong> for this archive below. An
			Archive Steward will assume ownership and management of this archive.
		</li>
	</ol>
	<p>
		We have additional support and resources about planning your legacy
		<a
			href="https://permanent.zohodesk.com/portal/en/kb/articles/legacy-planning"
			>here.</a
		>
	</p>
	<div class="archive-steward-header">
		Archive Steward: The {{ archiveName }} Archive
	</div>
	@if (noPlan) {
		<div class="no-plan-warning">
			<div class="warning-icon">
				<fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
			</div>
			<div class="text-contents">
				You must designate a Legacy Contact before you can establish a Legacy
				Plan for this archive. Go to
				<a class="breadcrumb-link" href="/app/legacy-contact"
					>Account Settings &gt; Legacy Planning</a
				>
				to designate a Legacy Contact.
				<a
					href="https://permanent.zohodesk.com/portal/en/kb/articles/legacy-planning"
					>Learn more.</a
				>
			</div>
		</div>
	}
	<p class="archive-steward-description">
		The Archive Steward for this archive will receive your note when your Legacy
		Plan is activated.
	</p>
	@if (error) {
		<div class="error">
			An error occured while trying to find the Archive Steward for the current
			archive. Please reload the page and try again.
		</div>
	}
	@if (!error) {
		<div class="archive-steward-table">
			<div class="row">
				<div>Archive Steward email</div>
				<div
					[class]="{
						'archive-steward-email': true,
						'not-assigned': !directive?.steward?.email
					}"
				>
					{{ directive?.steward?.email ?? 'not assigned' }}
				</div>
			</div>
			<div class="row">
				<div>Note to Steward</div>
				<div
					[class]="{
						'archive-steward-note': true,
						'not-assigned': !directive?.note
					}"
				>
					{{ directive?.note ?? 'none' }}
				</div>
			</div>
		</div>
	}
	<button
		class="btn btn-primary"
		[disabled]="error || noPlan"
		(click)="beginEdit.emit(directive)"
	>
		{{ directive?.steward?.email ? 'Edit' : 'Assign' }} Archive Steward
	</button>
	<div>&nbsp;</div>
</div>
