<!-- @format -->
<div
  class="checkbox-container"
  [class.checkbox-container-disabled]="disabled"
  [class.checkbox-container-enabled]="!disabled"
  [class.checkbox-container-primary]="variant === 'primary'"
  [class.checkbox-container-secondary]="variant === 'secondary'"
  (click)="toggleCheck()"
  (keydown)="handleKeyDown($event)"
  role="checkbox"
  [attr.tabindex]="disabled ? -1 : 0"
  [attr.aria-checked]="isChecked"
  [attr.aria-disabled]="disabled"
>
  <div class="checkbox" [class.checked]="isChecked"></div>
  <label>{{ text }}</label>
</div>
