@import 'variables';
@import 'fonts';

@mixin checkbox-before-and-after {
  & > .checkbox::before {
    height: 2px;
    width: 7px;
    left: 2.8px;
    top: 5px;
    bottom: 8px;
    transform: rotate(-45deg);
  }

  & > .checkbox::after {
    top: 6px;
    height: 2px;
    width: 4px;
    left: 1.5px;
    bottom: 12px;
    transform: rotate(45deg);
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  & > .checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
  }

  & > label {
    font-family: 'UsualRegular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

.checkbox-container-enabled.checkbox-container-primary {
  & > .checkbox {
    border: 2.5px solid rgba(19, 27, 74, 1);
    transition: background-color 0.2s;
    border-radius: 4px;
  }
  & > .checkbox::before,
  & > .checkbox::after {
    content: '';
    position: absolute;
    background-color: rgba(19, 27, 74, 1);
    transition: opacity 0.2s;
    opacity: 0;
    border-radius: 2px;
  }

  @include checkbox-before-and-after;

  & > .checkbox.checked::before,
  & > .checkbox.checked::after {
    opacity: 1;
  }

  & > label {
    color: rgba(19, 27, 74, 1);
  }
}

.checkbox-container-enabled.checkbox-container-secondary {
  & > .checkbox {
    border: 2.5px solid white;
    transition: background-color 0.2s;
    border-radius: 4px;
  }
  & > .checkbox::before,
  & > .checkbox::after {
    content: '';
    position: absolute;
    background-color: white;
    transition: opacity 0.2s;
    opacity: 0;
    border-radius: 2px;
  }

  @include checkbox-before-and-after;

  & > .checkbox.checked::before,
  & > .checkbox.checked::after {
    opacity: 1;
  }

  & > label {
    color: white;
  }
}

.checkbox-container-disabled.checkbox-container-primary {
  cursor: not-allowed;
  & > .checkbox {
    border: 1px solid #646464;
    transition: background-color 0.2s;
  }

  & > .checkbox::before,
  & > .checkbox::after {
    content: '';
    position: absolute;
    background-color: white;
    transition: opacity 0.2s;
    opacity: 0;
    border-radius: 2px;
  }

  @include checkbox-before-and-after;

  & > .checkbox {
    background-color: $gray-light;
    border: 1px solid #646464;
  }

  & > .checkbox::before,
  & > .checkbox::after {
    opacity: 0;
  }

  & > label {
    color: $gray-light;
  }
}

.checkbox-container-disabled.checkbox-container-secondary {
  cursor: not-allowed;
  & > .checkbox {
    border: 1px solid #646464;
    transition: background-color 0.2s;
  }

  & > .checkbox::before,
  & > .checkbox::after {
    content: '';
    position: absolute;
    background-color: white;
    transition: opacity 0.2s;
    opacity: 0;
    border-radius: 2px;
  }

  @include checkbox-before-and-after;

  & > .checkbox {
    background-color: $gray-light;
    border: 1px solid #646464;
  }

  & > .checkbox::before,
  & > .checkbox::after {
    opacity: 0;
  }

  & > label {
    color: $gray-light;
  }
}

label {
  margin: 0;
  cursor: pointer;
}

.checkbox-container-enabled.checkbox-container-secondary.checkbox-container-secondary-onboarding {
  & > .checkbox.checked {
    border: 2.5px solid white;
    transition: background-color 0.2s;
    border-radius: 4px;
    background-color: white;
  }
  & > .checkbox.checked::before,
  & > .checkbox.checked::after {
    content: '';
    position: absolute;
    background-color: white;
    transition: opacity 0.2s;
    opacity: 0;
    border-radius: 2px;
    background: linear-gradient(
      to right,
      rgba(184, 67, 166, 1),
      rgba(128, 0, 128, 1)
    );
  }

  @include checkbox-before-and-after;

  & > .checkbox.checked::before,
  & > .checkbox.checked::after {
    opacity: 1;
  }

  & > label {
    color: white;
  }
}
