//BRAND COLORS
$PR-brand-white: #fff;
$PR-brand-black: #000;
$PR-brand-purple: #800080;
$PR-brand-yellow: #ff9933;

//LEGACY BRAND COLORS
$PR-blue: #131b4a;
$PR-purple: #800080;
$PR-orange: #ff9933;

// VARIATIONS
$PR-blue-light: #5261b7;

$PR-blue-25: #f4f6fd;
$PR-blue-50: #e7e8ed;
$PR-blue-100: #d0d1db;
$PR-blue-200: #b8bbc9;
$PR-blue-300: #a1a4b7;
$PR-blue-400: #898da4;
$PR-blue-500: #717692;
$PR-blue-600: #5a5f80;
$PR-blue-700: #42496e;
$PR-blue-800: #2b325c;
$PR-blue-900: #131b4a;

$PR-green-25: #f6fef9;
$PR-green-50: #ecfdf3;
$PR-green-100: #d1fadf;
$PR-green-200: #a6f4c5;
$PR-green-300: #6ce9a6;
$PR-green-400: #32d583;
$PR-green-500: #12b76a;
$PR-green-600: #039855;
$PR-green-700: #027a48;
$PR-green-800: #05603a;
$PR-green-900: #054f31;

$PR-yellow-25: #fffcf5;
$PR-yellow-50: #fffaeb;
$PR-yellow-100: #fef0c7;
$PR-yellow-200: #fedf89;
$PR-yellow-300: #fec84b;
$PR-yellow-400: #fdb022;
$PR-yellow-500: #f79009;
$PR-yellow-600: #dc6803;
$PR-yellow-700: #b54708;
$PR-yellow-800: #93370d;
$PR-yellow-900: #7a2e0e;

$PR-red-25: #fffbfa;
$PR-red-50: #fef3f2;
$PR-red-100: #fee4e2;
$PR-red-200: #fecdca;
$PR-red-300: #fda29b;
$PR-red-400: #f97066;
$PR-red-500: #f04438;
$PR-red-600: #d92d20;
$PR-red-700: #b42318;
$PR-red-800: #912018;
$PR-red-900: #7a271a;

$PR-orange-lightest: #ffead5;

$PR-purple-light: #e2c1ea;

// UI COLORS
$folder-icon: #f7c985;
$gray-dark: #646464;
$gray-light: #c8c8c8;
$red: #a10000;

//BOOTSTRAP COLORS
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// THIRD PARTY COLORS
$familysearch-brand: #87ba41;
$facebook-brand: #1877f2;

$toggle-checked: #12b76a;
$toggle: #e7e8ed;

$theme-colors: (
	'primary': $PR-blue,
	'secondary': $gray-600,
	'success': #198754,
	'info': #0dcaf0,
	'warning': #ffc107,
	'danger': $red,
	'light': $gray-100,
	'dark': $gray-900,
	'primary-light': $PR-blue-light,
	'white': $white,
);
