$header-height: 3 * $grid-unit;

@mixin tabbedDialogHeader($color: $PR-purple) {
  height: $header-height;
  flex: 0 0 auto;
  background-color: $color;
  display: flex;
  align-items: center;

  color: white;
  font-size: $font-size-lg;
  padding: 0 $grid-unit;
  padding-right: 0;

  span {
    flex: 1 1 auto;
  }

  button {
    margin: 0;
    margin-left: auto;
    flex: 0 0 auto;
    width: auto;
    @include gridHeightButton;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}

@mixin tabbedDialogContent($height: 400px) {
  flex: 1 1 auto;
  overflow-y: auto;
  @include desktop {
    display: flex;
    height: pxToGrid($height);
    overflow: visible;
  }
}

@mixin tabbedDialogNav($color: $PR-purple, $tabClass: 'dialog-tab') {
  flex: 0 0 (10 * $grid-unit);

  @include desktop {
    border-right: $file-list-border;
    padding-top: $grid-unit;
  }

  .#{$tabClass} {
    height: 2 * $grid-unit;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: $grid-unit / 2;
    cursor: pointer;
    user-select: none;
    font-size: $font-size-sm;

    &:not(.active) {
      color: $text-muted;
    }

    &::before {
      content: ' ';
      background-color: $gray-500;
      position: absolute;
      left: 0;
      width: $grid-unit / 5;
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 125ms $tweaked-ease;
    }

    &:hover {
      text-decoration: none;
      &::before {
        transition: opacity 0ms;
        opacity: 1;
      }
    }

    &.active {
      font-weight: $font-weight-semibold;
      &::before 
      {
        opacity: 1;
        background-color: $color;
      }
    }
  }
}

@mixin tabbedDialogPanel {
  flex: 1 1 auto;
  padding: 0 $grid-unit / 2;
  @include desktop {
    padding: $grid-unit;
    overflow-y: auto;
  }
}

@mixin tabbedDialogPanelTitle {
  font-weight: $font-weight-bold;
  height: 2 * $grid-unit;
  line-height: 2 * $grid-unit;
}

@mixin tabbedDialogPanelSubheading {
  padding-bottom: $grid-unit;
}