form {
  padding: 10px;
  margin: 0 auto;
  max-width: $max-form-width;

  > a {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

.form-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.form-check {
  margin-top: 5px;
}

.input-group-vertical {
  margin-bottom: 10px;

  > input, > .input-vertical {
    position: relative;

    &:not(:first-child):not(:last-child),
    &:not(:first-child):not(:last-child) > input {
      border-top: 0px solid;
      border-bottom: 0px solid;
      border-radius: 0px;
    }

    &:first-child:not(:last-child), &:first-child:not(:last-child) > input {
      border-bottom: 0px solid;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:last-child:not(:first-child), &:last-child:not(:first-child) > input {
      border-top: 0px solid;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    &:focus, & > input:focus  {
      box-shadow: none;
      background-color: darken(white, 3%);
      border-color: $gray-500;
    }

    &.ng-touched.ng-invalid,
    & > input.ng-touched.ng-invalid {
      background-color: rgba($danger, 0.2);
      border-color: $danger !important;
    }
  }

  .input-vertical-error {
    position: absolute;
    bottom: 0px;
    right: $input-btn-padding-x;
    font-size: 12px;
    color: $danger;
    background: none;
  }


}

.pr-auth-form {
  max-width: 500px;
  margin: 0 auto;
  display: block;
  // min-height: 100%;
  // width: 100%;
  // display: block;
  // background-color: $gray-200;
}