.menu-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(black, 0);
	transition:
		background-color $menu-transition-length $menu-open-ease,
		visibility 0s linear $menu-transition-length;
	visibility: hidden;
	z-index: 1100;

	.menu {
		position: absolute;
		transition:
			transform $menu-transition-length $menu-close-ease,
			opacity $menu-transition-length $menu-close-ease;
		background-color: white;
	}

	&.visible {
		left: 0;
		right: 0;
		background-color: $shadow-color-dark;
		visibility: visible;
		transition: background-color $menu-transition-length $menu-open-ease;

		.menu {
			transform: translate(0, 0);
			transition:
				transform $menu-transition-length $menu-open-ease,
				opacity $menu-transition-length $menu-open-ease;
		}
	}

	@include after($tablet-horizontal) {
		left: 100%;
		transition:
			background-color $menu-transition-length-desktop $menu-open-ease,
			visibility 0s linear $menu-transition-length-desktop,
			left 0s linear $menu-transition-length-desktop;

		.menu {
			transition:
				transform $menu-transition-length-desktop $menu-close-ease,
				opacity $menu-transition-length-desktop $menu-close-ease;
		}

		&.visible {
			transition: background-color $menu-transition-length-desktop
				$menu-open-ease;

			.menu {
				opacity: 1;
				transition:
					transform $menu-transition-length-desktop $menu-open-ease,
					opacity $menu-transition-length-desktop $menu-open-ease;
			}
		}
	}
}

pr-dialog {
	.dialog-content {
		display: flex;
		flex-direction: column;
		height: 100%;

		.dialog-body {
			flex: 1 1 auto;
			overflow-y: auto;

			.page-subheading {
				margin-right: $grid-unit * 0.5;
				margin-left: $grid-unit * 0.5;
			}
		}

		.dialog-footer {
			padding: 0px 10px;
			flex: 0 0 auto;
			display: flex;

			button {
				max-width: 100%;
			}

			button:not(:first-child) {
				margin-left: 10px;
			}

			button.btn-secondary:not(:last-child) {
				flex: 0 0 33.33%;
			}
		}
	}

	.split-dialog {
		.dialog-body {
			box-shadow: $box-shadow-dark;
			background: white;
			border-radius: $border-radius-lg;

			&:not(:last-child) {
				margin-bottom: $grid-unit;
			}
		}
	}
}
