$menu-ease: $tweaked-ease;
$menu-open-ease: ease-out;
$menu-close-ease: ease-in;
$menu-transition-length: 0.45s;


.menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(black, 0);
  transition: background-color $menu-transition-length $menu-open-ease, visibility 0s linear $menu-transition-length;
  visibility: hidden;
  z-index: 5;
  
  .menu {
    position: absolute;
    transition:  transform $menu-transition-length $menu-close-ease;
    background-color: white;
  }

  &.visible {
    left: 0;
    right: 0;
    background-color: $shadow-color-dark;
    visibility: visible;
    transition:  background-color $menu-transition-length $menu-open-ease;

    .menu {
      transform: translate(0, 0);
      transition: transform $menu-transition-length $menu-open-ease;
    }
  }
}

// @supports (padding-left: constant(safe-area-inset-left)) {
//   .menu.hamburger-menu {
//     --safe-area-inset-left: constant(safe-area-inset-left);
//     width: calc(300px + var(--safe-area-inset-left)) !important;
//     padding-left: var(--safe-area-inset-left);
//   }
// }
