@import 'fonts';

@mixin pageTitle {
  font-family: 'UsualLight', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 350;
  line-height: 48px;
  letter-spacing: -0.64px;
  color: white;
  padding: 0;
}

@mixin pageText {
  font-family: 'UsualLight', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: white;
}
