@import 'fonts';

@mixin pageTitle {
	font-family: 'UsualLight', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 350;
	line-height: 48px;
	letter-spacing: -0.64px;
	color: white;
	padding: 0;
}

@mixin pageText {
	font-family: 'UsualLight', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	color: white;
}

// Date/Time Picker Component Mixins
@mixin usual-text {
	font-family: 'Usual', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
}

@mixin input-container {
	display: flex;
	align-items: center;
	background: $white;
	border: 1px solid $PR-blue-100;
	border-radius: 8px;
	height: 40px;
	flex: 1;
}

@mixin input-focus-state {
	box-shadow: 0px 0px 0px 4px #131B4A08;
}

@mixin icon-wrapper {
	background: $PR-blue-25;
	border-radius: 0 8px 8px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	gap: 16px;
	opacity: 1;
}

@mixin input-segment {
	border: none;
	background: transparent;
	text-align: center;
	@include usual-text;
	color: $PR-blue;
	outline: none;
	
	&::placeholder {
		color: $PR-blue-400;
	}
	
	&:disabled {
		color: $PR-blue-400;
		cursor: not-allowed;
	}
}
