@import url('https://fonts.cdnfonts.com/css/usual');


$font-family-base: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$base-size: 16px;
$large-size: 1.25rem;
$xl-size: 1.875rem;

@mixin material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@mixin bodyMedium {
  font-weight: 600;
  font-family: 'Usual';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  font-style: normal;
}

@mixin bodyRegular {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

$mat-icon-sm: 18px;
$mat-icon: 24px;
$mat-icon-lg: 36px;
