@use 'sass:math';

button.btn,
a.btn {
	display: block;
	margin: 10px auto;
	width: 100%;
	max-width: $max-form-width;
	text-decoration: none;
}

.input-group {
	button.btn,
	a.btn {
		margin: 0;
	}
}

.alert-wrapper {
	max-width: $max-form-width + 100px;
	.alert {
		box-shadow: $box-shadow;
	}
}

// mobile safari menu bar padding
.mobile-safari:not(.mobile-safari-menu-bar-showing) {
	.prompt,
	pr-dialog .dialog-content .dialog-footer {
		padding-bottom: 30px;
	}

	.archive-list-button {
		padding-bottom: 10px;
	}

	pr-file-list,
	.right-menu {
		padding-bottom: 40px;
	}
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
	.mobile-safari:not(.mobile-safari-menu-bar-showing) {
		--safe-area-inset-bottom: env(safe-area-inset-bottom);
		.prompt,
		pr-dialog .dialog-content .dialog-footer {
			padding-bottom: calc(var(--safe-area-inset-bottom) + 30px) !important;
		}

		.archive-list-button {
			padding-bottom: calc(var(--safe-area-inset-bottom) + 10px) !important;
		}

		pr-file-list,
		.right-menu {
			padding-bottom: calc(var(--safe-area-inset-bottom) + 40px) !important;
		}
	}

	pr-file-list,
	.right-menu {
		padding-bottom: env(safe-area-inset-bottom);
	}
}

// @supports (padding-bottom: env(safe-area-inset-bottom)) {
//   .mobile-safari:not(.mobile-safari-menu-bar-showing) {
//     --safe-area-inset-bottom: env(safe-area-inset-bottom);
//     .prompt,
//     pr-dialog .dialog-content .dialog-footer {
//       padding-bottom: calc(var(--safe-area-inset-bottom) + 30px) !important;
//     }

//     .archive-list-button {
//       padding-bottom: calc(var(--safe-area-inset-bottom) + 10px) !important;
//     }
//   }
// }

.mobile-safari.mobile-safari-menu-bar-showing {
	.archive-list-button {
		padding-bottom: 0px;
	}
}

.pr-auth-form {
	& > div,
	& > p {
		padding: 10px;
	}
}

.has-breadcrumb {
	padding-top: 34px;
}

.block-center {
	display: block;
	text-align: center;
	margin: 0 auto;
}

nav .btn {
	display: inline-block;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 0;
	margin-left: auto;
}

.nav-second-row .btn {
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 0;
}

.right-menu-toggler {
	padding: 0px 0px;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	cursor: pointer;
	height: $navbar-height;
	display: flex;
	align-items: center;
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

.right-menu-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: '';
	background: no-repeat center center;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Options-Menu-Icon' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='0.5'%3E%3Ccircle id='Oval' fill='rgba(255,2555,255,1)' cx='15.5' cy='7.5' r='1.5'%3E%3C/circle%3E%3Ccircle id='Oval' fill='rgba(255,2555,255,1)' cx='15.5' cy='15.5' r='1.5'%3E%3C/circle%3E%3Ccircle id='Oval-Copy' fill='rgba(255,2555,255,1)' cx='15.5' cy='23.5' r='1.5'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");

	&.right-menu-toggler-icon-dark {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Options-Menu-Icon' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='0.5'%3E%3Ccircle id='Oval' fill='%23000000' cx='15.5' cy='7.5' r='1.5'%3E%3C/circle%3E%3Ccircle id='Oval' fill='%23000000' cx='15.5' cy='15.5' r='1.5'%3E%3C/circle%3E%3Ccircle id='Oval-Copy' fill='%23000000' cx='15.5' cy='23.5' r='1.5'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
	}
}

.search-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
}

.page-title {
	padding: 5px 10px;
	font-weight: 600;
}

.page-subheading {
	border-bottom: $file-list-border;
	height: 2 * $grid-unit;
	display: flex;
	align-items: center;
	margin-bottom: $grid-unit;
}

.break-all {
	word-break: break-all;
}

a {
	cursor: pointer;
	transition: color 0.3s;
}

.btn-wordpress,
.btn-wordpress-alternate {
	$size: 34px;
	background: rgba(white, 0.2);
	height: $size;
	border-radius: $size * 0.5;
	color: $PR-orange;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.7em;
	display: inline-flex;
	align-items: center;

	&:hover {
		background: white;
	}

	&.btn-wordpress-alternate {
		background: $PR-purple;
		color: white;

		&:hover {
			background: $PR-orange;
		}
	}
}

button.btn-wordpress,
button.btn-wordpress-alternate {
	line-height: 0px;
}

.btn-purple {
	@include button-variant($PR-purple, $PR-purple);
}

.btn-alternate,
.btn-alternate:disabled,
.btn-alternate.disabled,
.btn-alternate:hover,
.btn-alternate:active,
.btn-alternate:focus,
.btn-alternate:not(:disabled):not(.disabled):active {
	color: white;
}

.btn-alternate-purple {
	@include button-variant($PR-purple, $PR-purple);
}

.btn-alternate-blue-light {
	@include button-variant($PR-blue-light, $PR-blue-light);
}

.btn[disabled] {
	cursor: not-allowed;
}

.perm-banner {
	flex: 0 0 100px;
	height: 100px;
	padding: 0px 0.5rem;
	color: white;
	background-color: $PR-blue;

	.banner-content {
		margin: 0 auto;
		max-width: 800px;
		display: flex;
		height: 100%;
		align-items: center;
	}

	.banner-logo {
		flex: 0 0 auto;
		width: 200px;
	}
}

// DRAGGING RELATED

body.dragging {
	overflow-y: hidden;

	*:not(.drag-target) {
		cursor: no-drop !important;
	}

	*.drag-target,
	.drag-target * {
		cursor: pointer !important;
	}
}

$drag-outline-border: 5px;

.drag-service-cursor {
	position: absolute;
	opacity: 1;
	padding: 0.25rem;
	z-index: 100;
	pointer-events: none;
	top: 0;
	left: 0;
	border-radius: $border-radius;
	background-color: rgba($PR-orange, 0.9);

	&.active {
		opacity: 1;
		// $blur-size: 10px;
		// backdrop-filter: blur($blur-size);
		// -webkit-backdrop-filter: blur($blur-size);
	}

	.drag-service-cursor-item {
		font-weight: 700;
	}

	.drag-service-cursor-action {
		font-weight: 500;
	}

	&.for-file-list-item,
	&.for-file-upload {
		height: $file-list-row-height * 1.25;
		display: flex;
		flex-direction: column;
		justify-content: center;

		min-width: 15rem;
		max-width: calc($file-list-width-desktop / 3);
		// transform-origin: 50% 50%;

		.drag-service-cursor-item,
		.drag-service-cursor-action {
			max-width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.drag-service-cursor-action {
			font-size: $font-size-sm;
			position: absolute;
			bottom: 0.125rem;
			max-width: 100%;
		}
	}

	&.for-file-upload {
		position: fixed;
		top: $drag-outline-border;
		left: 50%;
		transform: translateX(-50%);
		background-color: $PR-orange;

		border-top-left-radius: 0;
		border-top-right-radius: 0;

		.drag-service-cursor-item,
		.drag-service-cursor-action {
			text-align: center;
		}

		.drag-service-cursor-action {
			position: initial;
			height: $font-size-sm * 1.25;
			line-height: $font-size-sm * 1.25;
		}
	}
}

.drag-service-screen-outline {
	border: $drag-outline-border solid $PR-orange;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	opacity: 1;
	pointer-events: none;
}

.inline-value-controls {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.5rem;

	button {
		flex: 0 0 auto;
		margin: 0;
		margin-left: 0.5rem;
		font-size: $font-size-sm;
		width: auto;
	}
}

.pr-tooltip {
	animation-name: fadein;
	animation-duration: 125ms;
	animation-timing-function: $tweaked-ease;
}

#zohohc-asap-web-launcherbox {
	opacity: 0.5;
	transition: opacity 0.25s;
}

#zohohc-asap-web-launcherbox:hover {
	opacity: 1;
}

.truncatedText {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fullText {
	white-space: normal;
	overflow: visible;
	text-overflow: clip;
	display: flex;
	align-items: center;
}
