button.btn, a.btn {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: $max-form-width;
}

.alert-wrapper {
  max-width: $max-form-width + 100px;
  .alert {
    box-shadow: $box-shadow;
  }
}

.pr-auth-form {
  & > div, & > p {
    padding: 10px;
  }
}

.block-center {
  display: block;
  text-align: center;
  margin: 0 auto;
}