@import 'colors';

$breadcrumb-divider: quote(">");
$breadcrumb-height: 34px;

$primary: $PR-blue;
$alternate: $PR-orange;

$navbar-toggler-padding-y: 0px;
$navbar-toggler-padding-x: 0px;

$input-btn-padding-y: .85rem;
$input-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;

$max-form-width: 400px;

$file-list-row-height: 50px;

$bottom-safe-area-padding: 40px;

$default-transition-length: 0.4s;
$shadow-color: rgba(black, 0.15);

$wordpress-shadow: 0em 0em 0.65em rgba(0,0,0,0.8);

@mixin has-breadcrumbs {
  padding-top: 34px;
  display: block;
}


@import 'vendor/bootstrap/functions';
@import 'vendor/bootstrap/variables';