@import 'colors';
@import 'grid';
@import 'z-index';
@import 'typography';

$primary: $PR-blue;
$alternate: $PR-orange;
$danger: $red;

$btn-font-weight: 700;
$font-weight-semibold: 600;

$navbar-toggler-padding-y: 0px;
$navbar-toggler-padding-x: 0px;

$input-btn-padding-y: 0.85rem;
$input-transition:
	border-color 0.15s ease-in-out,
	background-color 0.15s ease-in-out;

$max-form-width: 400px;

$darken-percent: 7%;

$bottom-safe-area-padding: 40px;

$default-transition-length: 0.5s;
$shadow-color: rgba(black, 0.15);
$shadow-color-dark: rgba(black, 0.45);

$wordpress-shadow: 0em 0em 0.65em rgba(0, 0, 0, 0.8);

$metadata-width: 350px;

$public-max-width: 800px;
$public-banner-height: pxToGrid(100px);
$public-archive-header-height: pxToGrid(70px);

$breadcrumb-divider: quote('>');
$breadcrumb-height: pxToGrid(34px);
$breadcrumb-height-desktop: 4 * $grid-unit;
$timeline-breadcrumb-height: $breadcrumb-height;
$timeline-folder-info-height: pxToGrid(50px);

$left-menu-width: pxToGrid(220px);
$navbar-height: pxToGrid(50px);
$navbar-height-desktop: 4 * $grid-unit;
$navbar-total-height: $navbar-height + $breadcrumb-height;
$navbar-total-height-desktop: $navbar-height-desktop +
	$breadcrumb-height-desktop;

$navbar-button-icon-padding: 0.5rem;

$sidebar-width: pxToGrid(300px);
$sidebar-tab-height: 2 * $grid-unit;

$file-list-row-height: pxToGrid(60px);
$file-list-border: 1px solid $gray-300;
$file-list-width-desktop: 100vw - #{$left-menu-width + $sidebar-width};
$file-list-controls-height: 4 * $grid-unit;
$file-list-thumb-col-width: $file-list-row-height;
$file-list-type-col-width: 8rem;
$file-list-access-col-width: $file-list-type-col-width;
$file-list-date-col-width: 8rem;
$file-list-name-col-width: 30rem;
$file-list-shared-by-col-width: 20rem;
$file-list-shared-icon-col-width: 2rem;
$file-list-grid-gutter: $grid-unit;

$phone: 450px;
$tablet: 768px;
$tablet-horizontal: 900px;
$desktop: 1200px;

$scrollbar-margin: pxToGrid(20px);

$taylor-ease: cubic-bezier(0.77, 0, 0.175, 1);
$tweaked-ease: cubic-bezier(0.63, 0.01, 0.3, 1);

$slide-up-animation: slideUp;

$menu-ease: $tweaked-ease;
$menu-open-ease: $menu-ease;
$menu-close-ease: $menu-ease;
$menu-transition-length: 0.45s;
$menu-transition-length-desktop: 0.5s;

$form-border: rgba(231, 232, 237, 1);

$form-border-error: rgba(254, 228, 226, 1);
$form-background-error: rgba(255, 251, 250, 1);

$form-background-focus: rgba(244, 246, 253, 1);
$form-border-focus: rgba(208, 209, 219, 1);

$form-background-dark: #131b4a;

$form-default-text-color: #5a5f80;

$form-label-dark: rgba(255, 255, 255, 0.64);

$form-error-red: rgba(240, 68, 56, 1);

$linear-gradient-background: linear-gradient(90deg, #131b4a 0%, #364493 100%);

@mixin public-centered {
	max-width: $public-max-width;
	margin-left: auto;
	margin-right: auto;
}

@mixin has-breadcrumbs {
	// padding-top: 34px;
	display: block;
}

@mixin file-list-col-name {
	flex: 1 1 $file-list-name-col-width;

	@include after($desktop) {
		padding-right: 0.5rem;
		flex-grow: 0;
		$ui-width-px: $left-menu-width + $sidebar-width - (4 * $grid-unit);
		$list-items-width-em: $file-list-type-col-width + $file-list-date-col-width;
		$list-items-width-px: $scrollbar-margin + $file-list-row-height + $grid-unit;
		flex-basis: calc(
			100vw - #{$ui-width-px + $list-items-width-px} - #{$list-items-width-em}
		);
	}
}

@mixin file-list-col-type {
	width: $file-list-type-col-width;
	flex: 0 0 $file-list-type-col-width;

	@include until($desktop) {
		display: none;
	}
}

@mixin file-list-col-access {
	width: $file-list-access-col-width;
	flex: 0 0 $file-list-access-col-width;

	@include until($desktop) {
		display: none;
	}
}

@mixin file-list-col-date {
	width: $file-list-date-col-width;
	flex: 0 0 $file-list-date-col-width;

	@include until($desktop) {
		display: none;
	}
}

@mixin file-list-col-shared-by {
	width: $file-list-shared-by-col-width;
	flex: 0 0 $file-list-shared-by-col-width;

	@include until($desktop) {
		display: none;
	}
}

@mixin file-list-col-shared-icon {
	min-width: $file-list-shared-icon-col-width;
	width: $file-list-shared-icon-col-width;
	flex: 0 0 $file-list-shared-icon-col-width;

	@include until($desktop) {
		display: none;
	}
}

$ionicons-font-path: 'https://unpkg.com/ionicons@4.6.3/dist/fonts';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'utilities';

// Custom variables (additions to Bootstrap's variable set)
$darkBlue: #131b4a !default;
$box-shadow-dark: 0 0.5rem 1rem rgba($black, 0.3) !default;
$font-size-xs: ($font-size-base * 0.75) !default;

// Customizations to Bootstrap Variables
$link-color: lighten(theme-color('primary'), 20%);
$link-decoration: underline;
$link-hover-color: lighten($link-color, 20%);
$link-hover-decoration: none;

@import 'dialog';
@import 'profile';
