@import 'colors';

$breadcrumb-divider: quote(">");

$primary: $PR-blue;

$navbar-toggler-padding-y: 0px;
$navbar-toggler-padding-x: 0px;

$input-btn-padding-y: .85rem;
$input-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;

$max-form-width: 400px;

$file-list-row-height: 50px;

@import 'vendor/bootstrap/functions';
@import 'vendor/bootstrap/variables';