@import '@angular/cdk/overlay-prebuilt.css';

@import 'variables';
@import 'bootstrap-custom';
@import 'ionicons/dist/scss/ionicons';

@import 'animations';
@import 'base';
@import 'icons';
@import 'menus';
@import 'ui';
@import 'forms';
@import 'bgImage';
@import 'loaders';
@import 'timeline';
@import 'fileList';
@import 'dialog';

@import 'shepherd';
@import 'ng-bootstrap';
