@import '@angular/cdk/overlay-prebuilt.css';

@import 'variables';
@import 'vendor/bootstrap/bootstrap-custom';

@import 'animations';
@import 'base';
@import 'menus';
@import 'ui';
@import 'forms';
@import 'bgImage';
@import 'loaders';
@import 'timeline';
@import 'fileList';
@import 'dialog';

@import 'shepherd';
@import 'ng-bootstrap';
