<div class="public-settings">
	<div class="settings-item">
		<label>Show Download Button</label>
		<div class="form-check form-check-inline">
			<input
				class="form-check-input"
				type="radio"
				name="allowDownloadsToggle"
				id="allowDownloadsToggleOn"
				[value]="1"
				[disabled]="updating"
				[(ngModel)]="allowDownloadsToggle"
				(ngModelChange)="onAllowDownloadsChange()"
			/>
			<label class="form-check-label" for="allowDownloadsToggleOn">Show</label>
		</div>
		<div class="form-check form-check-inline">
			<input
				class="form-check-input"
				type="radio"
				name="allowDownloadsToggle"
				id="allowDownloadsToggleOff"
				[value]="0"
				[disabled]="updating"
				[(ngModel)]="allowDownloadsToggle"
				(ngModelChange)="onAllowDownloadsChange()"
			/>
			<label class="form-check-label" for="allowDownloadsToggleOff">Hide</label>
		</div>
	</div>
	<small class="text-muted">
		Display a button that allows viewers of your published items to download a
		copy of the source file to their device.
	</small>
	<div class="settings-item">
		<label>Archive Type</label>
		@if (archive.type === 'type.archive.nonprofit') {
			<label class="text-muted">Nonprofit</label>
		}
		@if (archive.type !== 'type.archive.nonprofit') {
			<select
				[(ngModel)]="archiveType"
				name="archiveType"
				id="archiveType"
				(ngModelChange)="onArchiveTypeChange()"
				class="form-select"
			>
				@for (type of archiveTypes; track type) {
					<option [ngValue]="type.value">
						{{ type.name }}
					</option>
				}
			</select>
		}
	</div>
	@if (archive.type !== 'type.archive.nonprofit') {
		<small class="text-muted"
			>The archive type reflects what the archive represents, such as a person,
			a group or family, or an organization.</small
		>
	}
	@if (archive.type === 'type.archive.nonprofit') {
		<small class="text-muted"
			>This archive has been designated as a nonprofit archive. If you need to
			make a change please
			<a href="{{ supportLink }}">contact support</a></small
		>
	}
</div>
