<div class="public-settings">
  <div class="settings-item">
    <label>Show Download Button</label>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="allowDownloadsToggle"
        id="allowDownloadsToggleOn"
        [value]="1"
        [disabled]="updating"
        [(ngModel)]="allowDownloadsToggle"
        (ngModelChange)="onAllowDownloadsChange()"
      />
      <label class="form-check-label" for="allowDownloadsToggleOn">Show</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="allowDownloadsToggle"
        id="allowDownloadsToggleOff"
        [value]="0"
        [disabled]="updating"
        [(ngModel)]="allowDownloadsToggle"
        (ngModelChange)="onAllowDownloadsChange()"
      />
      <label class="form-check-label" for="allowDownloadsToggleOff">Hide</label>
    </div>
  </div>
  <small class="text-muted">
    Display a button that allows viewers of your published items to download a
    copy of the source file to their device.
  </small>
  <div class="settings-item">
   <label>Archive Type</label>
   <select [(ngModel)]="archiveType" name="archiveType" id="archiveType" (ngModelChange)="onArchiveTypeChange()" [disabled]="archive.type === 'type.archive.nonprofit'" class="custom-select">
    <option *ngFor="let type of archiveTypes" [ngValue]="type.value">
      {{type.name}}
    </option>
   </select>
  </div>
  <small class="text-muted">The archive type reflects what the archive represents, such as a person, a group or family, or an organization.</small>
</div>
