<div class="perm-banner">
  <div class="banner-content">
    <img class="banner-logo" src="assets/img/logo/sideways_logo.png">
  </div>
</div>
<pr-debugger [currentScreen]="screen" (setState)="setState($event)"></pr-debugger>
<div class="onboarding">
  <ng-container [ngSwitch]="screen">
    <pr-welcome-screen (nextScreen)="setScreen($event)" (acceptInvitation)="setNewArchive($event)" [pendingArchives]="pendingArchives" *ngSwitchCase="OnboardingScreen.welcomeScreen"></pr-welcome-screen>
    <pr-create-new-archive (createdArchive)="setNewArchive($event)" *ngSwitchCase="OnboardingScreen.newArchive"></pr-create-new-archive>
    <div *ngSwitchCase="OnboardingScreen.done">Done with process! (At this point we'd bring the user to the main app in their new archive). <br /> This account's main archive: <pre>{{ currentArchive | json}}</pre></div>
    <div *ngSwitchDefault>Something went wrong.</div>
  </ng-container>
</div>
