<!-- @format  -->
<div class="onboarding-header-container">
  @if (isGlam) {
    <pr-onboarding-glam-header></pr-onboarding-glam-header>
  } @else {
    <pr-onboarding-header [accountName]="accountName"></pr-onboarding-header>
  }
</div>
<div *ngIf="errorMessage.length > 0">
  <div class="alert-wrapper" class="visible fade">
    <div class="alert alert-primary alert-warning">
      {{ errorMessage }}
    </div>
  </div>
</div>
<div
  class="onboarding"
  [ngClass]="{ 'onboarding-glam': isGlam }"
  *ngIf="showOnboarding; else loading"
>
  <div class="progress-bar">
    <div [ngClass]="getProgressChunkClasses(0)"></div>
    <div [ngClass]="getProgressChunkClasses(1)"></div>
    <div [ngClass]="getProgressChunkClasses(2)"></div>
  </div>
  <ng-container [ngSwitch]="screen">
    <pr-welcome-screen
      (nextScreen)="setScreen($event)"
      (selectInvitation)="selectArchiveInvitation($event)"
      [pendingArchives]="pendingArchives"
      *ngSwitchCase="OnboardingScreen.pendingArchives"
    ></pr-welcome-screen>
    <pr-create-new-archive
      (back)="setScreen(OnboardingScreen.pendingArchives)"
      (createdArchive)="setNewArchive($event)"
      (progress)="setProgress($event)"
      (error)="errorMessage = $event"
      [pendingArchives]="pendingArchives"
      [pendingArchive]="selectedPendingArchive"
      *ngSwitchCase="OnboardingScreen.welcomeScreen"
    ></pr-create-new-archive>
    <div *ngSwitchCase="OnboardingScreen.done" class="loading">Loading...</div>
    <div *ngSwitchDefault>Something went wrong.</div>
  </ng-container>
</div>
<ng-template #loading>
  <div class="loading">Loading...</div>
</ng-template>
<pr-mobile-banner></pr-mobile-banner>
<pr-prompt></pr-prompt>
