:host {
	display: block;
	flex: 1;
	max-width: 100%;
	background-color: white;
	padding: 5px;
}

pr-archive-small {
	margin-bottom: 20px;
}

p {
	padding: 0px 10px;
}

.relations,
.search-results {
	padding: 10px 10px;
}
