<div class="dialog-content">
	<div class="dialog-body">
		<div class="page-title">Choose an Archive</div>
		<p>
			@if (dialogData.shareItem) {
				<span
					>Choose from your existing relationships or search by email address to
					create a relationship and share this item</span
				>
			}
			@if (!dialogData.shareItem) {
				<span
					>Search by email address to find archives and request a
					connection.</span
				>
			}
			<button class="btn btn-primary" (click)="searchByEmail()">Search</button>
		</p>
		@if (searchResults) {
			<div class="page-subheading">Results for {{ searchEmail }}</div>
		}
		@if (searchResults && !searchResults.length) {
			<p>
				No archives found.
				<br />
				@if (dialogData.shareItem) {
					<button class="btn btn-primary" (click)="sendInvite()">
						Invite to share
					</button>
				}
				@if (!dialogData.shareItem) {
					<button class="btn btn-primary" (click)="sendInvite()">
						Invite to Permanent.org
					</button>
				}
			</p>
		}
		<div class="search-results">
			@for (result of searchResults; track result) {
				<pr-archive-small (click)="chooseArchive(result)" [archive]="result">
				</pr-archive-small>
			}
		</div>
		@if (dialogData.shareItem) {
			<div>
				<div class="page-subheading">Connections</div>
				@if (!relations) {
					<p>No connections</p>
				}
				@if (relations && !relations.length) {
					<p>No connections available to share with</p>
				}
				<div class="relations">
					@for (relation of relations; track relation) {
						<pr-archive-small
							(click)="chooseArchive(relation.RelationArchiveVO)"
							[archive]="relation.RelationArchiveVO"
							[relation]="relation.type"
						>
						</pr-archive-small>
					}
				</div>
			</div>
		}
	</div>
	<div class="dialog-footer">
		<button class="btn btn-secondary" (click)="cancel()">Cancel</button>
	</div>
</div>
