@import 'variables';

@mixin darkButton($isLink: false) {
	background-color: rgba($PR-brand-white, 0);
	border: 1px solid rgba($PR-brand-white, 0.32);

	& > .button-text {
		color: $PR-brand-white;
		margin: 0;
		@include bodyMedium;

		@if $isLink {
			font-size: 14px;
		}
	}
}

@mixin lightButton($isLink: false) {
	background-color: $PR-brand-white;
	border: 1px solid rgba($PR-blue-200, 1);
	& > .button-text {
		color: rgba($PR-blue-900, 1);
		margin: 0;
		@include bodyMedium;

		@if $isLink {
			font-size: 14px;
		}
	}

	& > .icon {
		color: rgba($PR-blue-900, 1);
	}
}

.button {
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:focus {
		outline: none;
	}

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	padding: 0px 24px;
	gap: 16px;
	cursor: pointer;

	&-large {
		height: 64px;
	}

	&-reverse {
		flex-direction: row-reverse;
	}

	& > .icon {
		color: $PR-brand-white;
	}

	&-primary {
		&.button-light {
			@include darkButton();
			&:focus {
				border: 2px solid $PR-brand-white;
			}
		}
		&.button-dark {
			@include lightButton();
		}
	}

	&-secondary {
		&.button-light {
			@include lightButton();
			&:focus {
				border: 2px solid $PR-brand-black;
			}
		}
		&.button-dark {
			@include darkButton();
			border: 1px solid rgba($PR-brand-white, 0.32);
		}
	}

	&-tertiary {
		&.button-dark {
			@include darkButton();
			border: 1px solid transparent;
		}
		&.button-light {
			@include lightButton();
			border: 1px solid transparent;
		}
	}

	&-hug {
		padding: 16px 24px;
	}

	&-fill {
		width: 100%;
		padding: 12px 24px;
		height: 56px;
		justify-content: space-between;
		&-no-icon {
			justify-content: center;
		}
	}

	&-fill.button-large {
		height: 64px;
	}

	&-text {
		color: $PR-brand-white;
		margin: 0;
		@include bodyMedium;
	}

	&-link {
		margin-left: 4px;
		padding: 0px;
		&.button-dark {
			@include darkButton(true);
			font-size: 14px;
			border: 1px solid transparent;
		}
		&.button-light {
			@include lightButton(true);
			font-size: 14px;
			border: 1px solid transparent;
		}

		&:focus {
			outline: none;
			background-color: #e0e0e0;
			box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
			border-color: #159ce4;
		}
	}
}
