<button
	[attr.type]="buttonType"
	class="button"
	[style]="style"
	[ngClass]="[
		'button-' + variant,
		'button-' + size,
		'button-' + mode,
		'button-' + height,
		size === 'fill' && !icon && !faIcon ? 'button-fill-no-icon' : '',
		orientation === 'right' ? 'button-reverse' : ''
	]"
	[disabled]="disabled"
	[style]="style"
	(click)="onClick($event)"
	[style]="style"
>
	@if (icon) {
		<img class="icon" src="{{ 'assets/svg/' + icon + '.svg' }}" />
	}
	@if (faIcon) {
		<fa-icon class="icon" [icon]="['fas', faIcon]"></fa-icon>
	}
	<p [style]="{ color: color }" class="button-text">
		<ng-content></ng-content>
	</p>
</button>
