@import 'variables';

:host {
  display: block;
  width: 100%;
}

.header {
  @include tabbedDialogHeader($PR-blue-light);
  button {
    margin-left: -$grid-unit / 2;
    margin-right: $grid-unit / 2;
  }
}

.content {
  @include tabbedDialogContent(500px);
}

.tabs {
  @include tabbedDialogNav($PR-blue-light, 'dialog-tab');
}

.panel {
  flex: 1 1 auto;
  padding: 0 $grid-unit / 2;
  display: flex;
  flex-direction: column;
  @include desktop {
    padding: 0 $grid-unit;
  }
}

.panel-header {
  height: pxToGrid(100px);
  flex: 0 0 pxToGrid(100px);
  border-bottom: $file-list-border;
  display: flex;
  align-items: center;

  .buttons {
    display: flex;
    margin-left: auto;
  }

  button {
    @include gridHeightButton;
    justify-content: center;
    width: 8 * $grid-unit;
    margin: 0;
    margin-left: $grid-unit;
  }

  .profile-visibility {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-weight-semibold;
    max-width: 24 * $grid-unit;
    margin-right: auto;

    > * {
      flex: 0 0 auto;
      margin-right: $grid-unit * 2;
    }

    .visibility-option {
      display: flex;
      align-items: center;

      input {
        cursor: pointer;
        margin-right: $grid-unit / 2;
      }

      span {
        display: block;
        font-size: $font-size-xs;
        font-weight: $font-weight-base;
        color: $text-muted;
      }
    }
  }
}

.panel-scroll {
  flex: 1 1 auto;
  overflow-y: auto;
}

.profile-banner {
  height: pxToGrid(220px);
}

.profile-photo {
  $size: pxToGrid(180px);
  height: $size;
  width: $size;
  background-size: cover;
  background-position: 50% 50%;
  margin-left: 2 * $grid-unit;
  margin-bottom: -$size/2 + $grid-unit;
  transform: translateY(-50%);
}

.profile-prompt {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  height: 2 * $grid-unit;
  display: flex;
  align-items: center;
}

.profile-group {
  
}