@import 'variables';

$max-width: 1000px;

:host {
  display: block;
  width: 100%;
}

.header {
  @include tabbedDialogHeader($PR-blue-light);
  button {
    margin-left: -$grid-unit / 2;
    margin-right: $grid-unit / 2;
  }
}

.content {
  @include tabbedDialogContent(500px);
}

.tabs {
  @include tabbedDialogNav($PR-blue-light, 'dialog-tab');
}

.panel {
  flex: 1 1 auto;
  padding: 0 $grid-unit / 2;
  display: flex;
  flex-direction: column;
  @include desktop {
    padding: 0 $grid-unit;
  }
}

.panel-header {
  height: pxToGrid(100px);
  flex: 0 0 pxToGrid(100px);
  border-bottom: $file-list-border;
  display: flex;
  align-items: center;
  background-color: white;

  .buttons {
    display: flex;
    margin-left: auto;
  }

  button {
    @include gridHeightButton;
    justify-content: center;
    width: 8 * $grid-unit;
    margin: 0;
    margin-left: $grid-unit;
  }

  .profile-visibility {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-weight-semibold;
    max-width: 24 * $grid-unit;
    margin-right: auto;

    > * {
      flex: 0 0 auto;
      margin-right: $grid-unit * 2;
    }

    .visibility-option {
      display: flex;
      align-items: center;

      input {
        cursor: pointer;
        margin-right: $grid-unit / 2;
      }

      span {
        display: block;
        font-size: $font-size-xs;
        font-weight: $font-weight-base;
        color: $text-muted;
      }
    }
  }
}

.panel-scroll {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 0px (-$grid-unit);
  padding: 0px ($grid-unit) $grid-unit * 2;
}

.profile-banner {
  height: pxToGrid(220px);
  $list: $PR-blue 0%, $PR-purple 66%, mix($PR-purple, $PR-orange, 50%) 100%;
  @include gradient(to top left, $list);
}

.profile-photo {
  $size: pxToGrid(180px);
  height: $size;
  width: $size;
  background-size: cover;
  background-position: 50% 50%;
  margin-left: 2 * $grid-unit;
  margin-bottom: -$size/2 + $grid-unit;
  transform: translateY(-50%);
}

.profile-prompt {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  height: 2 * $grid-unit;
  display: flex;
  align-items: center;
}

.profile-section {
 max-width: $max-width;
 padding-top: $grid-unit;
}

.profile-field-subtitle {
  color: $text-muted;
  text-align: right;
}

.profile-section-header {
  margin-top: $grid-unit;
  max-width: $max-width;
  $height: 3 * $grid-unit;
  height: $height;
  display: flex;
  align-items: center;
  padding-left: $grid-unit;

  background-color: $gray-200;

  font-size: $font-size-lg;
  font-weight: $font-weight-bold;

  .collapse {
    height: $height;
    flex: 0 0 $height;
    background-color: $PR-blue;
    color: white;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    user-select: none;

    i {
      color: white;
      font-size: $mat-icon-lg;
      transform: rotate(0deg);
      transition: transform 125ms $tweaked-ease;
    }

    &.closed {
      i {
        transform: rotate(180deg);
      }
    }
  }
}

.profile-group {
  display: flex;
  margin-bottom: 2 * $grid-unit;

  > * {
    flex: 1 1 auto;
  }


  &.in-thirds > * {
    flex: 1 0 (100% * 1/3);
  }

  &.in-half > *{
    flex: 0 0 50%
  }
}

.profile-field {
  label {
    margin-bottom: 0;
    font-weight: $font-weight-semibold;
  }

  pr-inline-value-edit {
    margin-right: $grid-unit;
  }
}

