@import 'variables';

:host {
  @include has-breadcrumbs;
  @include mainContentScrollDesktop;
}

$profile-padding-x: 10px;

p {
  padding: 10px;
}

.profile-group {
  margin-bottom: 10px;

  .profile-group-title {
    font-weight: $font-weight-bold;
    border-bottom: 1px solid $gray-300;
    padding: $profile-padding-x;
  }
  

  &:not(:first-of-type) {
    .profile-group-title {
      border-top: 1px solid $gray-300;
    }
  }
}


.profile-item {
  padding: 5px $profile-padding-x;
  & > label {
    font-weight: 600;
    margin-bottom: 0px;
  }

  .profile-item-content {
    $padding-y: 0.25rem;
    padding: $padding-y 0;
  }

  @include after($phone) {
    max-width: 20rem;
  }

  &.profile-item-large {
    max-width: 40rem;
  }
}