<div class="pr-time-input-wrap">
	<div
		class="pr-time-input-group"
		[class.active]="showTimepicker()"
		[class.has-error]="!!currentError()"
	>
		<input
			#hoursInput
			type="text"
			class="pr-time-segment"
			[value]="time.hours ?? ''"
			[disabled]="disabled"
			(input)="updateTime($event, 'hours', minutesInput)"
			placeholder="hh"
			maxlength="2"
		/>
		<span class="pr-colon">:</span>
		<input
			#minutesInput
			type="text"
			class="pr-time-segment"
			[value]="time.minutes ?? ''"
			[disabled]="disabled"
			(input)="updateTime($event, 'minutes', secondsInput)"
			(keydown)="onMinutesKeydown($event)"
			placeholder="mm"
			maxlength="2"
		/>
		<span class="pr-colon">:</span>
		<input
			#secondsInput
			type="text"
			class="pr-time-segment"
			[value]="time.seconds ?? ''"
			[disabled]="disabled"
			(input)="updateTime($event, 'seconds')"
			(keydown)="onSecondsKeydown($event)"
			placeholder="ss"
			maxlength="2"
		/>
		<button
			class="pr-am-pm-toggle"
			[disabled]="disabled"
			(click)="cycleFormat()"
		>
			{{ formatLabel() }}
		</button>
		<div class="pr-time-icon-wrapper">
			<span
				class="pr-icon-button"
				role="button"
				tabindex="0"
				[class.disabled]="disabled"
				(click)="toggleTimepicker()"
				(keydown.enter)="toggleTimepicker()"
				(keydown.space)="toggleTimepicker()"
			>
				<i class="material-icons">access_time</i>
			</span>
		</div>
	</div>

	@if (currentError()) {
		<span class="pr-input-error">{{ currentError() }}</span>
	}
</div>

@if (showTimepicker()) {
	<div class="pr-timepicker-dropdown">
		<ngb-timepicker
			[formControl]="timepickerControl"
			[meridian]="!is24Hour()"
			[spinners]="true"
		/>
	</div>
}
