@import 'variables';

:host {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 4;
	background-color: white;
	text-align: center;
	padding: 10px 0 0;

	@include mainContentScrollDesktop;
	@include desktop {
		position: relative;
		z-index: initial;
	}
}

.archive-list-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 16px;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 17px;
}

.archive-list-close {
	background: none;
	border: none;
	padding: 0;
	padding-bottom: 1px;
	cursor: pointer;
	color: $gray-600;
	display: flex;
	align-items: center;

	.archive-list-close-button {
		font-size: 20px;
	}

	&:hover {
		color: $gray-900;
	}
}

.archive-list-wrapper {
	flex: 1 1;
	max-width: 360px;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.current-archive {
	border: 1px solid $gray-300;
	border-radius: 0.25rem;
	padding: 20px;
}

.archive-list {
	padding-top: 8px;
}

.archive-list-row {
	border-bottom: 1px solid $gray-200;
	cursor: pointer;

	&:first-of-type {
		border-top: 1px solid $gray-200;
	}

	::ng-deep pr-archive-small {
		padding: 12px 16px;
	}

	::ng-deep pr-archive-small:hover {
		background-color: $gray-100;
	}

	&--current {
		background-color: $PR-orange-lightest;

		::ng-deep pr-archive-small:hover {
			background-color: darken($PR-orange-lightest, 4%);
		}
	}
}

.archives-empty {
	margin-top: 20px;
	padding: 0 16px;
}

.archive-list-button {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.archive-list-button-approve-icon {
		vertical-align: top;
		font-size: 20px;
		padding-left: 5px;
	}
}

.cancel-button {
	font-size: 16px;
	color: $text-muted;
	text-decoration: none;
	margin: 0 0 10px 0;

	&:hover {
		text-decoration: underline;
	}
}
