<div class="archive-list-wrapper">
	<div class="archive-list">
		<div class="archive-list-title">
			<span>Select archive to request access</span>
			<button class="archive-list-close" (click)="cancelClick()">
				<i class="material-icons archive-list-close-button">close</i>
			</button>
		</div>
		@for (archive of archives; track archive) {
			<div
				class="archive-list-row"
				[class.archive-list-row--current]="
					archive.archiveId === currentArchive?.archiveId
				"
			>
				<pr-archive-small
					[archive]="archive"
					[accessRole]="archive.accessRole"
					[clickable]="true"
					(click)="archiveClick(archive)"
				>
				</pr-archive-small>
			</div>
		}
		@if (!archivesLoading && !archives.length) {
			<div class="archives-empty">You have no other archives</div>
		}
		@if (archivesLoading) {
			<pr-basic-loading-spinner></pr-basic-loading-spinner>
		}
	</div>
</div>
<div class="archive-list-button">
	<button class="btn btn-primary" (click)="createArchiveClick()">
		Create new archive
		<i class="material-icons archive-list-button-approve-icon">inventory_2</i>
	</button>
	<button class="btn btn-link cancel-button" (click)="cancelClick()">
		Cancel
	</button>
</div>
