@import 'variables';

:host {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 4;
	background-color: white;
	text-align: center;
	padding: 10px 10px 0px;

	@include mainContentScrollDesktop;
	@include desktop {
		position: relative;
		z-index: initial;
	}
}

.archive-list-title {
	padding: 10px;
	margin-bottom: 10px;
	font-weight: 600;
}

.archive-list-wrapper {
	flex: 1 1;
	max-width: 360px;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.current-archive {
	border: 1px solid $gray-300;
	border-radius: 0.25rem;
	padding: 20px;
}

.archive-list {
	padding: 20px;
	pr-archive-small {
		margin-bottom: 20px;
	}
}

.archives-empty {
	margin-top: 20px;
}

.archive-list-button {
	width: 100%;
}
