<div class="archive-list-wrapper">
	<div class="archive-list">
		<div class="archive-list-title">Select archive to request access:</div>
		@for (archive of archives; track archive) {
			<pr-archive-small
				[archive]="archive"
				[accessRole]="archive.accessRole"
				(click)="archiveClick(archive)"
			>
			</pr-archive-small>
		}
		@if (!archivesLoading && !archives.length) {
			<div class="archives-empty">You have no other archives</div>
		}
		@if (archivesLoading) {
			<pr-basic-loading-spinner></pr-basic-loading-spinner>
		}
	</div>
</div>
<div class="archive-list-button">
	<button class="btn btn-primary" (click)="createArchiveClick()">
		Create new archive
	</button>
	<button class="btn btn-primary" (click)="backButtonClick()">
		Current Archive
	</button>
</div>
