@import 'variables';

:host {
  position: relative;
  display: block;
}


.timeline {
  $minus: $timeline-breadcrumb-height + $public-banner-height + $public-archive-header-height;
  min-height: calc(100vh - #{$minus});
  height: calc(100vh - #{$minus});
  width: 100%;

  &.navigating {
    opacity: 0.7;
    pointer-events: none;
  }
}

.timeline-zoom-controls {
  position: fixed;
  top: $timeline-breadcrumb-height;
  left: 0;
}
