<ng-container>
	<div
		class="profile-section-header active-sort"
		[class.sort-desc]="(milestoneSortOrder$ | async) === 'desc'"
	>
		<span
			class="header-title"
			(click)="toggleMilestoneSortOrder()"
			[attr.aria-label]="(milestoneSortOrder$ | async) === 'desc' ? 'Milestones sorted newest first, click to sort oldest first' : 'Milestones sorted oldest first, click to sort newest first'"
			>Milestones</span
		>
	</div>
	@if (milestones$ | async; as milestones) {
		<div class="profile-section">
			@if (!milestones.length) {
				<small> No milestones... </small>
			}
			@for (profileItem of milestones; track profileItem) {
				<div class="profile-repeat-entry">
					<div class="profile-group">
						<div class="profile-field profile-field-title">
							{{ profileItem.string1 }}
						</div>
						@if (profileItem.LocnVOs?.length) {
							<div class="profile-field profile-field-subtitle">
								{{ (profileItem.LocnVOs[0] | prLocation).full }}
							</div>
						}
						@if (profileItem.day1 || profileItem.day2) {
							<div class="profile-field profile-field-date">
								{{ profileItem.day1 | date }}
								@if (profileItem.day2) {
									<span> - {{ profileItem.day2 | date }} </span>
								}
							</div>
						}
						@if (profileItem.string2) {
							<div class="profile-field profile-field-description">
								<div [innerHTML]="profileItem.string2 | newlineText"></div>
							</div>
						}
					</div>
				</div>
			}
		</div>
	}
</ng-container>
