@import 'variables';

:host {
	display: block;
	width: 100%;
}

$photo-desktop: pxToGrid(220px);
$photo-mobile: pxToGrid(80px);
$profile-max-width: 1200px;

.profile-archive-link {
	display: flex;
	> .btn {
		flex: 0 0 auto;
		width: auto;
		margin: 0;
		@include gridHeightButton;
	}
}

.profile-section {
	@include profileSection;
}

.profile-section-header {
	@include profileSectionHeader;

	max-width: none;

	.header-title {
		cursor: pointer;
		user-select: none;
		display: inline-flex;
		align-items: center;
	}

	.header-title::after {
		@include material-icon;
		content: 'expand_more';
		margin-left: $grid-unit * 0.5;
		font-size: $font-size-lg;
		display: inline-flex;
		align-items: center;
		opacity: 0.5;
		position: relative;
		transition: 250ms $tweaked-ease transform;
		transform: rotate(0deg);
	}

	.header-title:hover::after {
		opacity: 0.75;
	}

	&.active-sort {
		.header-title::after {
			opacity: 1;
		}

		&.sort-desc .header-title::after {
			transform: rotate(180deg);
		}
	}
}

.profile-group {
	margin-bottom: 2 * $grid-unit;
	flex-basis: 100%;
}

.profile-prompt {
	@include profilePrompt;
}

.profile-field {
	@include profileField;

	&:last-child {
		margin-bottom: $grid-unit * 0.5;
	}
}

.profile-field-title {
	font-size: $font-size-lg;
	font-weight: $font-weight-bold;
}

.profile-field-subtitle {
	font-weight: $font-weight-semibold;
}

.profile-field-date {
	color: $text-muted;
}

.profile-field-description {
	margin-top: $grid-unit * 0.5;
}
