<ng-container>
  <div class="profile-section-header">Milestones</div>
  <div class="profile-section" *ngIf="milestones$ | async as milestones">
    <small *ngIf="!milestones.length">
      No milestones...
    </small>
    <div class="profile-repeat-entry"
    *ngFor="let profileItem of milestones">
    <div class="profile-group in-half">
      <div class="profile-field" *ngIf="profileItem.LocnVOs?.length">
        <label>{{(profileItem.LocnVOs[0] | prLocation).full}}</label>
        <pr-static-map [location]="profileItem.LocnVOs[0]"></pr-static-map>
      </div>
      <div class="profile-group">
        <div class="profile-group" *ngIf="profileItem.string1">
          <div class="profile-field">
            <label>Title</label>
            <div>
              {{ profileItem.string1 }}
            </div>
          </div>
        </div>
        <div class="profile-group in-half" *ngIf="profileItem.day1 || profileItem.day2">
          <div class="profile-field">
            <label>
              Start Date
            </label>
            <div>
              {{ profileItem.day1 | date }}
            </div>
          </div>
          <div class="profile-field" *ngIf="profileItem.day2">
            <label>
              End Date
            </label>
            <div>
              {{ profileItem.day2 | date }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-group" *ngIf="profileItem.string2">
      <div class="profile-field">
        <label>Description</label>
        <div [innerHTML]="profileItem.string2 | newlineText"></div>
      </div>
    </div>
  </div>
  </div>
</ng-container>