@import 'variables';

:host {
  display: block;
  width: 100%;
}

$photo-desktop: pxToGrid(220px);
$photo-mobile: pxToGrid(80px);
$profile-max-width: 1200px;

.profile-archive-link {
  display: flex;
  > .btn {
    flex: 0 0 auto;
    width: auto;
    margin: 0;
    @include gridHeightButton;
  }
}

.profile-section {
  @include profileSection;
}

.banner-section {
  margin: -$grid-unit;
  position: relative;

  @include beforeDesktop {
    margin: -$grid-unit / 2;
  }

  .profile-archive-link {
    position: absolute;
    right: $grid-unit * 2;
    bottom: $photo-desktop / 2 + $grid-unit;
  }
}

.profile-section-header {
  @include profileSectionHeader;

  max-width: none;
}

.profile-group {
  margin-bottom: 2 * $grid-unit;

  @include desktop {
    flex-wrap: wrap;
    display: flex;
  
    &.in-thirds > * {
      flex: 0 1 (100% * 1/3);
      
      &.profile-field:not(:nth-child(3n - 1)) {
        padding-right: $grid-unit;
      }
    }
  
    &.in-half > * {
      flex: 0 1 50%;
      
      &.profile-field:not(:nth-child(even)) {
        padding-right: $grid-unit;
      }
    }
  }
}

.profile-prompt {
  @include profilePrompt;
}

.profile-field {
  @include profileField;
  margin-bottom: $grid-unit;

  &:not(:last-child) {
    margin-bottom: $grid-unit / 2;
  }
  
  pr-static-map {
    min-height: pxToGrid(260px);
    margin-top: pxToGrid(4px);
  }
}