@import 'variables';

$toolbar-height: 30px;
$transition-length: 0.35s;

.file-viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;

  &.minimal {
    background-color: black;
    .file-viewer-close {
      transform: translateY(-100%);
    }

    .file-viewer-name {
      transform: translateY(100%);
    }
  }

  transition: background-color $transition-length ease-in-out;
}

.file-viewer-close {
  position: absolute;
  top: 0;
  width: 100%;
  height: $toolbar-height;
  transform: translateY(0);

  a {
    line-height: $toolbar-height;
    padding: 0px 5px;
    cursor: pointer;
    > span {
      opacity: 0.5;
    }
  }
}

.file-viewer-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: $toolbar-height;
  line-height: $toolbar-height;
  text-align: center;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateY(0)
}

.file-viewer-name, .file-viewer-close {
  transition: transform $transition-length ease-in-out;
}

.file-viewer-image, pr-thumbnail, pr-video, .thumb-preview {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
  right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.full {
    z-index: 1;
  }
}

.thumb-target {
  position: absolute;
  top: $toolbar-height;
  bottom: $toolbar-height;
  left: 0px;
  right: 0px;
}

.thumb-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  &.prev {
    transform: translateX(-100%);
  }
  
  &.next {
    transform: translateX(100%);
  }
}