<div class="file-viewer" [ngClass]="{'minimal': useMinimalView}">
  <div class="file-viewer-close">
    <a (click)="close()">
      <span><</span> Back
    </a>
  </div>
  <div class="thumb-target">
    <div class="thumb-wrapper" *ngFor="let record of records; let i = index;" [hidden]="!isQueued(i)"
      [ngClass]="{'prev': i == currentIndex - 1, 'next': i == currentIndex + 1, 'current': i == currentIndex, 'queue': isQueued(i)}">
      <div class="thumb-preview no-placeholder" prBgImage [bgSrc]="record.thumbURL200" *ngIf="isQueued(i)"></div>
      <div *ngIf="currentRecord == record" class="full">
        <pr-thumbnail [item]="currentRecord" *ngIf="showThumbnail"></pr-thumbnail>
        <pr-video [item]="currentRecord" *ngIf="isVideo"></pr-video>
      </div>
    </div>
    <div class="file-viewer-control file-viewer-control-previous" (click)="incrementCurrentRecord(true)"
      *ngIf="currentIndex > 0"><span>&#8249;</span></div>
    <div class="file-viewer-control file-viewer-control-next" (click)="incrementCurrentRecord()"
      *ngIf="currentIndex < records.length - 1"><span>&#8250;</span></div>
  </div>
  <div class="file-viewer-name">
    {{currentRecord.displayName}}
  </div>
</div>