<div class="public-banner">
  <div class="banner-content">
      <a href="/">
        <img class="banner-logo" src="assets/img/logo/sideways_logo.png">
      </a>
      <pr-search-box (searchBarFocusChange)="onSearchBarFocusChange($event)"></pr-search-box>
      <div class="banner-buttons">
        <button class="btn btn-wordpress" (click)="onSignupClick()">Sign Up</button>
      </div>
  </div>
</div>
<div class="public-archive" *ngIf="archive">
  <div class="public-archive-thumb" prBgImage [bgSrc]="archive.thumbURL200"></div>
  <span>
    <strong>{{displayName}}</strong><br>
    Shared by {{archive.fullName}}
  </span>
</div>
<div class="public-content-breadcrumbs">
  <pr-breadcrumbs *ngIf="!isRecord && !missing"></pr-breadcrumbs>
</div>
<div class="public-content" [ngClass]="{'navigating': isNavigating}">
  <router-outlet></router-outlet>
</div>
<div class="public-footer" [ngClass]="{'public-footer-visible': bottomBannerVisible}">
  <div class="public-footer-content">
    <div class="public-footer-close"></div>
    <span (click)="onSignupClick()">
        <strong>Try Permanent.org for free</strong> 
    </span>
    <div class="public-footer-close" (click)="hideBottomBanner()">
      ×
    </div>
  </div>
</div>