<div class="pending-archives">
  <div class="text-container">
    <p class="greeting">
      Hello <b>{{ accountName }}</b
      >. Welcome to Permanent!
    </p>
    <p class="text">
      You’ve been invited to collaborate on an archive as an archive member. A
      Permanent archive is the collection of digital materials about an
      individual, family or group, or organizational entity. Get started by
      accepting an invitation, or by creating a new archive of your own.
    </p>
  </div>
</div>
