@import 'variables';
@import 'fonts';

p {
  color: white;
}

.greeting {
  font-size: 56px;
  font-family: 'UsualRegular', sans-serif;
}

.text {
  font-size: 16px;
  font-family: 'UsualRegular', sans-serif;
}

.text-container {
}

.pending-archives {
  display: flex;
  gap: 64px;
}
