@import 'variables';

.error {
  color: $danger;
}

:host {
  &.for-dark-bg {
    p {
      color: white;
    }
    
    form {
      color: white !important;
    
      a {
        color: white;
      }
    }
  }
}

.input-group-vertical .form-control {
  border-radius: 1rem;
}

.btn-alternate {
  color: white;
  font-weight: 600;
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &.no-margin {
    margin: 0px auto !important;
  }
}

form {
  text-align: center;
}