@import 'variables';

.error {
  color: $danger;
}

:host {
  &.for-dark-bg {
    p {
      color: white;
    }
    
    form {
      color: white !important;
    
      a {
        color: white;
      }
    }
  }
}

.btn-alternate {
  color: white;
  font-weight: bold;
}