@import 'variables';

.phase-progress {
  padding: 10px 0px;
}

.progress-bar {
  width: 100%;
  border-radius: 5px;
  height: 20px;
  border: 1px solid $PR-purple;
  overflow: hidden;

  .progress-bar-inner {
    background-color: $PR-purple;
    height: 100%;
    width: 0%;
  }
}