@import 'variables';

.phase-progress {
  padding: 10px 0px;
}

.progress-bar {
  width: 100%;
  border-radius: 0.25rem;
  height: 40px;
  background: rgba($gray-300, 0.5);
  border: 0px solid $PR-orange;
  overflow: hidden;
  // box-shadow: $wordpress-shadow;
}