@import 'variables';

:host {
	display: block;
	position: relative;
}

.pr-thumbnail-image,
.pr-thumbnail-icon {
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;

	&.image-loading {
		opacity: 0.5;
		transition: opacity 0.25s $tweaked-ease;
	}
}

.pr-thumbnail-icon {
	fa-icon {
		color: #000;
		user-select: none;
		font-size: 7.8rem;
	}
	i.material-icons {
		font-size: 7.8rem;
	}
	display: flex;
	align-items: center;
	justify-content: center;
	color: $folder-icon;
	font-size: 7.8rem;
}

#openseadragon {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
