<div
  class="share-link-type-dropdown"
  (click)="displayDropdown = !displayDropdown"
>
  {{ displayedValue }}
  <fa-icon
    class="icon"
    [ngClass]="{ 'icon-open': displayDropdown }"
    [icon]="chevronIcon"
  ></fa-icon>
</div>
<div *ngIf="displayDropdown" class="share-link-options">
  @for (item of linkTypes; track $index) {
    <div class="option" (click)="onLinkTypeClick(item.value)">
      <p>{{ item.text }}</p>
      <p class="description" *ngIf="item.description">{{ item.description }}</p>
    </div>
  }
</div>
