<div
	class="share-link-type-dropdown"
	(click)="displayDropdown = !displayDropdown"
>
	{{ displayedValue }}
	<fa-icon
		class="icon"
		[ngClass]="{ 'icon-open': displayDropdown }"
		[icon]="chevronIcon"
	></fa-icon>
</div>
@if (displayDropdown) {
	<div class="share-link-options">
		@for (item of linkTypes; track $index) {
			<div class="option" (click)="onLinkTypeClick(item.value)">
				<p>{{ item.text }}</p>
				@if (item.description) {
					<p class="description">{{ item.description }}</p>
				}
			</div>
		}
	</div>
}
