<div class="sidebar-tabs">
	<div
		class="sidebar-tab"
		[class.active]="currentTab === 'info'"
		(click)="setCurrentTab('info')"
	>
		Info
	</div>
	<div
		class="sidebar-tab"
		[class.active]="currentTab === 'sharing'"
		(click)="setCurrentTab('sharing')"
		[class.disabled]="isRootFolder || isPublicItem"
		[ngbTooltip]="
			isPublicItem ? ('sidebar.share.disabled.public' | prTooltip) : null
		"
	>
		Sharing
	</div>
	<div
		class="sidebar-tab"
		[class.active]="currentTab === 'views'"
		(click)="setCurrentTab('views')"
		[class.disabled]="!canUseViews"
		[ngbTooltip]="
			!isPublicItem || selectedItem?.isRecord
				? ('sidebar.views.disabled.public' | prTooltip)
				: null
		"
	>
		Views
	</div>
</div>
<div class="sidebar-tab-content" [hidden]="currentTab !== 'info'">
	@if (selectedItem && !isRootFolder) {
		@if (selectedItem) {
			<div class="sidebar-item">
				<div class="sidebar-thumbnail">
					<pr-thumbnail [item]="selectedItem" [maxWidth]="500"></pr-thumbnail>
				</div>
			</div>
		}
		<div class="sidebar-item">
			<label>Name</label>
			<pr-inline-value-edit
				[displayValue]="selectedItem.displayName"
				[itemId]="selectedItem.folder_linkId"
				[canEdit]="canEdit"
				[required]="true"
				(doneEditing)="onFinishEditing('displayName', $event)"
				emptyMessage="Click to add name"
				readOnlyEmptyMessage="No name"
				type="text"
			></pr-inline-value-edit>
		</div>
		<div class="sidebar-item">
			<label>Description</label>
			<pr-inline-value-edit
				[displayValue]="selectedItem.description"
				[itemId]="selectedItem.folder_linkId"
				[canEdit]="canEdit"
				[loading]="isLoading"
				(doneEditing)="onFinishEditing('description', $event)"
				emptyMessage="Click to add description"
				readOnlyEmptyMessage="No description"
				type="textarea"
			></pr-inline-value-edit>
		</div>
		<div class="sidebar-item">
			<label>Alt Text</label>
			<img
				class="alt-text-tooltip"
				src="assets/svg/info.svg"
				alt="Alt text tooltip"
				[ngbTooltip]="'Alt text should describe the image -- think of alt text as how you would read the page containing the image to someone over the phone.'"
			/>
			<pr-inline-value-edit
				[displayValue]="selectedItem | getAltText"
				[itemId]="selectedItem.folder_linkId"
				[canEdit]="canEdit"
				[loading]="isLoading"
				(doneEditing)="onFinishEditing('altText', $event)"
				emptyMessage="Click to add description"
				readOnlyEmptyMessage="No description"
				type="textarea"
			></pr-inline-value-edit>
		</div>
		<div class="sidebar-item">
			<label>Keywords</label>
			<div class="sidebar-item-content">
				<pr-edit-tags
					[item]="selectedItem"
					[canEdit]="canEdit"
					tagType="keyword"
				></pr-edit-tags>
			</div>
		</div>
		<div class="sidebar-item">
			<label>Custom Metadata</label>
			<div class="sidebar-item-content">
				<pr-edit-tags
					[item]="selectedItem"
					[canEdit]="canEdit"
					tagType="customMetadata"
				></pr-edit-tags>
			</div>
		</div>
		<div class="sidebar-item">
			<label>{{ selectedItem.isFolder ? 'Start date' : 'Date' }}</label>
			<pr-inline-value-edit
				[displayValue]="selectedItem.displayDT"
				[canEdit]="canEdit"
				[item]="selectedItem"
				[itemId]="selectedItem.folder_linkId"
				emptyMessage="Click to add date"
				[readOnlyEmptyMessage]="
					selectedItem.isFolder ? 'No start date' : 'No date'
				"
				(doneEditing)="onFinishEditing('displayDT', $event)"
				type="date"
			></pr-inline-value-edit>
		</div>
		@if (selectedItem.isFolder) {
			<div class="sidebar-item">
				<label>End date</label>
				<pr-inline-value-edit
					[displayValue]="selectedItem.displayEndDT"
					[canEdit]="canEdit"
					[item]="selectedItem"
					[itemId]="selectedItem.folder_linkId"
					emptyMessage="Click to add date"
					readOnlyEmptyMessage="No end date"
					(doneEditing)="onFinishEditing('displayEndDT', $event)"
					type="date"
				></pr-inline-value-edit>
			</div>
		}
		<div class="sidebar-item">
			<label>Location</label>
			<div
				class="sidebar-item-content"
				(click)="onLocationClick()"
				[class.can-edit]="canEdit"
			>
				@if (selectedItem.LocnVO) {
					<span>{{ (selectedItem.LocnVO | prLocation)?.full }}</span>
				}
				@if (!selectedItem.LocnVO && !canEdit) {
					<span class="sidebar-item-content-empty"> No location </span>
				}
				@if (!selectedItem.LocnVO && canEdit) {
					<span class="sidebar-item-content-empty">
						Click to set location
					</span>
				}
			</div>
			<div
				class="sidebar-item-content"
				(click)="onLocationClick()"
				tabindex="0"
				(keydown)="onLocationEnterPress($event)"
				[class.can-edit]="canEdit"
			>
				<pr-static-map [location]="selectedItem.LocnVO"></pr-static-map>
			</div>
		</div>
		<div class="sidebar-item">
			<div class="sidebar-item-content">
				<div class="sidebar-detail">
					<label>{{ selectedItem.isRecord ? 'Uploaded' : 'Created' }}</label>
					<div class="sidebar-detail-content">
						{{ selectedItem.createdDT | prDate }}
					</div>
				</div>
				<div class="sidebar-detail">
					<label>Last modified</label>
					<div class="sidebar-detail-content">
						{{ selectedItem.updatedDT | prDate }}
					</div>
				</div>
				@if (selectedItem.isRecord) {
					<div class="sidebar-detail">
						<label>Size</label>
						<div class="sidebar-detail-content">
							{{ (selectedItem | asRecord).size | dsFileSize }}
						</div>
					</div>
					<div class="sidebar-detail">
						<label>File created</label>
						<div class="sidebar-detail-content">
							{{ (selectedItem | asRecord).derivedCreatedDT | prDate }}
						</div>
					</div>
				}
				@if (selectedItem.isFolder) {
					<div class="sidebar-detail">
						<label>Size</label>
						<div class="sidebar-detail-content">
							{{
								(selectedItem | asFolder).FolderSizeVO?.allFileSizeDeep
									| dsFileSize
							}}
						</div>
					</div>
					<div class="sidebar-detail">
						<label>Contents</label>
						<div class="sidebar-detail-content">
							{{ (selectedItem | asFolder).FolderSizeVO | folderContents }}
						</div>
					</div>
				}
				@if (originalFileExtension && originalFileExtension !== 'null') {
					<div class="sidebar-detail">
						<label>Original Format</label>
						<div class="sidebar-detail-content">
							.{{ originalFileExtension }}
						</div>
					</div>
				}
				@if (
					isRecord &&
					(!originalFileExtension || originalFileExtension === 'null')
				) {
					<div class="sidebar-detail unknown">
						<label>Original Format</label>
						<div class="sidebar-detail-content">unknown</div>
					</div>
				}
				@if (permanentFileExtension && permanentFileExtension !== 'null') {
					<div class="sidebar-detail">
						<label>Permanent Format</label>
						<div class="sidebar-detail-content">
							.{{ permanentFileExtension }}
						</div>
					</div>
				}
			</div>
		</div>
		<div class="sidebar-item">
			<pr-download-button
				[isFileView]="false"
				[selectedItem]="selectedItem"
			></pr-download-button>
		</div>
	}
	@if (selectedItems) {
		<div class="sidebar-item">
			<label>Multiple items</label>
			<div class="sidebar-item-content">
				{{ selectedItems.length }} items selected
			</div>
		</div>
	}
	@if (selectedItem && isRootFolder) {
		<div class="sidebar-item">
			<label>{{
				selectedItem.displayName === 'My Files'
					? 'Private'
					: selectedItem.displayName
			}}</label>
			<div class="sidebar-item-content">Select a file to view details</div>
		</div>
	}
</div>
<div class="sidebar-tab-content" [hidden]="currentTab !== 'sharing'">
	@if (selectedItem) {
		<div class="sidebar-item">
			<button
				class="btn btn-primary"
				[disabled]="!canShare"
				(click)="onShareClick()"
				[ngbTooltip]="
					canShare
						? null
						: ((isPublicItem
								? 'sidebar.share.disabled.public'
								: 'sidebar.share.disabled.access'
							) | prTooltip)
				"
			>
				{{ selectedItem.ShareVOs?.length ? 'Manage' : 'Share' }}
			</button>
		</div>
		<div class="sidebar-item">
			@if (selectedItem.ShareVOs?.length) {
				<div class="sidebar-item-content">
					@for (share of selectedItem.ShareVOs; track share) {
						<div class="shared-with-archive">
							<div
								class="archive-thumb"
								prBgImage
								[bgSrc]="share.ArchiveVO.thumbURL200"
								[cover]="true"
							></div>
							<div class="archive-info">
								<div class="archive-name">
									The {{ share.ArchiveVO.fullName }} Archive
								</div>
								<div class="archive-role">
									Access: {{ share.accessRole | prConstants | titlecase }}
								</div>
							</div>
						</div>
					}
				</div>
			}
		</div>
	}
</div>
<div class="sidebar-tab-content" [hidden]="currentTab !== 'views'">
	@if (selectedItem) {
		<pr-sidebar-view-option
			[folderView]="'folder.view.grid'"
			(setDefault)="onFinishEditing('view', $event)"
			[folder]="selectedItem | asFolder"
		>
		</pr-sidebar-view-option>
		<pr-sidebar-view-option
			[folderView]="'folder.view.timeline'"
			(setDefault)="onFinishEditing('view', $event)"
			[folder]="selectedItem | asFolder"
		>
		</pr-sidebar-view-option>
	}
</div>
