@import 'variables';

$sidebar-border: $file-list-border;
$sidebar-thumb-height: 200px;

:host {
  position: fixed;
  right: 0;
  width: $sidebar-width;
  top: $navbar-total-height-desktop;
  bottom: 0;
  border-left: $sidebar-border;
}

.sidebar-tabs {
  display: flex;

  .sidebar-tab {
    flex: 1 1 auto;
    height: $sidebar-tab-height;
    font-size: $font-size-sm;
    line-height: $sidebar-tab-height;
    text-align: center;
    border-bottom: $sidebar-border;
    user-select: none;

    &:not(:last-child) {
      border-right: $sidebar-border;
    }


    &:not(.active) {
      cursor: pointer;
      &:hover {
        background-color: $gray-100;
      }
    }

    &.active {
      font-weight: 600;
      color: $body-color;
      border-bottom: 1px solid rgba($gray-300, 0);
    }
  }
}

.sidebar-tab-content {
  padding-top: 5px;
  max-height: calc(100vh - #{$navbar-total-height-desktop} - #{$sidebar-tab-height});
  overflow-y: auto;
}

.sidebar-item {
  padding: 5px 10px;
  label {
    font-weight: 600;
    margin-bottom: 0px;
  }

  .sidebar-item-content {
    $padding-y: 0.25rem;
    padding: $padding-y 0;
    min-height: $line-height-base * 1rem + (2 * $padding-y);
  }

  .sidebar-item-content-empty {
    color: $text-muted;
  }
}

.sidebar-thumbnail pr-thumbnail {
  width: 100%;
  height: $sidebar-thumb-height;
}