<div class="sidebar-tabs">
  <div class="sidebar-tab" [class.active]="currentTab === 'info'" (click)="setCurrentTab('info')">Info</div>
  <div class="sidebar-tab" [class.active]="currentTab === 'details'" (click)="setCurrentTab('details')">Details</div>
  <div class="sidebar-tab" [class.active]="currentTab === 'sharing'" (click)="setCurrentTab('sharing')">Sharing</div>
</div>
<div class="sidebar-tab-content" [hidden]="currentTab !== 'info'">
  <ng-container *ngIf="selectedItem && !isRootFolder">
    <div class="sidebar-item" *ngIf="selectedItem">
      <div class="sidebar-thumbnail">
        <pr-thumbnail [item]="selectedItem"></pr-thumbnail>
      </div>
    </div>
    <div class="sidebar-item">
      <label>Name</label>
      <pr-inline-value-edit
        [displayValue]="selectedItem.displayName"
        [itemId]="selectedItem.folder_linkId"
        (doneEditing)="onFinishEditing('displayName', $event)"
        type='text'></pr-inline-value-edit>
    </div>
    <div class="sidebar-item">
      <label>Description</label>
      <pr-inline-value-edit
      [displayValue]="selectedItem.description"
      [itemId]="selectedItem.folder_linkId"
      [loading]="isLoading"
      (doneEditing)="onFinishEditing('description', $event)"
      emptyMessage="Click to add description"
      type='textarea'></pr-inline-value-edit>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedItems">
    <div class="sidebar-item">
      <label>Multiple items</label>
      <div class="sidebar-item-content">
        {{selectedItems.length}} items selected
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedItem && isRootFolder">
    <div class="sidebar-item">
      <label>{{selectedItem.displayName}}</label>
      <div class="sidebar-item-content">
        Select a file to view details
      </div>
    </div>
  </ng-container>
</div>
<div class="sidebar-tab-content" [hidden]="currentTab !== 'details'">
  <div class="sidebar-item">
    <label>Details</label>
    <div class="sidebar-item-content">
      Details of some kind
    </div>
  </div>
</div>
<div class="sidebar-tab-content" [hidden]="currentTab !== 'sharing'">
  <div class="sidebar-item">
    <label>Shared With</label>
    <div class="sidebar-item-content">
      Some shared archives?
    </div>
  </div>
</div>