@import 'variables';

:host {
	display: flex;
}

button {
	padding-left: $grid-unit * 0.5;
	padding-right: $grid-unit * 0.5;
	background: none;
	border: none;
	display: flex;
	align-items: center;

	i {
		opacity: 0.5;
		transition: opacity 0.125s $tweaked-ease;
	}

	&:hover:not(.active) {
		i {
			opacity: 0.7;
			transition: opacity 0s $tweaked-ease;
		}
	}

	&.active {
		i {
			opacity: 1;
		}
	}

	&:focus {
		box-shadow: none;
	}

	@include until(1100px) {
		padding: 0 $grid-unit * 0.25;
	}
}
