@import 'variables';

:host {
	display: block;
	width: 100%;
}

.header {
	@include tabbedDialogHeader($PR-blue-light);
}

.content {
	@include tabbedDialogContent;
}

.tabs {
	@include tabbedDialogNav($PR-blue-light);
}

.panel {
	@include tabbedDialogPanel;
}

.panel-title {
	@include tabbedDialogPanelTitle;
}

.connections {
	pr-archive-small {
		margin-bottom: $grid-unit;
	}
}
