<div class="dialog-content">
	<div class="header">
		<span>Connections</span>
		<button class="btn" (click)="onDoneClick()">
			<i class="material-icons">close</i>
		</button>
	</div>
	<div class="content">
		<div class="tabs">
			<div
				class="dialog-tab"
				(click)="setTab('connections')"
				[class.active]="activeTab === 'connections'"
			>
				Connections
			</div>
			<div
				class="dialog-tab"
				(click)="setTab('pending')"
				[class.active]="activeTab === 'pending'"
			>
				Pending Connections
			</div>
			<div class="dialog-tab" (click)="addRelation()">Add Connection</div>
		</div>
		<div class="panel" #panel>
			@switch (activeTab) {
				@case ('connections') {
					<div class="panel-title">Connections</div>
					@if (!connections.length) {
						<div>No connections</div>
					}
					<div class="connections">
						@for (relation of connections; track relation) {
							<pr-archive-small
								(archiveClick)="onConnectionClick(relation)"
								[archive]="relation.RelationArchiveVO"
								[relation]="relation.type"
								[largeOnDesktop]="true"
								[showRemove]="true"
								(removeClick)="removeRelation(relation)"
								[showEdit]="true"
								(editClick)="editRelation(relation)"
							></pr-archive-small>
						}
					</div>
				}
				@case ('pending') {
					<div class="panel-title">Pending Connections</div>
					@if (!connectionRequests.length && !sentConnectionsRequests.length) {
						<div>No pending connections</div>
					}
					<div class="connections">
						@for (relation of connectionRequests; track relation) {
							<pr-archive-small
								(archiveClick)="onRelationRequestClick(relation)"
								[archive]="relation.ArchiveVO"
								[isPending]="true"
								[relation]="relation.type"
								[largeOnDesktop]="true"
								[showAccept]="true"
								(acceptClick)="onRelationRequestClick(relation, true)"
								[showRemove]="true"
								(removeClick)="removeRelation(relation)"
							></pr-archive-small>
						}
						@for (relation of sentConnectionsRequests; track relation) {
							<pr-archive-small
								(archiveClick)="onSentRelationRequestClick(relation)"
								[archive]="relation.RelationArchiveVO"
								[relation]="relation.type"
								[largeOnDesktop]="true"
								[showRemove]="true"
								(removeClick)="removeRelation(relation)"
							></pr-archive-small>
						}
					</div>
				}
				@case ('new') {
					new connection!
				}
			}
		</div>
	</div>
</div>
