<pr-login-logo></pr-login-logo>
<ng-container *ngIf="(verifyingPhone || showCaptchaForEmail) && captchaEnabled && !captchaPassed; else verifyFormElement">
  <div class="captcha">
    <p>Please complete this verification challenge to receive a code on your device.</p>
    <re-captcha [siteKey]="captchaSiteKey" (resolved)="resolveCaptcha($event)" (error)="onCaptchaError($event)"></re-captcha>
  </div>
</ng-container>
<ng-template #verifyFormElement>
  <form [formGroup]="verifyForm" (ngSubmit)="onSubmit(verifyForm.value)">
    <h1 class="form-title">
      {{formTitle}}
    </h1>
    <p>
      A verification code has been sent to your {{verifyingEmail ? 'email address' : 'mobile device'}}.
      <br>
      <br>
      Enter it below to continue.
    </p>
    <input type="{{verifyingEmail ? 'text' : 'tel'}}" class="form-control" id="token" placeholder="Code"
      [formControl]="verifyForm.controls['token']"
      autocomplete="one-time-code" autocorrect="off" autocapitalize="off" spellcheck="false">
      <button type="submit" class="btn btn-primary" [disabled]="waiting">{{formTitle}}</button>
      <button type="button" class="btn btn-primary" [disabled]="waiting" (click)="resendCode()">Resend Code</button>
  </form>
</ng-template>