@import 'variables';

$transition-length: 0.25s;
$shadow-color: rgba(black, 0.15);

.edit-prompt-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(black, 0);
  transition: background-color $transition-length ease-out, visibility 0s linear $transition-length;
  visibility: hidden;
  z-index: 2;

  &.visible {
    left: 0;
    right: 0;
    background-color: $shadow-color;
    visibility: visible;
    transition:  background-color $transition-length ease-out;

    .edit-prompt {
      transform: translateY(0);
      transition: transform $transition-length ease-out;
    }
  }
}

.edit-prompt {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: $bottom-safe-area-padding;
  transform: translateY(100%);
  transition:  transform $transition-length ease-in;
  background-color: white;
  box-shadow: $box-shadow;
}

.edit-prompt-field-buttons {
  text-align: right;
  button {
    display: inline-block;
    width: auto;
    margin: 0 0 0 10px
  }
}

.edit-prompt-buttons {
  padding: 0px 10px;
}

.edit-prompt-title {
  padding: 10px 10px 0px;
  font-weight: 600;
}