<div class="edit-prompt-wrapper" [ngClass]="{'visible': isVisible}">
  <div class="edit-prompt">
    <form [formGroup]="editForm" (ngSubmit)="save($event)">
      <div class="input-group-vertical" *ngIf="editForm">
        <pr-form-input type="Text" [fieldName]="field.fieldName" [placeholder]="field.placeholder" [control]="editForm.controls[field.fieldName]" [config]="field.config"
          *ngFor="let field of fields"></pr-form-input>
      </div>
      <div class="edit-prompt-buttons">
          <button type="button" class="btn btn-default" (click)="cancel($event)" [disabled]="waiting">{{cancelText}}</button>
          <button type="submit" class="btn btn-primary" [disabled]="waiting || editForm.invalid">{{saveText}}</button>
      </div>
    </form>
  </div>
</div>
