@import 'variables';

.main-content {
  padding-top: $navbar-total-height;
  opacity: 1;

  &.navigating {
    opacity: 0.5;
    pointer-events: none;
    transition: 0.1s ease-in opacity;
  }

  &.uploading {
    padding-bottom: 80px;
  }

  // @include after($tablet-horizontal) {
  //   padding: 0;
  //   position: fixed;
  //   top: $navbar-total-height-desktop;
  //   bottom: 0;
  //   left: $left-menu-width;
  //   right: 0;
  // // }

  //   @include after($tablet-horizontal) {
  //   padding: 0;
  //   margin-left: $left-menu-width;
  //   width: calc(100vw - #{$left-menu-width});
  // }
}

@include desktop {
  :host {
    display: flex;
    height: 100vh;
  }

  .main-panel {
    flex: 1 1 auto;
    max-width: calc(100% - #{$left-menu-width});
    display: flex;
    flex-direction: column;
  }

  .main-content {
    padding-top: 0;
    padding-left: 2 * $grid-unit;
    padding-right: 2 * $grid-unit;

    &.uploading {
      padding-bottom: 0;
    }
  }

  pr-nav {
    flex: 0 0 $navbar-total-height-desktop;
  }
}