@import 'variables';

.main-content {
  padding-top: 50px;
  opacity: 1;

  &.navigating {
    opacity: 0.5;
    pointer-events: none;
    transition: 0.1s ease-in opacity;
  }

  &.uploading {
    padding-bottom: 80px;
  }

  @include after($tablet-horizontal) {
    padding-left: $left-menu-width;
  }
}