@import 'variables';

:host {
  display: block;
  padding: 20px;
}

@keyframes new-pledge {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pledge {
  font-size: 18px;
  margin-bottom: 10px;

  .amount {
    font-weight: 700;
  }

  .name {
    font-weight: 400;
  }
}

.pledge-list-sort {
  display: flex;
  padding: 15px 0px;
   
  label {
    margin-right: 10px;
    margin-bottom: 0px;
  }

  .pledge-list-sort-option {
    font-weight: 500;
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;

    &.active {
      font-weight: 700;
    }

    &:not(.active):hover {
      font-weight: 600;
    }
  }
}