<div class="pledge-list-sort">
	<select
		class="form-select"
		[(ngModel)]="activeList"
		(ngModelChange)="onChangePledges()"
	>
		<option [value]="'latest'">Recent Donations</option>
		<option [value]="'highest'">Largest Donations</option>
	</select>
</div>
<div class="pledge-list-wrapper">
	<div class="pledge-list">
		@for (pledge of pledges$ | async; track pledge) {
			<div class="pledge" [ngClass]="{ new: pledge.isNew }">
				<div class="amount">
					{{ pledge.dollarAmount | currency: 'USD' : 'symbol' : '1.0-0' }}
				</div>
				<div class="name">{{ pledge.name }}</div>
				<div class="bottom">{{ pledge.timestamp | date: 'shortDate' }}</div>
			</div>
		}
	</div>
</div>
