$transition-length: 0.33s;

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  z-index: 2;
}

.alert {
  margin: 0;
  cursor: pointer;
}

.alert-wrapper {
  padding: 10px 10px;
  transform: translateY(0);
  transition: $transition-length ease-in transform;
  display: block;
  margin: 0 auto;
  
  &.visible {
    transform: translateY(100%);
    transition: $transition-length ease-out transform;
  }
}