<label>Location</label>
<div
	class="sidebar-item-content"
	(click)="onEditClick()"
	[class.can-edit]="canEdit"
>
	@if (location | prLocation; as address) {
		@if (address.name) {
			<strong>{{ address.name }}</strong>
			<br />
		}
		<span>{{ address.line1 }}, {{ address.line2 }}</span>
	}
	@if (!location && !canEdit) {
		<span class="sidebar-item-content-empty"> No location </span>
	}
	@if (!location && canEdit) {
		<span class="sidebar-item-content-empty"> Click to set location </span>
	}
</div>
<div
	class="sidebar-item-content"
	(click)="onEditClick()"
	tabindex="0"
	(keydown)="onEditEnterPress($event)"
	[class.can-edit]="canEdit"
>
	<pr-static-map [location]="location"></pr-static-map>
</div>
