@if (showResults || isFocused) {
	<div class="screen-cover" (click)="onCoverClick()"></div>
}
<input
	type="text"
	placeholder="Search this archive"
	#searchInput
	[formControl]="formControl"
	(focus)="onInputFocus()"
	(keydown)="onInputKeydown($event)"
/>
<i class="material-icons migrated-ionicon">search</i>
@if (showResults) {
	<div class="search-results">
		@if (tagResults?.length) {
			<div class="search-result-group">
				<div class="search-result-group-title">Keywords</div>
				<div class="search-result-tags">
					@for (tag of tagResults; track tag) {
						<div class="tag" (click)="onTagResultClick(tag)">
							{{ tag.name }}
						</div>
					}
				</div>
			</div>
		}
		@if (localResults?.length) {
			<div class="search-result-group">
				<div class="search-result-group-title">In this folder</div>
				@for (
					result of localResults;
					track resultTrackByFn(i, result);
					let i = $index
				) {
					<div
						class="search-result"
						(click)="onLocalResultClick(result)"
						[class.selected]="isSelectedResult('local', i)"
					>
						@switch (result.isFolder) {
							@case (true) {
								<div class="folder-icon">
									<i class="material-icons">folder</i>
								</div>
							}
							@default {
								<div
									class="thumbnail"
									prBgImage
									[bgSrc]="result.thumbURL200"
								></div>
							}
						}
						<div class="name">{{ result.displayName }}</div>
						<div class="type">{{ result.type | prConstants | titlecase }}</div>
					</div>
				}
			</div>
		}
		@if (waiting || globalResults) {
			<div class="search-result-group">
				<div class="search-result-group-title">
					<span>{{
						localResults?.length ? 'Everywhere else' : 'Everywhere'
					}}</span>
					@if (waiting) {
						<div class="fade-ring-loader"></div>
					}
				</div>
				@if (globalResults?.length === 0) {
					<div class="search-result empty">No results</div>
				}
				@if (globalResults?.length) {
					@for (
						result of globalResults;
						track resultTrackByFn(i, result);
						let i = $index
					) {
						<div
							class="search-result"
							(click)="onGlobalResultClick(result)"
							[class.selected]="isSelectedResult('global', i)"
						>
							@switch (result.isFolder) {
								@case (true) {
									<div class="folder-icon">
										<i class="material-icons">folder</i>
									</div>
								}
								@default {
									<div
										class="thumbnail"
										prBgImage
										[bgSrc]="result.thumbURL200"
									></div>
								}
							}
							<div class="name">{{ result.displayName }}</div>
							<div class="location">
								<i class="material-icons">folder</i>
								{{ result.parentDisplayName }}
							</div>
							<div class="type">
								{{ result.type | prConstants | titlecase }}
							</div>
						</div>
					}
				}
			</div>
		}
		<div class="search-results-all" (click)="onAllResultsClick()">
			See all results
		</div>
	</div>
}
