<div class="screen-cover" *ngIf="showResults || isFocused" (click)="onCoverClick()"></div>
<input type="text" placeholder="Search this archive" #searchInput [formControl]="formControl"
  (focus)="onInputFocus()" (keydown)="onInputKeydown($event)">
<i class="ion-md-search"></i>
<div class="search-results" *ngIf="showResults">
  <div class="search-result-group" *ngIf="tagResults?.length">
    <div class="search-result-group-title">Keywords</div>
    <div class="search-result-tags">
      <div class="tag" *ngFor="let tag of tagResults" (click)="onTagResultClick(tag)">{{tag.name}}</div>
    </div>
  </div>
  <div class="search-result-group" *ngIf="localResults?.length">
    <div class="search-result-group-title">In this folder</div>
    <div class="search-result" *ngFor="let result of localResults; let i = index; trackBy: resultTrackByFn" (click)="onLocalResultClick(result)"
      [class.selected]="isSelectedResult('local', i)">
      <ng-container [ngSwitch]="result.isFolder">
        <div class="folder-icon" *ngSwitchCase="true">
          <i class="material-icons">folder</i>
        </div>
        <div *ngSwitchDefault class="thumbnail" prBgImage [bgSrc]="result.thumbURL200"></div>
      </ng-container>
      <div class="name">{{result.displayName}}</div>
      <div class="type">{{result.type | prConstants | titlecase}}</div>
    </div>
  </div>
  <div class="search-result-group" *ngIf="waiting || globalResults">
    <div class="search-result-group-title">
      <span>{{localResults?.length ? 'Everywhere else' : 'Everywhere'}}</span>
      <div class="fade-ring-loader" *ngIf="waiting"></div>
    </div>
    <div class="search-result empty" *ngIf="globalResults?.length === 0">No results</div>
    <ng-container *ngIf="globalResults?.length">
      <div class="search-result" *ngFor="let result of globalResults; let i = index; trackBy: resultTrackByFn" (click)="onGlobalResultClick(result)"
      [class.selected]="isSelectedResult('global', i)">
        <ng-container [ngSwitch]="result.isFolder">
          <div class="folder-icon" *ngSwitchCase="true">
            <i class="material-icons">folder</i>
          </div>
          <div *ngSwitchDefault class="thumbnail" prBgImage [bgSrc]="result.thumbURL200"></div>
        </ng-container>
        <div class="name">{{result.displayName}}</div>
        <div class="location">
          <i class="material-icons">folder</i>
          {{result.parentDisplayName}}
        </div>
        <div class="type">{{result.type | prConstants | titlecase}}</div>
      </div>
    </ng-container>

  </div>
  <div class="search-results-all" (click)="onAllResultsClick()">
    See all results
  </div>
</div>
