<!-- @format -->
<div>
  <div class="text-container">
    <p class="chart-path">Chart your <b>path</b> to success</p>
    <p class="text">
      Let’s set some goals. Everyone has unique goals for preserving their
      legacy. We want to learn more about how we can help you achieve yours.
    </p>
  </div>
  <div class="goals">
    @for (item of goals; track $index) {
      <div class="goal-container">
        <pr-glam-user-survey-square
          [text]="item.text"
          [tag]="item.tag"
          [selected]="selectedGoals.includes(item.tag)"
          (selectedChange)="addGoal(item.tag)"
        ></pr-glam-user-survey-square>
      </div>
    }
  </div>
  <div class="buttons">
    <pr-button (buttonClick)="backToNameArchive()" [icon]="'/onboarding/back'"
      >Back</pr-button
    >
    <pr-button
      (buttonClick)="goToNextReasons()"
      [orientation]="'right'"
      [icon]="'/onboarding/arrow-right'"
      [variant]="'secondary'"
      [disabled]="!selectedGoals.length"
      >Next</pr-button
    >
  </div>
</div>
