@import 'variables';

:host {
  @include has-breadcrumbs;
  @include mainContentScrollDesktop;
}

.shares-heading {
  text-align: center;
  padding: 10px;
  font-weight: 500;
  border-bottom: 1px solid $gray-300;

  @include desktop {
      text-align: left;
  }
}