<div class="shares-heading">
  Shared By Me
</div>
<div class="shares-empty-message" *ngIf="!sharedByMe.length">
  You haven't shared any content with anyone
</div>
<pr-file-list-item [item]="share" *ngFor="let share of sharedByMe"></pr-file-list-item>
<div class="shares-heading">
  Shared With Me
</div>
<pr-share [archive]="archive" *ngFor="let archive of sharedWithMe"></pr-share>
<div class="shares-empty-message" *ngIf="!sharedWithMe.length">
  You haven't had any content shared with you
</div>
<!-- <pr-connector [connector]="connector" [sharesFolder]="sharesFolder" *ngFor="let connector of connectors"></pr-connector> -->