<pr-file-list-controls [allowSort]="false" [showAccess]="true"></pr-file-list-controls>
<div class="file-list-scroll">
  <pr-file-list-item [item]="item" *ngFor="let item of shareItems"
  [showAccess]="true"
  [canSelect]="true"
  [isSelected]="selectedItems.has(item)"
  (itemClicked)="onItemClick($event)"
  ></pr-file-list-item>
  <!-- <div class="shares-heading">Shared By Me</div>
  <pr-share-by-me></pr-share-by-me>
  <div class="shares-heading">Shared With Me</div>
  <pr-share-with-me></pr-share-with-me> -->
</div>
<pr-sidebar></pr-sidebar>
<div [@slideUpAnimation]="(device.isMobileWidth() && o.isActivated) ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>