<div class="dialog-content">
	<div class="header">
		<span>Archive Members</span>
		<button class="btn" (click)="onDoneClick()">
			<i class="material-icons">close</i>
		</button>
	</div>
	<div class="content">
		<div class="tabs">
			<div
				class="dialog-tab"
				(click)="setTab('members')"
				[class.active]="activeTab === 'members'"
			>
				Members
			</div>
			<div
				class="dialog-tab"
				(click)="setTab('pending')"
				[class.active]="activeTab === 'pending'"
			>
				Pending Members
			</div>
			<div class="dialog-tab" (click)="onAddMemberClick()">Add Member</div>
		</div>
		<div class="panel">
			@switch (activeTab) {
				@case ('members') {
					<div class="panel-title">Members</div>
					<div class="members">
						@for (member of members; track member) {
							<div class="member">
								<div class="member-info">
									<div class="member-name">
										{{ member.fullName }}
										@if (member.isCurrent) {
											<span>(you)</span>
										}
									</div>
									<div class="member-email">
										{{ member.primaryEmail }}
									</div>
									<div class="member-access">
										<ion-icon
											name="information-circle"
											[ngbTooltip]="
												getTooltipForAccess(member.accessRole) | prTooltip
											"
										></ion-icon>
										Access: {{ member.accessRole | prConstants }}
									</div>
								</div>
								<div class="member-button hide-desktop">
									<button
										class="btn btn-primary"
										(click)="onMemberClick(member)"
										[disabled]="
											(member.accessRole.includes('owner') &&
												member.status !== 'status.generic.pending') ||
											!canEdit
										"
									>
										Manage
									</button>
								</div>
								<div class="member-button hide-mobile">
									<button
										class="btn btn-primary"
										(click)="editMember(member)"
										[disabled]="
											(member.accessRole.includes('owner') &&
												member.status !== 'status.generic.pending') ||
											!canEdit
										"
									>
										Edit
									</button>
									<button
										class="btn btn-danger"
										(click)="removeMember(member)"
										[disabled]="
											(member.accessRole.includes('owner') &&
												member.status !== 'status.generic.pending') ||
											!canEdit
										"
									>
										Remove
									</button>
								</div>
							</div>
						}
					</div>
				}
				@case ('pending') {
					<div class="panel-title">Pending Members</div>
					@if (!pendingMembers.length) {
						<div>No pending members</div>
					}
					<div class="members">
						@for (member of pendingMembers; track member) {
							<div class="member">
								<div class="member-info">
									<div class="member-name">
										{{ member.fullName }}
										@if (member.isCurrent) {
											<span>(you)</span>
										}
									</div>
									<div class="member-email">
										{{ member.primaryEmail }}
									</div>
									<div class="member-access">
										<ion-icon
											name="information-circle"
											[ngbTooltip]="
												getTooltipForAccess(member.accessRole) | prTooltip
											"
										></ion-icon>
										Access: {{ member.accessRole | prConstants }}
										<span>(pending)</span>
									</div>
								</div>
								<div class="member-button hide-desktop">
									<button
										class="btn btn-primary"
										(click)="onMemberClick(member)"
										[disabled]="
											(member.accessRole.includes('owner') &&
												member.status !== 'status.generic.pending') ||
											!canEdit
										"
									>
										Manage
									</button>
								</div>
								<div class="member-button hide-mobile">
									<button
										class="btn btn-primary"
										(click)="editMember(member)"
										[disabled]="
											(member.accessRole.includes('owner') &&
												member.status !== 'status.generic.pending') ||
											!canEdit
										"
									>
										Edit
									</button>
									<button
										class="btn btn-danger"
										(click)="removeMember(member)"
										[disabled]="
											(member.accessRole.includes('owner') &&
												member.status !== 'status.generic.pending') ||
											!canEdit
										"
									>
										Remove
									</button>
								</div>
							</div>
						}
					</div>
				}
			}
		</div>
	</div>
</div>
