<div class="dialog-content">
  <div class="header">
    <span>My Archives</span>
    <button class="btn" (click)="onDoneClick()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="content">
    <p class="popup-text">
      Different archive types have different profile fields. Changing your
      archive type may remove some profile information. <br />
      Do you want to continue?
    </p>
    <button class="btn btn-sm btn-primary" (click)="onConfirmClick()">
      Confirm
    </button>
    <button class="btn btn-sm" (click)="onDoneClick()">Go back</button>
  </div>
</div>
