<div class="file-list-item"
  (click)="onItemClick($event)"
  (dblclick)="onItemDoubleClick()"
  [ngClass]="{'grid-view': inGridView, 'selected': isSelected, 'drag-target': isDragTarget, 'drop-target': isDropTarget }"
  (mousedown)="onItemMouseDown($event)"
  (mouseenter)="onItemMouseEnterLeave($event)" (mouseleave)="onItemMouseEnterLeave($event, false)"> 
  <div prBgImage [bgSrc]="!inGridView || item.isFolder ? item.thumbURL200 : item.thumbURL500" [cover]="inGridView"></div>
  <!-- <div prBgImage [bgSrc]="item.thumbURL200" [cover]="inGridView"></div> -->
  <div class="name">
    {{item.displayName}}
  </div>
  <div class="actions" *ngIf="allowActions">
    <button class="right-menu-toggler" (click)="showActions($event)">
      <span class="right-menu-toggler-icon right-menu-toggler-icon-dark"></span>
    </button>
  </div>
  <!-- <div class="multi-select" *ngIf="allowActions && multiSelect">
    <div class="select" (click)="$event.stopPropagation()">
      <label>
        <input type="checkbox" [(ngModel)]="isMultiSelected" (ngModelChange)="onMultiSelectChange()">
        <div class="select-active" *ngIf="isMultiSelected"></div>
      </label>
    </div>
  </div> -->
</div>