@import 'variables';

$row-height: $file-list-row-height;

.file-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-300;
  cursor: pointer;
  user-select: none;
}

.name {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[prBgImage] {
  height: $row-height - 10px;
  width: $row-height - 10px;
  flex: 0 0 $row-height - 10px;
  margin: 5px 5px;
}