@import 'variables';

$row-height: $file-list-row-height;
$max-grid-width: 200px;
$max-grid-width-sidebar: 175px;
$action-button-height: 32px;
$grid-info-section-margin: 5px;
$grid-info-section-height: $action-button-height + 2 * $grid-info-section-margin;

:host {
  display: block;
  &.grid-view {
    width: 50%;
    float: left;
    padding-bottom: 5px;
    @for $i from 3 through 10 {
      @media screen and (min-width: $i * $max-grid-width + 1){
        width: 100% / $i;
      }
    }
  }
}

:host.grid-view {
  .public-content &, .share-preview-content & {
    @media screen and (min-width: 800px) {
      width: 25%;
    }
  }

  .show-sidebar & {
    @for $i from 2 through 10 {
      @media screen and (min-width: ($i * $max-grid-width-sidebar) + $sidebar-width + $left-menu-width + 1){
        width: 100% / $i;
      }
    }
  }
}

.file-list-item {

  $bg-transition-length: 0.075s;

  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-300;
  cursor: pointer;
  user-select: none;
  transition: background-color $bg-transition-length ease-in;
  background-color: rgba(white, 0);
  overflow-y: hidden;

  &.grid-view {
    background-color: white;
    flex-wrap: wrap;
    padding-bottom: $grid-info-section-height;
    position: relative;
    border-right: 1px solid $gray-300;
    border-top: 1px solid $gray-300;
    box-shadow: $box-shadow-sm;
  }

  &.selected, &.selected:hover {
    background-color: rgba($PR-orange, 0.2);
    transition: background-color 0s;
  }

  &:hover {
    transition: background-color 0s;
  }

  &:hover {
    background-color: rgba($gray-100, 1);
  }

  &.drop-target, &.drop-target:hover {
    transition: background-color 0s;
    background-color: rgba($PR-purple, 0.3);
  }

  &.dragging, &.dragging:hover, &.disabled, &.disabled:hover {
    opacity: 0.5;
    transition: opacity $bg-transition-length ease-in;
  }

  &.drag-target * {
    pointer-events: none;
  }
}

.name, .type, .date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  @include file-list-col-name;

  display: flex;
  .grid-view & {
    line-height: $grid-info-section-height;
    height: $grid-info-section-height;
    position: absolute;
    bottom: 0px;
    left: $grid-info-section-margin;
    right: $action-button-height;
  }

  span {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i {
    flex: 0 0 auto;
    margin-left: 10px;
  }
}

.type, .date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .grid-view & {
    display: none;
  }
}

.shared-icon {
  @include file-list-col-shared-icon;
}

.type {
  @include file-list-col-type;
}

.date {
  @include file-list-col-date;
  font-size: $font-size-sm;
}

.access {
  @include file-list-col-access;
}

.shared-by {
  @include file-list-col-shared-by;
  display: flex;
  align-items: center;

  $thumb-size: $row-height - 20px;

  .archive-thumb {
    width: $thumb-size;
    height: $thumb-size;
    flex: 0 0 $thumb-size;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.actions {
  .right-menu-toggler {
    padding: 0px 0.5rem;
    height: $file-list-row-height;
  }

  .grid-view & {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;

    .right-menu-toggler {
      padding: 0px;
      height: $grid-info-section-height;
    }
  }
}

.multi-select {
  margin-right: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

[prBgImage] {
  height: $row-height - 10px;
  width: $row-height - 10px;
  flex: 0 0 $row-height - 10px;
  margin: 5px 5px;
  .grid-view & {
    flex: 0 0 100%;
    width: 100%;
    padding-top: 100%;
    margin: 0px;
  }
}

@include desktop {
  .actions {
    display: none;
  }

  .grid-view .name {
    right: 5px;
  }
}

@supports (padding-left: env(safe-area-inset-left)) {
  :host {
    .file-list-item {
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }
  }
}

$multi-select-radius: 30px;

.select {
  height: $multi-select-radius;
  width: $multi-select-radius;
  border-radius: 50%;
  border: 1px solid $gray-300;

  input {
    visibility: hidden;
  }

  &.exists {
    opacity: 0;
  }

  label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .select-active {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $PR-blue;
    transform: translate(-50%, -50%);
  }
}
