<div class="file-list-item"
  (click)="onItemClick($event)" 
  [ngClass]="{'grid-view': inGridView, 'selected': isSelected, 'drag-target': isDragTarget, 'drop-target': isDropTarget, 'dragging': isDragging, 'disabled': item.isPendingAction }"
  (mousedown)="onItemMouseDown($event)" (touchstart)="onItemTouchStart($event)" (touchend)="onItemTouchEnd($event)"
  (mouseenter)="onItemMouseEnterLeave($event)" (mouseleave)="onItemMouseEnterLeave($event, false)"
  (dragenter)="onItemMouseEnterLeave($event)" (dragleave)="onItemMouseEnterLeave($event, false)"> 
  <div prBgImage [bgSrc]="!inGridView || item.isFolder ? item.thumbURL200 : item.thumbURL500" [cover]="inGridView"></div>
  <!-- <div prBgImage [bgSrc]="item.thumbURL200" [cover]="inGridView"></div> -->
  <div class="name">
    {{item.displayName}}
  </div>
  <div class="type" *ngIf="!inGridView">
    {{item.type | prConstants | titlecase }}
  </div>
  <div class="date" *ngIf="!showAccess && !inGridView">
    <div class="date-top">{{item.displayDT | prDate: item.TimezoneVO: 'date' }}</div>
    <div class="date-bottom">{{item.displayDT | prDate: item.TimezoneVO: 'time' }}</div>
  </div>
  <div class="access" *ngIf="showAccess && !inGridView">
    {{item.accessRole | prConstants | titlecase}}
  </div>
  <div class="actions" *ngIf="allowActions">
    <button class="right-menu-toggler" (click)="showActions($event)">
      <span class="right-menu-toggler-icon right-menu-toggler-icon-dark"></span>
    </button>
  </div>
  <!-- <div class="multi-select" *ngIf="allowActions && multiSelect">
    <div class="select" (click)="$event.stopPropagation()">
      <label>
        <input type="checkbox" [(ngModel)]="isMultiSelected" (ngModelChange)="onMultiSelectChange()">
        <div class="select-active" *ngIf="isMultiSelected"></div>
      </label>
    </div>
  </div> -->
</div>