<div class="archive-type-select">
	<div class="archive-image">
		@if (selectedValue) {
			<img
				[src]="icons[selectedValue.split('+')[0]]"
				[alt]="altTexts[selectedValue.split('+')[0]]"
			/>
		}
	</div>
	<div class="archive-dropdown">
		<select
			class="form-select"
			[class.no-value]="!selectedValue"
			[(ngModel)]="selectedValue"
			(change)="onSelectionChange()"
		>
			<option value="" disabled>Select content type</option>
			@for (option of options; track option) {
				<option [value]="option.value + '+' + option.type">
					{{ option.text }}
				</option>
			}
		</select>
		<span class="archive-description">{{
			descriptions[selectedValue.split('+')[1]]
		}}</span>
	</div>
</div>
