@switch (mode) {
	@default {
		<pr-legacy-contact-display
			(beginEdit)="mode = 'edit'"
			(loadedLegacyContact)="setLegacyContact($event)"
			[initialLegacyContact]="legacyContact"
		></pr-legacy-contact-display>
	}
	@case ('edit') {
		<a class="edit-close" (click)="mode = 'display'">
			<fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
		</a>
		<pr-legacy-contact-edit
			[legacyContact]="legacyContact"
			(savedLegacyContact)="saveEditedLegacyContact($event)"
		></pr-legacy-contact-edit>
	}
}
