<!-- @format -->
<div class="archive-payer">
  <p>
    When an Owner or Manager becomes the payer of an archive, any subsequent
    uploads will count against their personal storage balance.
  </p>
  <div *ngIf="!hasPayer">
    <p>This archive does not currently have an assigned payer.</p>
  </div>
  <div *ngIf="hasPayer">
    <p *ngIf="!isPayerDifferentThanLoggedUser">You are this archive's payer.</p>
    <div *ngIf="isPayerDifferentThanLoggedUser">
      <p>This archive's payer is:</p>
      <div class="payer-info">
        <p class="payer-name">
          <b>{{ payer.fullName }}</b>
        </p>
        <p class="payer-email">{{ payer.primaryEmail }}</p>
        <p class="payer-access">Access: {{ roles[payer.accessRole] }}</p>
      </div>
      <p>Contact this member for archive storage requests.</p>
    </div>
  </div>
  <div class="toggler">
    <div>
      <label class="switch">
        <input
          (change)="setArchivePayer()"
          [checked]="!isPayerDifferentThanLoggedUser"
          type="checkbox"
        />
        <span class="slider"></span>
      </label>
    </div>
    <div>
      <p
        *ngIf="!hasPayer || isPayerDifferentThanLoggedUser"
        class="assign-user"
      >
        Assign myself as the payer
      </p>
      <p *ngIf="!isPayerDifferentThanLoggedUser" class="assign-user">
        Unassign myself as the payer
      </p>
    </div>
  </div>
</div>
<hr />
