<!-- @format -->
<div class="archive-payer">
	<p>
		When an Owner or Manager becomes the payer of an archive, any subsequent
		uploads will count against their personal storage balance.
	</p>
	@if (!hasPayer) {
		<div id="no-payer">
			<p>This archive does not currently have an assigned payer.</p>
		</div>
	}
	@if (hasPayer) {
		<div id="with-payer">
			@if (!isPayerDifferentThanLoggedUser) {
				<p id="is-payer">You are this archive's payer.</p>
			}
			@if (isPayerDifferentThanLoggedUser) {
				<div id="is-not-payer">
					<p>This archive's payer is:</p>
					<div class="payer-info">
						<p class="payer-name">
							<b>{{ payer?.fullName }}</b>
						</p>
						<p class="payer-email">{{ payer?.primaryEmail }}</p>
						<p class="payer-access">Access: {{ roles[payer?.accessRole] }}</p>
					</div>
					<p>Contact this member for archive storage requests.</p>
				</div>
			}
		</div>
	}
	@if (hasAccess) {
		<div class="toggler">
			<pr-switcher
				[data]="{
					archiveId: this.archive?.archiveId,
					isPayerDifferentThanLoggedUser: this.isPayerDifferentThanLoggedUser,
					handleAccountInfoChange: this.handleAccountInfoChange.bind(this),
					cancelAccountPayerSet: this.cancelAccountPayerSet.bind(this)
				}"
				[isChecked]="!isPayerDifferentThanLoggedUser"
				[change]="setArchivePayer"
			></pr-switcher>
			<div>
				@if (isPayerDifferentThanLoggedUser) {
					<p
						(click)="
							setArchivePayer({
								archiveId: this.archive?.archiveId,
								isPayerDifferentThanLoggedUser:
									this.isPayerDifferentThanLoggedUser,
								handleAccountInfoChange:
									this.handleAccountInfoChange.bind(this),
								cancelAccountPayerSet: this.cancelAccountPayerSet.bind(this)
							})
						"
						class="assign-user"
					>
						Assign myself as the payer
					</p>
				}
				@if (!isPayerDifferentThanLoggedUser) {
					<p
						(click)="
							setArchivePayer({
								archiveId: this.archive?.archiveId,
								isPayerDifferentThanLoggedUser:
									this.isPayerDifferentThanLoggedUser,
								handleAccountInfoChange:
									this.handleAccountInfoChange.bind(this),
								cancelAccountPayerSet: this.cancelAccountPayerSet.bind(this)
							})
						"
						class="assign-user"
					>
						Remove myself as the payer
					</p>
				}
			</div>
		</div>
	}
</div>
<hr />
