@import 'variables';
$gutter-size: 0.25rem;
.tags {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	margin-bottom: -$gutter-size;

	&.can-edit {
		min-height: 1.5rem + 0.75rem;
	}

	&:not(.read-only) {
		.empty {
			color: $text-muted;
			padding: 0.25rem 0rem;
		}
	}

	.tag {
		padding: 0.5rem 0rem;
		border-radius: 0.5rem;
		margin-right: $gutter-size;
		margin-bottom: $gutter-size;
		user-select: none;
		color: $gray-900;
		display: flex;

		.keyword,
		.customMetadataField,
		.customMetadataValue {
			border-radius: 0.5rem;
			padding: 0.5rem 0.5rem;
			hyphens: auto;
			margin-bottom: 0;
		}
		.keyword {
			background: rgba($PR-purple, 0.2);
			max-width: 13rem;
		}
		.customMetadataField {
			border-radius: 0.5rem 0rem 0rem 0.5rem;
			color: $white;
			background: $PR-blue-light;
			max-width: 6.5rem;
		}
		.customMetadataValue {
			border-radius: 0rem 0.5rem 0.5rem 0rem;
			background: rgba($PR-blue-light, 0.2);
			max-width: 6.5rem;
			margin-right: 0.25em;
		}
	}

	@include beforeDesktop {
		max-height: 25vh;
		overflow-y: auto;
	}
}

.empty,
.not-empty {
	margin-bottom: 0.25rem;
}

.not-empty {
	color: $text-muted;
	padding: 0.25rem 0rem;
}
