@if (tags?.length && !isEditing && canEdit) {
	<div class="not-empty">Click to add</div>
}
<div class="tags">
	@if (!tags?.length) {
		<div class="empty">
			{{ canEdit && !isEditing ? 'Click to add' : 'No keywords' }}
		</div>
	}
	@if (tags?.length) {
		@for (tag of orderedTags; track tagTrackByFn($index, tag)) {
			<div
				class="tag"
				(mouseenter)="hoveredMetadataId = tag.tagId"
				(mouseleave)="hoveredMetadataId = null"
				[@ngIfScaleAnimationDynamic]="animate ? 'animate' : 'static'"
			>
				@if (!tag.name.includes(':')) {
					<p
						class="keyword truncatedText"
						[class.fullText]="hoveredMetadataId === tag.tagId"
					>
						{{ tag.name }}
					</p>
				}

				@if (tag.name.includes(':')) {
					<p
						class="customMetadataField truncatedText"
						[class.fullText]="hoveredMetadataId === tag.tagId"
					>
						{{ tag.name.split(':')[0] }}
					</p>
				}
				@if (tag.name.includes(':')) {
					<p
						class="customMetadataValue truncatedText"
						[class.fullText]="hoveredMetadataId === tag.tagId"
					>
						{{ tag.name.slice(tag.name.indexOf(':') + 1) }}
					</p>
				}
			</div>
		}
	}
</div>
