@import 'variables';
$gutter-size: 0.25rem;
:host {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: -$gutter-size;

  &.can-edit {
    min-height: 1.5rem + 0.75rem;
    
    .empty {
      color: $text-muted;
      padding: 0.25rem 0rem;
    }
  }

  .tag {
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius;
    margin-right: $gutter-size;
    margin-bottom: $gutter-size;
    background: rgba($PR-purple, 0.2);
    user-select: none;
  }

  @include until($tablet-horizontal) {
    max-height: 25vh;
    overflow-y: auto;
  }
}

.empty {
  margin-bottom: 0.25rem;
}



