<div class="view-name">{{folderView | prConstants}}</div>
<div class="view-preview">
  <img [src]="images[folderView]">
</div>
<div class="view-actions">
  <a class="btn btn-purple btn-sm" [href]="folder | publicViewLink:folderView" target="_blank">
    View
  </a>
  <div class="form-check">
    <input class="form-check-input" type="radio"
      [(ngModel)]="folder.view"
      (ngModelChange)="setDefault.emit(folderView)"
      [id]="radioId"
      [value]="folderView">
    <label class="form-check-label" [for]="radioId">
      Folder default
    </label>
  </div>
</div>