@import 'variables';

:host {
  display: block;
}

.view-name {
  font-weight: bold;
}

.view-preview {
  img {
    width: 100%;
    height: auto;
  }
}

.view-actions {
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;

  .btn {
    margin: 0;
    flex: 1 1 50%;
    width: auto;
  }

  .form-check {
    margin-top: 0;
    margin-left: 2rem;
    flex: 1 1 50%;
    display: flex;
    align-items: center;

    .form-check-input {
      margin-top: 0;
    }
  }


}