<div class="settings-item">
  <label>Full Name</label>
  <div class="settings-item-content">
    <pr-inline-value-edit [displayValue]="account.fullName" [horizontalControls]="true"></pr-inline-value-edit>
  </div>
</div>
<div class="settings-item">
  <label>Email</label>
  <div class="settings-item-content">
    <pr-inline-value-edit [displayValue]="account.primaryEmail" [horizontalControls]="true"></pr-inline-value-edit>
  </div>
</div>
<div class="settings-item">
  <label>Mobile Phone</label>
  <div class="settings-item-content">
    <pr-inline-value-edit [displayValue]="account.primaryPhone" [horizontalControls]="true"></pr-inline-value-edit>
  </div>
</div>
<div class="settings-item">
  <label>Mobile Phone</label>
  <div class="settings-item-content">
    <pr-inline-value-edit [displayValue]="account.primaryPhone" [horizontalControls]="true"></pr-inline-value-edit>
  </div>
</div>
