@import 'variables';

:host {
  display: block;
}

$settings-padding-x: 0;

p {
  padding: 10px;
}

.settings-group {
  margin-bottom: $grid-unit;

  .settings-group-title {
    font-weight: $font-weight-bold;
    padding: $grid-unit / 2 0;
  }
}

.form-check {
  font-size: $font-size-sm;
}


.settings-item {
  @include desktop{
    display: flex;
  }

  & > label {
    font-weight: $font-weight-bold;
    padding: $grid-unit / 2 0;
    margin-bottom: 0px;
    flex: 0 0 12rem;
    display: flex;
    align-items: center;

    i {
      font-size: $mat-icon-sm;
      margin-left: $grid-unit / 2;
      cursor: pointer;
    }
  }

  .settings-item-content {
    flex: 1 1 auto;

    display: flex;
    align-items: center;

    .btn {
      @include gridHeightButtonSmall;
      margin: 0;
      flex: 0 0 auto;
      width: auto;
    }
  }

  @include after($phone) {
    .settings-item-content {
      max-width: 15rem;
    }

    &.settings-item-large .settings-item-content {
      max-width: 30rem;
    }
  }
}

.verified {
  color: $success;
}

form {
  @include tabbedDialogPanelForm;
}