@import 'variables';

:host {
	display: block;
}

$settings-padding-x: 0;

p {
	padding: 10px;
}

.settings-group {
	margin-bottom: $grid-unit;

	.settings-group-title {
		font-weight: $font-weight-bold;
		padding: $grid-unit * 0.5 0;
	}
}

.form-check {
	font-size: $font-size-sm;
}

.settings-item {
	@include desktop {
		display: flex;
	}

	& > label {
		font-weight: $font-weight-bold;
		padding: $grid-unit * 0.5 0;
		margin-bottom: 0px;
		flex: 0 0 12rem;
		display: flex;
		align-items: center;

		i {
			font-size: $mat-icon-sm;
			margin-left: $grid-unit * 0.5;
			cursor: pointer;
		}
	}

	.settings-item-content {
		flex: 1 1 auto;

		display: flex;
		align-items: center;

		.btn {
			@include gridHeightButtonSmall;
			margin: 0;
			flex: 0 0 auto;
			width: auto;
		}
	}

	@include after($phone) {
		.settings-item-content {
			max-width: 15rem;
		}

		&.settings-item-large .settings-item-content {
			max-width: 30rem;
		}
	}
}

.verified {
	color: $success;
}

form {
	@include tabbedDialogPanelForm;
}

.settings-item-note {
	font-size: $font-size-sm;
	padding-bottom: $grid-unit * 0.5;

	@include desktop {
		padding-left: 12rem;
	}
}

.settings-group-note {
	font-size: $font-size-sm;
	color: $gray-dark;
	padding: 0 0 $grid-unit * 0.5;
	margin: 0;
}

.phone-number-warning {
	color: $PR-yellow-700;
	display: flex;
	align-items: center;
	gap: $grid-unit * 0.25;

	i {
		font-size: $mat-icon-sm;
	}
}
