@import 'fonts';

.or-divider {
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
	margin: 24px 0;
}

.line {
	flex-grow: 1;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.32);
	margin: 0 10px;
}

.or-text {
	background: transparent;
	font-family: 'UsualRegular', sans-serif;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 2.24px;
	padding: 0 10px;
	color: rgba(255, 255, 255, 0.32);
}
