<div class="dialog-content">
  <div class="header">
    <button class="btn" (click)="close()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="dialog-body">
    <h3>Congratulations on your first archive!</h3>
    <p>Your archive is <strong>The {{archiveName}} Archive.</strong> You are the {{accessRole}} of this archive.</p>
    <p>Get started by uploading your first files, or learn more about your new archive by viewing our help articles through the ‘?’ button in the lower right-hand corner.</p>
    <button class="btn btn-primary" (click)="close()">Get Started</button>
  </div>
</div>
