<ng-container *ngIf="!isDialog">
  <pr-tags [tags]="itemTags" (click)="startEditing()" [readOnly]="false" [class.clickable]="canEdit && !isEditing"
    [canEdit]="canEdit" [animate]="isEditing" [isEditing]="isEditing"></pr-tags>
  <div class="input-group" *ngIf="isEditing" @ngIfScaleAnimation [class.has-tags]="allTags?.length">
    <input type="text" class="new-tag form-control" [placeholder]="placeholderText" [(ngModel)]="newTagName"
    (ngModelChange)="onTagType(newTagName)" (keydown.enter)="onInputEnter(newTagName)">
    <div *ngIf="newTagInputError" class="input-vertical-error">
      {{this.tagType === 'keyword' ? "Tag cannot contain ':'" : "Format must be key:value"}}
    </div>
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="newTagName ? onInputEnter(newTagName) : endEditing()">{{ newTagName ? 'Add' : 'Done' }}</button>
    </div>
  </div>
  <div class="edit-tags" *ngIf="isEditing && matchingTags?.length" @ngIfScaleAnimation>
    <div class="edit-tag" *ngFor="let tag of matchingTags" [class.is-selected]="itemTagsById.has(tag.tagId)"
    (click)="onTagClick(tag)">
      <div class="select">
        <div class="select-active"></div>
      </div>
      <div class="tag-name">
        {{tag.name}}
      </div>
    </div>
  </div>
  <p class="manage-tags-message" *ngIf="isEditing" @ngIfScaleAnimation>
    <span class="manage-tags-link" (click)="onManageTagsClick()">
      Manage {{this.tagType === 'keyword' ? "tags" : 'custom metadata'}}</span> in archive settings.
  </p>
</ng-container>
<ng-container *ngIf="isDialog">
  <div class="dialog-content">
    <div class="dialog-body">
      <div class="page-title break-all">{{item.displayName}}</div>
      <div class="edit-tags-dialog-body">
        <pr-tags [tags]="item.TagVOs" (click)="startEditing()"
          [canEdit]="true" [animate]="isEditing" [isEditing]="isEditing"></pr-tags>
        <div class="input-group">
          <input type="text" class="new-tag form-control" [placeholder]="placeholderText" *ngIf="isEditing" @ngIfScaleAnimation
            [(ngModel)]="newTagName" (keydown.enter)="onInputEnter(newTagName)" (ngModelChange)="onTagType(newTagName)">
          <div *ngIf="newTagInputError" class="input-vertical-error">
            {{this.tagType === 'keyword' ? "Tag cannot contain ':'" : "Format must be key:value"}}
          </div>
          <div class="input-group-append">
            <button class="btn btn-primary" (click)="onInputEnter(newTagName)" [disabled]="!newTagName">Add</button>
          </div>
        </div>
        <div class="edit-tags" *ngIf="isEditing" @ngIfScaleAnimation>
          <div class="edit-tag" *ngFor="let tag of matchingTags" [class.is-selected]="itemTagsById.has(tag.tagId)"
          (click)="onTagClick(tag)">
            <div class="select">
              <div class="select-active"></div>
            </div>
            <div class="tag-name">
              {{tag.name}}
            </div>
          </div>
          <div class="edit-tag" *ngIf="!matchingTags.length">No existing tags found</div>
        </div>
        <p class="manage-tags-message" *ngIf="isEditing" @ngIfScaleAnimation>
          <span class="manage-tags-link" (click)="onManageTagsClick()">
            Manage {{this.tagType === 'keyword' ? "tags" : 'custom metadata'}}</span> in archive settings.
        </p>
    </div>

    </div>
    <div class="dialog-footer">
      <button class="btn btn-secondary" (click)="close()">Done</button>
    </div>
  </div>
</ng-container>
