@use 'sass:math';

@import 'variables';

:host {
	display: block;
	flex: 1;
	max-width: 100%;
	background-color: white;

	&.is-waiting {
		opacity: 0.5;
		pointer-events: none;
	}
}

.clickable {
	cursor: pointer;
}

.new-tag {
	position: relative;
	z-index: 1;
	padding: 0.5rem 0.75rem;
	border-color: $input-border-color;

	.has-tags & {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.edit-tags {
	border: 1px solid $input-border-color;
	border-top: 0px solid;
	max-height: 10rem;
	overflow-y: auto;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;

	@include beforeDesktop {
		max-height: 30vh;
	}
}

.input-group {
	margin-top: 1.25rem;

	.btn {
		padding: 0.5rem;
	}
}

.edit-tag {
	padding: 0.5rem;
	$multi-select-radius: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;

	&:hover {
		background: $gray-100;

		&:not(.is-selected) {
			.select-active {
				opacity: 0.5;
			}
		}
	}

	&:not(:first-child) {
		border-top: 1px solid $input-border-color;
	}

	.select {
		flex: 0 0 $multi-select-radius;
		height: $multi-select-radius;
		border-radius: 50%;
		border: 1px solid $input-border-color;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 0.5rem;
	}

	.select-active {
		height: $multi-select-radius * math.div(2, 3);
		width: $multi-select-radius * math.div(2, 3);
		border-radius: 50%;
		background: $PR-blue;
		opacity: 0;
	}

	&.is-selected {
		.select-active {
			opacity: 1;
		}
	}
}

.edit-tags-dialog-body {
	padding: 0px 10px;
}

.input-vertical-error {
	position: absolute;
	font-size: 10px;
	line-height: 0.85rem * 1.5;
	background: none;
	pointer-events: none;
	opacity: 1;
	transition: 0.1s ease-in opacity;
	bottom: 0px;
	right: 3.75rem;
	color: $red;
	z-index: 100;
}

.manage-tags-message {
	margin-top: 1.125rem;

	.manage-tags-link {
		font-weight: 600;
		color: black;
		text-decoration: underline;
		cursor: pointer;
	}
}
