:host {
	max-height: 100%;
}

.custom-metadata-headers {
	& > div {
		flex: 0 0 50%;
		margin: 0 5px;
	}
	display: flex;
	flex-direction: row;
	font-weight: bold;
}

.manage-custom-metadata {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 1rem;
}

.category-list {
	@extend %list-box;
}

.value-list {
	@extend %list-box;
}

.selected {
	background-color: #d8d8d880;
}

.value,
.category {
	&:hover {
		background-color: #d8d8d880;
	}
}

%list-box {
	display: block;
	flex: 0 0 50%;
	border: 2px solid #bbbbbb;
	border-radius: 5px;
	max-height: 100%;
	margin: 5px;
	overflow-y: auto;
	height: 32.5rem;
}
