@import 'variables';

:host {
	display: block;
	width: 100%;
}

.header {
	@include tabbedDialogHeader($PR-purple);
}

.content {
	@include tabbedDialogContent(700px);
}

.tabs {
	@include tabbedDialogNav($PR-purple);
}

.panel {
	@include tabbedDialogPanel;
}

.panel-title {
	@include tabbedDialogPanelTitle;
}

.btn {
	margin: $grid-unit 0;
	width: auto;
}

form {
	@include tabbedDialogPanelForm;
}

pr-storage-meter {
	margin: $grid-unit 0;
}

.nav-to-redeem {
	margin-top: 20px;
}
