<div class="dialog-content">
  <div class="header">
    <span>Storage</span>
    <button class="btn" (click)="onDoneClick()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="content">
    <div class="tabs">
      <div class="dialog-tab"
        (click)="setTab('add')" [class.active]="activeTab === 'add'">
        Add Storage
      </div>
      <div class="dialog-tab" (click)="setTab('promo')" [class.active]="activeTab === 'promo'">
        Redeem Gift
      </div>
      <div class="dialog-tab" (click)="setTab('transaction')" [class.active]="activeTab === 'transaction'">
        Transaction History
      </div>
      <div class="dialog-tab" (click)="setTab('file')" [class.active]="activeTab === 'file'">
        File History
      </div>
    </div>
    <div class="panel" #panel>
      <ng-container [ngSwitch]="activeTab">
        <ng-container *ngSwitchCase="'add'">
          <div class="panel-title">Add Storage</div>
          <pr-storage-meter></pr-storage-meter>
          <p>Need more storage? Feel free to make another donation to Permanent.org anytime you'd like.</p>
          <pr-new-pledge [inlineFlow]="true"></pr-new-pledge>

        </ng-container>
        <ng-container *ngSwitchCase="'promo'">
          <div class="panel-title">Redeem Gift</div>
          <p>If you've been given a gift code, you can redeem it for free storage below.</p>
          <form [formGroup]="promoForm" class="dialog-form" (submit)="onPromoFormSubmit(promoForm.value)">
            <div class="dialog-form-field">
              <label for="promoCode">Gift code</label>
              <input type="text" class="form-control" id="promoCode" name="name"
                formControlName="code">
            </div>
            <div class="dialog-form-field">
              <button class="btn btn-primary" [disabled]="promoForm.invalid || waiting">Redeem</button>
            </div>
          </form>
        </ng-container>
        <ng-container *ngSwitchCase="'transaction'">
          <div class="panel-title">Transaction History</div>
          <pr-transaction-history></pr-transaction-history>
        </ng-container>
        <ng-container *ngSwitchCase="'file'">
          <div class="panel-title">File History</div>
          <pr-file-history></pr-file-history>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
