@import 'variables';

:host {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: $grid-unit * 4;
  padding: $grid-unit;
  min-width: 0;
}

.content {
  flex: 1 1 auto;
  .text {

  }

  .actions {

  }
}

.timestamp {
  flex: 0 0 $grid-unit * 2;
  text-align: right;
  color: $text-muted;
}
