@import 'variables';

:host {
  display: flex;
  align-items: stretch;
  width: 100%;
  min-height: $grid-unit * 4;
  padding: $grid-unit;
  min-width: 0;
  cursor: pointer;

  &:hover {
    background-color: darken(white, 4%);
  }
}

.content {
  flex: 1 1 auto;
  font-size: $font-size-sm;
  .text {

  }

  .actions {

  }
}

.timestamp {
  flex: 0 0 $grid-unit * 2;
  text-align: right;
  color: $text-muted;
  font-size: $font-size-sm;
}
