@import 'variables';

p {
  padding: 10px;
}

.members-list {
  padding: 0px 10px;
}

.member {
  padding-bottom: 10px;
  display: flex;
  align-content: center;
  .member-info {
    flex: 1 0;
    overflow: hidden;
  }

  .member-button {
    flex: 0 1 auto;
  }

  .member-name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .member-email {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .member-access {
    font-style: italic;
  }
}

:host {
  @include has-breadcrumbs;
}