<p>
  Members of an archive are Permanent.org account holders that have access to edit, curate, contribute, or view this archive.
  <button class="btn btn-primary" (click)="addMember()">
    Add member
  </button>
</p>
<p *ngIf="!members || !members.length">
  No members on this archive.
</p>
<div class="members-list">
  <div class="member" *ngFor="let member of members" (click)="onMemberClick(member)">
    <div class="member-info">
      <div class="member-name">
        {{member.fullName}}
        <span *ngIf="member.isCurrent">(you)</span>
      </div>
      <div class="member-email">
        {{member.primaryEmail}}
      </div>
      <div class="member-access">
        <i class="ion-md-information-circle" [ngbTooltip]="getTooltipForAccess(member.accessRole) | prTooltip"></i>
        {{member.accessRole | prConstants}} <span *ngIf="member.status === 'status.generic.pending'">(pending)</span>
      </div>
    </div>
    <div class="member-button">
      <button class="btn btn-primary"
        [disabled]="(member.accessRole.includes('owner') && member.status !== 'status.generic.pending') || !canEdit">
        Edit
      </button>
    </div>
  </div>
</div>
