@import 'variables';

:host {
  display: block;
  position: relative;
}

.pr-video-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.loading {
    video {
      visibility: hidden;
    }

    .loader {
      visibility: visible;
    }
  }

  &.processing {
    background-color: rgba(white, 0.7);
    video, .loader {
      display: none;
    }
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.tall video {
  height: 100%;
  width: auto;
  max-width: 100%
}

.message {
  max-width: 320px;
  text-align: center;
  font-weight: 600;
}
