<div class="breadcrumbs" [hidden]="areBreadcrumbsHidden() || !currentFolder || !breadcrumbs || !breadcrumbs.length" [class.breadcrumbs-dark-text]="darkText">
  <pr-breadcrumb class="breadcrumb" *ngFor="let breadcrumb of breadcrumbs; let last = last" [breadcrumb]="breadcrumb" [last]="last">
  </pr-breadcrumb>
  <div class="breadcrumb-shares" *ngIf="currentFolder?.ShareVOs.length">
    <i class="ion-md-people"></i>
    <!-- <div class="breadcrumb-shares-archives" *ngIf="showingShareArchives">
      <div *ngFor="let shareVo of currentFolder.ShareVOs">
        {{shareVo.ArchiveVO.fullName}}
      </div>
    </div> -->
  </div>
</div>