@import 'variables';

:host {
  display: block;
}

.breadcrumbs {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 5px 10px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  height: $breadcrumb-height;
  display: flex;
  align-items: center;
}

pr-breadcrumb {
  display: inline-block;
  color: white;

  @include after($tablet-horizontal) {
    padding: 0.25rem 0;
  }

  a {
    color: white;
  }

  .current {
    font-weight: 600;
  }

  .separator {
    display: inline-block;
    padding: 0px 6px 0px 4px;
    opacity: 0.5;
  }

  &.drag-target {
    &.drop-target {
      a {
        color: $PR-purple;
        text-decoration: none;
      }
    }
  }
}

.breadcrumbs-dark-text {
  pr-breadcrumb, a {
    color: $body-color;
  }
}