<div
	class="breadcrumbs"
	[hidden]="
		areBreadcrumbsHidden() ||
		!currentFolder ||
		!breadcrumbs ||
		!breadcrumbs.length
	"
	[class.breadcrumbs-dark-text]="darkText"
	[class.breadcrumbs-large]="large"
>
	@for (breadcrumb of breadcrumbs; track breadcrumb; let last = $last) {
		<pr-breadcrumb
			class="breadcrumb"
			[breadcrumb]="breadcrumb"
			[last]="last"
			(breadcrumbClicked)="breadcrumbItemClicked($event)"
		>
		</pr-breadcrumb>
	}
	@if (currentFolder?.ShareVOs?.length) {
		<div class="breadcrumb-shares">
			<i
				class="material-icons migrated-ionicon"
				(click)="onShareIconClick()"
				[ngbTooltip]="sharesList"
				>group</i
			>
			<ng-template #sharesList>
				<ng-container [ngPlural]="currentFolder?.ShareVOs?.length">
					Shared with
					<ng-template ngPluralCase="=0">no one</ng-template>
					<ng-template ngPluralCase="=1"
						>the
						{{ currentFolder?.ShareVOs[0].ArchiveVO.fullName }}
						Archive</ng-template
					>
					<ng-template ngPluralCase="=2"
						>the {{ currentFolder?.ShareVOs[0].ArchiveVO.fullName }} Archive and
						1 other</ng-template
					>
					<ng-template ngPluralCase="other"
						>the {{ currentFolder?.ShareVOs[0].ArchiveVO.fullName }} Archive and
						{{ currentFolder?.ShareVOs.length - 2 }} others</ng-template
					>
				</ng-container>
			</ng-template>
		</div>
	}
</div>
