@import 'variables';

:host {
  display: block;
}

.breadcrumbs {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 5px 10px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  height: $breadcrumb-height;
  display: flex;
  align-items: center;
}

.breadcrumb {
  display: inline-block;
  color: white;

  a {
    color: white;
  }

  .current {
    font-weight: 600;
  }

}

.breadcrumbs-dark-text {
  .breadcrumb, a {
    color: $body-color;
  }
}

.separator {
  display: inline-block;
  padding: 0px 6px 0px 4px;
  opacity: 0.5;
}