@import 'variables';

:host {
  display: block;
  width: 100%;
}

.header {
  @include tabbedDialogHeader;
}

.content {
  @include tabbedDialogContent;
  flex-direction: column;
}

.tabs {
  @include tabbedDialogNav;
}

.panel {
  @include tabbedDialogPanel;
}

.panel-title {
  @include tabbedDialogPanelTitle;
}

form {
  @include tabbedDialogPanelForm;
  max-width: 600px;
  padding-top: 0;
}

pr-archive-small {
  margin-bottom: $grid-unit;

  &.waiting {
    opacity: 0.7;
  }
}

.popup-text {
  text-align: center;
  padding: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  & .btn {
    padding: 10px;
    border-radius: 4px;
    margin: 0 10px;
    width: 15%;
  }

  & .btn-primary {
    width: 30%;
  }
}
