<!-- @format -->
<div class="dialog-content">
  <div class="header">
    <span>Gift storage</span>
    <button class="btn" (click)="onDoneClick()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="content">
    <p class="popup-text">
      <b> Are you sure you’d like to gift storage?</b>
    </p>
    <p class="popup-text">
      Once you send gift storage to someone else, it can’t be reclaimed.
    </p>
    <div class="buttons">
      <button class="btn btn-sm btn-secondary" (click)="onDoneClick()">
        Cancel
      </button>

      <button class="btn btn-sm btn-primary" (click)="onConfirmClick()">
        Yes, gift storage
      </button>
    </div>
  </div>
</div>
