@import 'fonts';
@import 'colors';

.square {
	width: 280px;
	height: 130px;
	padding: 24px;
	background-color: rgba($PR-blue-900, 1);
	border-radius: 12px;
	border: 1px solid rgba($PR-brand-white, 0.16);
	cursor: pointer;
	display: flex;

	@media screen and (max-width: 770px) {
		width: 300px;
	}
}

.text {
	font-family: 'UsualRegular', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: $PR-brand-white;
	margin-left: 24px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	margin-bottom: 0px;
}

.selected {
	background: linear-gradient(
		to right,
		rgba(184, 67, 166, 1),
		rgba($PR-brand-purple, 1)
	);
}

.checkbox {
	margin-top: 6px;
	display: flex;
	align-items: center;
}
