@import 'variables';

:host {
  display: block;
  flex: 1;
  max-width: 100%;
}

.map-wrapper {
  height: 20rem;
  position: relative;
  margin: 10px 10px 0;
}

.location-panel {
  position: absolute;
  bottom: 30px;
  left: 5px;
  padding: 0.5rem;
  max-width: 15rem;
  background: white;
  font-size: $font-size-sm;
  box-shadow: $box-shadow-sm;
}

.location-info {
  span:first-child {
    font-weight: 700;
  }
}

.location-search {
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: $box-shadow-sm;
  max-width: 66%;
  width: 30rem;

  input {
    width: 100%;
    font-size: $font-size-sm;
    padding: 0.5rem;
  }
}

// .dialog-footer {
//   button {
//     width: auto;
//     flex-basis: auto;
//   }
// }