<div class="dialog-content">
	<div class="dialog-body">
		<div class="map-wrapper" #mapWrapper>
			<google-map
				[options]="mapOptions"
				[center]="center"
				[height]="height"
				[width]="width"
				(mapClick)="onMapClick($event)"
			>
				@if (currentLocation) {
					<map-marker [position]="currentLocationLatLng"> </map-marker>
				}
			</google-map>
			@if (currentLocation) {
				<div class="location-panel" @ngIfFadeInAnimation>
					<div class="location-info">
						@if (currentLocationDisplay.displayName) {
							<span>{{ currentLocationDisplay.displayName }}</span>
							<br />
						}
						<span>{{ currentLocationDisplay.line1 }}</span>
						<br />
						<span>{{ currentLocationDisplay.line2 }}</span>
					</div>
				</div>
			}
			<div class="location-search">
				<input
					type="text"
					class="form-control"
					placeholder="Search locations"
					#autocompleteInput
				/>
			</div>
		</div>
	</div>
	<div class="dialog-footer">
		@if (hasChanged) {
			<button class="btn btn-secondary" (click)="cancel()">Cancel</button>
		}
		<button class="btn btn-primary" (click)="save()">
			{{ hasChanged ? 'Save' : 'Done' }}
		</button>
	</div>
</div>
