@import 'variables';

:host {
  display: block;
  padding: 10px;
  font-size: $font-size-sm;
  line-height: 1;

  @include until($tablet-horizontal) {
    display: none;
  }
}

.btn {
  width: auto;
  margin: 10px 0;
}