@import 'variables';

:host {
  display: block;
  padding: $grid-unit * 0.5;
  font-size: $font-size-xs;
  line-height: 1;

  @include beforeDesktop {
    display: none;
  }
}

.btn {
  width: auto;
  margin: $grid-unit * 0.5 0 0px;
}