<!-- @format -->
<div
	#downloadButton
	(click)="downloadClick()"
	class="download-container"
	[class.disabled]="false"
>
	<div class="download-icon-text">
		<i class="material-icons">cloud_download</i>
		<span>Download</span>
	</div>
	<div class="download-icon">
		@if (!selectedItem?.isFolder) {
			<i class="material-icons">keyboard_arrow_down</i>
		}
	</div>
</div>
@if (displayDownloadDropdown) {
	<div
		#downloadButtonDropdown
		class="download-options"
		[ngClass]="{ 'download-options-file-viewer': isFileView }"
	>
		@for (item of downloadOptions; track item; let i = $index) {
			<div class="download-option" (click)="onFileTypeClick(item?.name)">
				<span>{{ i === 0 ? 'Original Format:' : 'Permanent Format:' }}</span>
				<span>{{
					item?.extension && item?.extension !== 'null'
						? '.' + item?.extension
						: 'unknown'
				}}</span>
			</div>
		}
	</div>
}
