@import 'variables';

$padding-x: $navbar-button-icon-padding;

.btn-alternate {
  color: white;
  margin-bottom: 0;
  padding-left: $padding-x;
  padding-right: $padding-x;
  display: flex;
  align-items: center;

  i {
    margin-right: $padding-x;
    font-size: $mat-icon-sm;
  }

  &.disabled {
  }
}

:host.full-width {
  display: block;
  width: 100%;
  flex: 1 1 100%;

  label {
    width: 100%;
  }
}

@include desktop {
  .btn {
    height: 3 * $grid-unit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }
}

