@import 'variables';

:host {
	display: block;
	width: 100%;
}

.header {
	@include tabbedDialogHeader($PR-purple);
}

.settings-content {
	@include tabbedDialogContent(560px);
}

.settings-tabs {
	@include tabbedDialogNav($PR-purple, 'settings-tab');
}

.settings-panel {
	@include tabbedDialogPanel;
}

.panel-title {
	@include tabbedDialogPanelTitle;
}

.dialog-form {
	@include tabbedDialogPanelForm;
}

.btn:focus {
	box-shadow: none;
	border: none;
}
