<div class="dialog-content">
	<div class="header">
		<span>Account Settings</span>
		<button class="btn" (click)="onDoneClick()">
			<i class="material-icons">close</i>
		</button>
	</div>
	<div class="settings-content">
		<div class="settings-tabs">
			<div
				class="settings-tab"
				(click)="setTab('account')"
				[class.active]="activeTab === 'account'"
			>
				Account Info
				@if (accountService.isEmailOrPhoneUnverified()) {
					<i class="material-icons text-warning">report_problem</i>
				}
			</div>
			<div
				class="settings-tab"
				(click)="setTab('security')"
				[class.active]="activeTab === 'security'"
			>
				Login and Security
			</div>
			<div
				class="settings-tab"
				(click)="setTab('notification')"
				[class.active]="activeTab === 'notification'"
			>
				Notification Preferences
			</div>
			<div
				class="settings-tab"
				(click)="setTab('billing')"
				[class.active]="activeTab === 'billing'"
			>
				Billing Info
			</div>
			<div
				class="settings-tab"
				(click)="setTab('legacy-contact')"
				[class.active]="activeTab === 'legacy-contact'"
			>
				Legacy Contact
			</div>
			<div
				class="settings-tab"
				(click)="setTab('delete')"
				[class.active]="activeTab === 'delete'"
			>
				Delete Account
			</div>
			<div
				class="settings-tab"
				(click)="setTab('advanced-settings')"
				[class.active]="activeTab === 'advanced-settings'"
			>
				Advanced Settings
			</div>
		</div>

		<div class="settings-panel">
			@switch (activeTab) {
				@case ('advanced-settings') {
					<pr-advanced-settings></pr-advanced-settings>
				}
				@case ('account') {
					<pr-account-settings></pr-account-settings>
				}
				@case ('security') {
					<pr-account-security></pr-account-security>
				}
				@case ('billing') {
					<pr-billing-settings></pr-billing-settings>
				}
				@case ('notification') {
					<pr-notification-preferences></pr-notification-preferences>
				}
				@case ('legacy-contact') {
					<pr-legacy-contact-dialog></pr-legacy-contact-dialog>
				}
				@case ('delete') {
					<div class="panel-title">Delete Account</div>
					<p>
						Please note: deleting your account will remove all reference to
						personally identifiable and contact information as well as payment
						options you have provided to us in your account settings.
					</p>
					<p>
						The account deletion action will not delete any archives that you
						own or personally identifiable information in the records stored in
						those archives. You must delete archives using the delete archive
						function under the Archives account menu item.
					</p>
					<p>
						Any archives you own that are not deleted prior to deleting your
						account will become orphaned archives.
					</p>
					<p>
						<a
							href="https://desk.zoho.com/portal/permanent/en/kb/articles/how-to-delete-an-archive"
							>Learn more here.</a
						>
					</p>
					<p>
						When you are ready, type ‘DELETE’ in all caps and press confirm
						below to confirm account deletion.
					</p>
					<div class="dialog-form">
						<div class="dialog-form-field">
							<label>Type DELETE</label>
							<input
								type="text"
								class="form-control"
								[(ngModel)]="deleteVerify"
							/>
						</div>
						<div class="dialog-form-field">
							<button
								class="btn btn-danger"
								[disabled]="deleteVerify !== verifyText || waiting"
								(click)="onDeleteAccountConfirm()"
							>
								Delete Account
							</button>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>
