@import 'variables';

:host {
  display: block;
}

$settings-padding-x: 0;

p {
  padding: 10px;
}

.settings-group {
  margin-bottom: $grid-unit;

  .settings-group-title {
    font-weight: $font-weight-bold;
    padding: $grid-unit * 0.5 0;
  }
}

.form-check {
  font-size: $font-size-sm;
}


.settings-item {
  @include desktop {
    display: flex;
  }

  & > label {
    font-weight: $font-weight-bold;
    padding: $grid-unit * 0.5 0;
    margin-bottom: 0px;
    flex: 0 0 12rem;
  }

  .settings-item-content {
    flex: 1 1 auto;
  }

  @include after($phone) {
    .settings-item-content {
      max-width: 15rem;
    }

    &.settings-item-large .settings-item-content {
      max-width: 30rem;
    }
  }


}