<div class="dialog-content">
	<div class="dialog-body">
		<div class="page-title break-all">{{ shareItem.displayName }}</div>
		@if (shareLink) {
			<div class="page-subheading">Share Link</div>
		}
		@if (shareLink) {
			<div class="share-link">
				<p>
					Send this link via text, email, or other message service to invite
					people to share this content.
				</p>
				<input
					type="text"
					class="form-control"
					readonly
					[value]="shareLink.shareUrl"
					#shareUrlInput
				/>
				<button
					class="btn btn-primary"
					[disabled]="linkCopied"
					(click)="copyShareLink()"
				>
					{{ linkCopied ? 'Link copied' : 'Copy link' }}
				</button>
				<button class="btn btn-primary" (click)="manageShareLink()">
					Link settings
				</button>
				<button class="btn btn-danger" (click)="removeShareLink()">
					Remove link
				</button>
			</div>
		}
		@if (!shareLink) {
			<div class="share-link-button">
				<button class="btn btn-primary" (click)="generateShareLink()">
					Get share link
				</button>
			</div>
		}
		@if (pendingShares.length && shareItem.accessRole.includes('owner')) {
			<div class="page-subheading">Share Requests</div>
		}
		@if (pendingShares.length && shareItem.accessRole.includes('owner')) {
			<div class="share-item-members">
				@for (shareVo of pendingShares; track shareVo) {
					<pr-archive-small
						(click)="onPendingShareClick(shareVo)"
						[archive]="shareVo.ArchiveVO"
						[accessRole]="shareVo.accessRole"
					>
					</pr-archive-small>
				}
			</div>
		}
		<div class="page-subheading">Sharing With</div>
		<div class="share-item-members">
			@if (!shares.length) {
				<p>This item is not shared with any archives</p>
			}
			@for (shareVo of shares; track shareVo) {
				<pr-archive-small
					(click)="onShareMemberClick(shareVo)"
					[archive]="shareVo.ArchiveVO"
					[accessRole]="shareVo.accessRole"
				>
				</pr-archive-small>
			}
		</div>
	</div>
	<div class="dialog-footer">
		<button class="btn btn-secondary" (click)="close()">Done</button>
		<button
			class="btn btn-primary"
			(click)="addShareMember()"
			[disabled]="loadingRelations"
		>
			Add
		</button>
	</div>
</div>
