<div class="dialog-content">
  <div class="dialog-body">
    <div class="page-title break-all">{{shareItem.displayName}}</div>
    <!-- <div class="share-item-preview">
        <div prBgImage [bgSrc]="shareItem.thumbURL200"></div>
        <div class="name">{{shareItem.displayName}}</div>
    </div> -->
    <div class="page-subheading">Sharing With</div>
    <div class="share-item-members">
      <p *ngIf="!shareItem.ShareVOs || !shareItem.ShareVOs.length">
        This item is not shared with any archives.
      </p>
      <p></p>
      <pr-archive-small *ngFor="let shareVo of shareItem.ShareVOs"
        (click)="onShareMemberClick(shareVo)"
        [archive]="shareVo.ArchiveVO" [accessRole]="shareVo.accessRole">
      </pr-archive-small>
    </div>
  </div>
  <div class="dialog-footer">
    <button class="btn btn-secondary" (click)="close()">Done</button>
    <button class="btn btn-primary" (click)="close()">Add</button>
  </div>
</div>

