<!-- @format -->
<div class="dialog-content">
	<div class="header">
		<span>Archive Settings</span>
		<button class="btn" (click)="onDoneClick()">
			<i class="material-icons">close</i>
		</button>
	</div>
	<div class="content">
		<div class="tabs">
			<div
				class="dialog-tab"
				(click)="setTab('public-settings')"
				[class.active]="activeTab === 'public-settings'"
			>
				Archive Settings
			</div>
			<div
				class="dialog-tab"
				(click)="setTab('legacy-planning')"
				[class.active]="activeTab === 'legacy-planning'"
			>
				Legacy Planning
			</div>
			<div
				class="dialog-tab"
				(click)="setTab('manage-keywords')"
				[class.active]="activeTab === 'manage-keywords'"
			>
				Manage Keywords
			</div>
			<div
				class="dialog-tab"
				(click)="setTab('manage-metadata')"
				[class.active]="activeTab === 'manage-metadata'"
			>
				Manage Metadata
			</div>
		</div>
		<div class="panel" #panel>
			@switch (activeTab) {
				@case ('manage-keywords') {
					<div class="panel-title">Manage Keywords</div>
					@if (hasTagsAccess) {
						@if (!loadingTags) {
							<pr-manage-tags [tags]="tags" (refreshTags)="refreshTags()">
							</pr-manage-tags>
						} @else {
							Loading Archive Keywords...
						}
					} @else {
						<p>
							You do not have permission to manage settings for this archive.
							<a
								href="https://desk.zoho.com/portal/permanent/en/kb/articles/roles-for-collaboration-and-sharing"
								target="_blank"
								>Learn more about permissions for managing archive settings
								here.</a
							>
						</p>
					}
				}
				@case ('public-settings') {
					<div class="panel-title">Archive Storage</div>
					<pr-archive-payer
						[payer]="payer"
						[archive]="archive"
					></pr-archive-payer>
					<div class="panel-title">Public Gallery Page Settings</div>
					@if (hasTagsAccess) {
						<pr-public-settings [archive]="archive"></pr-public-settings>
					} @else {
						<p>
							You do not have permission to manage settings for this archive.
							<a
								href="https://desk.zoho.com/portal/permanent/en/kb/articles/roles-for-collaboration-and-sharing"
								target="_blank"
								>Learn more about permissions for managing archive settings
								here.</a
							>
						</p>
					}
				}
				@case ('manage-metadata') {
					<div class="panel-title">Manage Custom Metadata</div>
					<p>
						Custom metadata allows you to add additional metadata fields and
						values that are not currently included on Permanent.org. Manage the
						fields and values on this page.
						<a
							href="https://permanent.zohodesk.com/portal/en/kb/articles/extended-metadata-options-with-tags"
							target="_blank"
							>Learn more.</a
						>
					</p>
					@if (hasTagsAccess) {
						<pr-manage-custom-metadata></pr-manage-custom-metadata>
					} @else {
						<p>
							You do not have permission to manage settings for this archive.
							<a
								href="https://desk.zoho.com/portal/permanent/en/kb/articles/roles-for-collaboration-and-sharing"
								target="_blank"
								>Learn more about permissions for managing archive settings
								here.</a
							>
						</p>
					}
				}
				@case ('legacy-planning') {
					@if (hasStewardAccess) {
						<pr-directive-dialog></pr-directive-dialog>
					} @else {
						You do not have permission to set an Archive Steward for this
						archive. Only owners can set an Archive Steward for an archive.
						<a
							href="https://permanent.zohodesk.com/portal/en/kb/articles/roles-for-collaboration-and-sharing"
							>Learn more.</a
						>
					}
				}
			}
		</div>
	</div>
</div>
