<div class="archive-switcher-wrapper">
	<div class="archive-list-wrapper">
		@if (!loadingArchives) {
			<div class="archive-list" [ngClass]="{ switching: waiting }">
				@for (archive of archives; track archive) {
					<pr-archive-small
						[archive]="archive"
						[accessRole]="archive.accessRole"
						(click)="onArchiveClick(archive)"
					>
					</pr-archive-small>
				}
				@if (!archives.length) {
					<div class="archives-empty">You have no other archives</div>
				}
			</div>
		}
		@if (loadingArchives) {
			<div class="archive-list">
				<div class="lds-dual-ring lds-dual-ring-purple"></div>
			</div>
		}
	</div>
	<div class="archive-list-button">
		<button class="btn btn-wordpress" [disabled]="waiting" (click)="close()">
			Use Current Archive
		</button>
		<button
			class="btn btn-wordpress-alternate"
			[disabled]="waiting"
			(click)="logOut()"
		>
			Log Out
		</button>
	</div>
</div>
