<!-- @format -->
<div class="dialog-content">
  <div class="header">
    <button class="btn" (click)="close()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="dialog-body">
    <p>
      <strong>Welcome to Permanent.org!</strong> Join {{ sharerName }}'s shared
      files by signing up for a free account.
    </p>
    <p>
      Collaborate on archives on Permanent.org, and create and curate your own.
      Get started today with a free gigabyte of storage and no recurring fees.
      <a
        href="https://permanent.org"
        class="learn-more"
        [ngClass]="isMobile() ? 'mobile' : 'desktop'"
      >
        Learn more about Permanent
      </a>
    </p>
    <a [routerLink]="['/app', 'signup']" class="btn btn-primary"
      >Create Account</a
    >
    <a [routerLink]="['/app', 'login']" class="login"
      >Already have an account?</a
    >
  </div>
</div>
