@import 'variables';

:host {
  display: block;
  width: 100%;
}

.header {
  @include tabbedDialogHeader($PR-purple)
}

.content {
  @include tabbedDialogContent(540px);
}

.tabs {
  @include tabbedDialogNav($PR-purple);
}

.panel {
  @include tabbedDialogPanel;
}

.panel-title {
  @include tabbedDialogPanelTitle;
}

.banner {
  @include tabbedDialogPanelBanner;
  background-image: url('/assets/svg/invitation-banner.svg');
  background-position: 50% 50%;
  background-size: cover;

  @include beforeDesktop {
    background-position: 80% 100%;
  }
}

form {
  @include tabbedDialogPanelForm;
}

.invitation-list {
  .invitation, .list-header {
    display: flex;
    align-items: center;
    height: 3 * $grid-unit;
  }

  .list-header {
    font-weight: $font-weight-semibold;
  }

  .invitation {
    border-bottom: $file-list-border;
    color: $text-muted;
    font-size: $font-size-sm;
  }

  .date {
    flex: 0 0 9rem;
  }

  .name, .email {
    flex: 0 1 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .actions {
    flex: 0 0 5rem;
    margin-left: auto;

    button {
      @include gridHeightButtonSmall;
    }
  }
}