@import 'variables';

$inline-padding-x: 0.25rem;
$inline-padding-y: 0.25rem;

:host {
  display: block;
  position: relative;
}

.inline-value-display {
  width: 100%;
  background-color: white;
  padding: $inline-padding-y $inline-padding-x;
  margin-left: -1 * $inline-padding-x;
  margin-right: -1 * $inline-padding-x;
  position: relative;
  border-color: rgba($input-border-color, 0);

  &:hover {
    border-color: rgba($input-border-color, 0.75);
  }

  cursor: pointer;
}

.inline-value-placeholder {
  position: absolute;
  padding: $inline-padding-y $inline-padding-x;
  left: -1 * $inline-padding-x;
  right: -1 * $inline-padding-x;
  top: 0;
  bottom: 0;

  .placeholder-line {
    height: 1.5rem;
    width: 95%;
    position: relative;

    &:after {
      content: '';
      background-color: $gray-200;
      position: absolute;
      top: 4px;
      bottom: 2px;
      width: 100%;
    }

    &.two-thirds {
      &:after {
        width: 66.66%;
      }
    }

    &.three-quarters {
      &:after {
        width: 75%;
      }
    }
  }
}

.inline-value-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline-value-textarea {
  min-height: 6 * 1.5rem;
  white-space: pre-wrap;

  &.showing-empty-message {
    font-style: oblique;
  }
}

div.form-control {
  color: $body-color;
}

.form-control {
  padding: $inline-padding-y $inline-padding-x;
}

input, textarea {
  position: absolute;
  top: 0px;
  left: -1 * $inline-padding-x;
  right: -1 * $inline-padding-x;
  bottom: 0px;
  opacity: 0;
  z-index: 0;
  resize: none;

  &.is-editing {
    opacity: 1;
    z-index: 1;
  }
}