<!-- @format -->
<div class="new-account-screens-container">
  <div *ngIf="screen === 'create'">
    <h2>Welcome! Let’s create your first archive together.</h2>
    <div class="welcome-message no-invitations">
      <p>
        In order to help you on this journey, we want to learn a little more
        about you to personalize your experience and make archiving easier.
        Please answer the following questions:
      </p>
      <div class="archive-type">
        <h3>
          With my first archive, I plan to capture and preserve material about…
        </h3>
        <span class="select-option">
          Select the option that fits you best.
        </span>
        <pr-archive-type-select
          (valueChange)="onValueChange($event)"
          [selectedValue]="selectedValue"
        ></pr-archive-type-select>
      </div>
      <div class="archive-name-container">
        <div class="archive-name">
          <h3>What is your new archive called?</h3>
          <p>You can always edit your archive's name later.</p>
          <div class="archive-name-input">
            <span>The</span>
            <input
              [(ngModel)]="name"
              [placeholder]="'Archive Subject'"
              [disabled]="!selectedValue"
              type="text"
            />
            <span>Archive</span>
          </div>
        </div>
        <div *ngIf="!selectedValue" class="disabled-overlay"></div>
      </div>
      <div class="buttons">
        <button (click)="makeMyArchive()" class="btn btn-link">
          Make my archive for me
        </button>
        <button
          [class.btn-disabled]="!name"
          (click)="setScreen('goals')"
          [disabled]="!name"
          class="btn btn-primary chart-path"
        >
          Next: Chart your path
        </button>
      </div>
    </div>
  </div>
  <div class="goals" *ngIf="screen === 'goals'">
    <h2>My goal is to...</h2>

    <p class="explanation">
      This will help us support you as you create your archive. Select all that
      apply.
    </p>

    <div class="grid-container">
      <div
        (click)="addValues(selectedGoals, goal.tag)"
        class="grid-item"
        *ngFor="let goal of goals"
        [class.grid-item-selected]="selectedGoals.includes(goal.tag)"
      >
        <span class="archive-type-description">{{ goal.text }}</span>
      </div>
    </div>

    <div class="two-buttons">
      <button
        class="btn btn-secondary back-button"
        (click)="setScreen('create')"
      >
        Back
      </button>
      <button
        class="btn btn-primary next-button goals-next"
        [disabled]="!selectedGoals.length"
        (click)="setScreen('reasons')"
      >
        Next: Tell us more
      </button>
    </div>
  </div>
  <div *ngIf="screen === 'reasons'">
    <h2>Lastly, we’re curious -- what brought you to Permanent.org?</h2>
    <p class="explanation">Select all that apply.</p>
    <div class="grid-container">
      <div
        (click)="addValues(selectedReasons, reason.tag)"
        class="grid-item"
        *ngFor="let reason of reasons"
        [class.grid-item-selected]="selectedReasons.includes(reason.tag)"
      >
        <span class="archive-type-description">{{ reason.text }}</span>
      </div>
    </div>

    <div class="two-buttons">
      <button
        class="btn btn-secondary back-button"
        (click)="setScreen('goals')"
      >
        Back
      </button>
      <button
        (click)="onSubmit()"
        class="btn btn-primary next-button create-archive"
        [disabled]="!selectedReasons.length || loading"
      >
        Create my archive
      </button>
    </div>
  </div>
</div>
<div *ngIf="screen !== 'create'">
  <button (click)="skipStep()" class="btn btn-link">Skip this step</button>
</div>
