@import 'variables';
@import 'fonts';

form {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 2.25em;
	margin-bottom: 10px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

.btn-link {
	text-decoration: underline;
}

.new-account-screens-container {
	width: 97%;
}

.heading-container {
	width: 50%;
	& > .heading {
		color: white;
		font-family: 'UsualLight', sans-serif;
	}

	& > .heading-new-archive {
		width: 60%;
		color: white;
		font-family: 'UsualLight', sans-serif;
	}
}

.create-new-archive {
	display: flex;
	justify-content: space-between;
	margin-top: 64px;
	gap: 120px;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.bold {
	font-family: 'UsualExtraBold', sans-serif;
}
