@if (screen !== 'reasons' && screen !== 'goals') {
	<div class="new-account-screens-container">
		@if (screen === 'start') {
			<pr-archive-creation-start-screen
				(getStartedOutput)="setScreen('create')"
				(createArchiveForMeOutput)="makeMyArchive()"
			></pr-archive-creation-start-screen>
		}
		@if (screen === 'create-archive-for-me') {
			<pr-create-archive-for-me-screen
				(goBackOutput)="setScreen($event)"
				(continueOutput)="navToGoals($event)"
			></pr-create-archive-for-me-screen>
		}
		@if (screen === 'create' || screen === 'name-archive') {
			<div></div>
		}
	</div>
	@if (screen === 'create' || screen === 'name-archive') {
		<div class="create-new-archive">
			<div class="heading-container">
				@if (screen === 'create') {
					<h1 class="heading">Create your first <b class="bold">Archive</b></h1>
				}
				@if (screen === 'name-archive') {
					<h1 class="heading">
						Create your
						<br />
						<pr-archive-type-icon [type]="archiveTypeTag" />
						&nbsp;<b>{{ headerText }}</b> Archive
					</h1>
				}
			</div>
			@if (screen === 'create') {
				<pr-select-archive-type-screen
					(submitEmitter)="handleCreationScreenEvents($event)"
					[tag]="archiveTypeTag"
				></pr-select-archive-type-screen>
			}
			@if (screen === 'name-archive') {
				<pr-name-archive-screen
					(backToCreateEmitter)="setScreen($event)"
					(archiveCreatedEmitter)="navigateToGoals($event)"
					[name]="name"
				></pr-name-archive-screen>
			}
		</div>
	}
}
@if (screen === 'goals') {
	<pr-glam-goals-screen
		(goalsOutput)="handleGoalsNav($event)"
		[selectedGoals]="selectedGoals"
	></pr-glam-goals-screen>
}

@if (screen === 'reasons') {
	<pr-glam-reasons-screen
		(reasonsEmit)="handleReasonsEmit($event)"
		[selectedReasons]="selectedReasons"
	></pr-glam-reasons-screen>
}

@if (screen === 'finalize') {
	<pr-finalize-archive-creation-screen
		(finalizeArchiveOutput)="onSubmit()"
	></pr-finalize-archive-creation-screen>
}
