<div>
	<div class="text-container">
		<p class="chart-path">Chart your <b>path</b> to success</p>
		<div class="text-right">
			<p class="text">
				Let’s set some goals. Everyone has unique goals for preserving their
				legacy. We want to learn more about how we can help you achieve yours.
			</p>
			<p class="text"><b class="bold">My goal is to...</b></p>
		</div>
	</div>
	<div class="goals">
		@for (item of goals; track $index) {
			<div class="goal-container">
				<pr-glam-user-survey-square
					[text]="item.text"
					[tag]="item.tag"
					[selected]="selectedGoals.includes(item.tag)"
					(selectedChange)="addGoal(item.tag)"
				></pr-glam-user-survey-square>
			</div>
		}
	</div>

	<div class="buttons">
		<div class="skip-step-button">
			<pr-button
				(buttonClick)="skipStep()"
				[icon]="'onboarding/back-reverse'"
				[orientation]="'right'"
				[style]="{ 'justify-content': 'center', border: 'none' }"
				[size]="'fill'"
				>Skip this step</pr-button
			>
		</div>
		<div class="action-buttons">
			<div class="back-button">
				<pr-button
					(buttonClick)="backToNameArchive()"
					[size]="'fill'"
					[icon]="'onboarding/back'"
					[style]="{ 'justify-content': 'center' }"
					>Back</pr-button
				>
			</div>
			<div class="next-button">
				<pr-button
					(buttonClick)="goToNextReasons()"
					[orientation]="'right'"
					[icon]="'onboarding/arrow-right'"
					[variant]="'secondary'"
					[size]="'fill'"
					[style]="{ 'justify-content': 'center' }"
					[disabled]="!selectedGoals.length"
					>Next</pr-button
				>
			</div>
		</div>
	</div>
</div>
