@import 'variables';

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px $gray-500 solid;
}

.navbar-toggler {
  &:focus {
    outline: none;
  }
}