@import 'variables';

:host {
  // border-bottom: 1px $gray-500 solid;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-nav;
  background-color: $white;
  box-shadow: $box-shadow-sm;

  @include after($tablet-horizontal) {
    left: $left-menu-width;
    box-shadow: none;

    // background-color: $gray-700;
  }
}

.global-search-active :host {
  z-index: $z-index-nav + 1;
}

nav.navbar {
  padding: 0 0.5rem;
  color: white;
  height: $navbar-height;
  align-items: center;
  background-color: $PR-blue;

  &.nav-desktop {
    display: none;
    height: $navbar-height-desktop;
    padding-left: 0;
  }

  @include after($tablet-horizontal) {
    &.nav-mobile {
      display: none;
    }

    &.nav-desktop {
      display: flex;
    }
    // background-color: $PR-blue;
  }
}

.nav-second-row {
  display: flex;
  align-items: center;
  pr-breadcrumbs {
    flex: 1 1 auto;
  }

  .sidebar-align {
    flex: 0 0 $sidebar-width;
    display: none;
    padding: 0px 10px;
    
    .btn {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  pr-folder-view-toggle {
    flex: 0 0 auto;
    display: none;
  }

  @include after($tablet-horizontal) {
    min-height: $breadcrumb-height-desktop;
    border-bottom: 1px solid $gray-300;
    box-shadow: none;
    .sidebar-align {
      display: flex;
      justify-content: center;
      > *:not(:last-child) {
        margin-right: 10px;
      }
    }

    pr-folder-view-toggle {
      display: flex;
      align-items: center;
    }
  }
}

.nav-desktop {
  pr-global-search-bar {
    flex: 0 1 40rem;
  }
  pr-account-dropdown {
    margin-left: auto;
  }
}

.navbar-toggler {
  &:focus {
    outline: none;
  }

  border: 0px solid;

  margin-top: 9px;
  margin-bottom: 9px;
}

@supports (padding-left: env(safe-area-inset-left)) {
  :host {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}