@import 'variables';

:host {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	z-index: $z-index-nav;
	background-color: $white;
	box-shadow: $box-shadow-sm;

	@include after($tablet-horizontal) {
		left: $left-menu-width;
		box-shadow: none;
		position: initial;
	}
}

.global-search-active :host {
	z-index: $z-index-nav + 1;
}

nav.navbar {
	padding: 0 0.5rem;
	color: white;
	height: $navbar-height;
	align-items: center;
	background-color: $PR-blue;

	&.nav-desktop {
		display: none;
		padding-left: $grid-unit;
		height: $navbar-height-desktop;
	}

	@include desktop {
		&.nav-mobile {
			display: none;
		}

		&.nav-desktop {
			display: flex;
			flex-wrap: nowrap;
		}
	}
}

.nav-second-row {
	display: flex;
	align-items: center;
	pr-breadcrumbs {
		flex: 1 1 auto;
	}

	.sidebar-align {
		flex: 0 0 $sidebar-width;
		display: none;
		padding: 0px;
		padding-right: $grid-unit;

		> * {
			flex: 1 1 50%;
		}

		.btn {
			height: 2 * $grid-unit;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: $font-weight-bold;
			white-space: nowrap;

			i {
				margin-right: $navbar-button-icon-padding;
				font-size: 1em;
			}
		}
	}

	pr-folder-view-toggle {
		flex: 0 0 auto;
		display: none;
	}

	@include after($tablet-horizontal) {
		min-height: $breadcrumb-height-desktop;
		padding-left: 1 * $grid-unit;
		box-shadow: none;
		.sidebar-align {
			display: flex;
			justify-content: center;
			> *:not(:last-child) {
				margin-right: $grid-unit;
			}
		}

		pr-folder-view-toggle {
			display: flex;
			align-items: center;
			margin-right: 1 * $grid-unit;
		}
	}
}

nav.nav-desktop {
	pr-global-search-bar {
		flex: 0 1 40rem;
		margin-right: auto;
	}
	pr-account-dropdown {
		margin-left: $grid-unit;
	}

	padding-right: $grid-unit;
}

.nav-buttons {
	margin-left: $grid-unit;
	color: white;
	display: flex;
	align-items: center;

	$button-size: $grid-unit * 1.5;

	> a,
	> i {
		border-radius: 50%;
		width: $button-size;
		height: $button-size;
		background-color: white;
		color: $PR-blue;
		text-align: center;
		line-height: $button-size;
		font-weight: bold;
		text-decoration: none !important;
		font-size: $font-size-lg;
		cursor: pointer;

		&.has-badge {
			position: relative;

			&:after {
				position: absolute;
				top: 0;
				right: -$grid-unit * 0.25;
				display: block;
				content: '';
				height: $grid-unit * 0.5;
				width: $grid-unit * 0.5;
				background: $red;
				border-radius: 50%;

				animation:
					fadeIn 125ms $tweaked-ease,
					scaleIn 250ms $tweaked-ease;
			}
		}
	}

	> *:not(:first-child) {
		margin-left: $grid-unit;
	}
}

.navbar-toggler {
	&:focus {
		outline: none;
	}

	border: 0px solid;

	margin-top: 9px;
	margin-bottom: 9px;
}

@supports (padding-left: env(safe-area-inset-left)) {
	:host {
		padding-left: env(safe-area-inset-left);
		padding-right: env(safe-area-inset-right);
	}
}
