<nav class="navbar navbar-dark nav-mobile">
  <button class="navbar-toggler" type="button" (click)="showHamburgerMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <pr-upload-button></pr-upload-button>
  <button class="right-menu-toggler" type="button" (click)="showRightMenu()">
    <span class="right-menu-toggler-icon"></span>
  </button>
</nav>
<nav class="navbar navbar-dark nav-desktop">
  <pr-global-search-bar></pr-global-search-bar>
  <pr-account-dropdown></pr-account-dropdown>
</nav>
<div class="nav-second-row">
  <pr-breadcrumbs [darkText]="true"></pr-breadcrumbs>
  <pr-folder-view-toggle></pr-folder-view-toggle>
  <div class="sidebar-align">
    <pr-upload-button class="full-width" #uploadButton></pr-upload-button>
    <button class="btn btn-primary" (click)="rightMenu.createNewFolder()" [disabled]="!rightMenu.allowedActions.createFolder" [hidden]="uploadButton.hidden"
      *ngIf="rightMenu.currentFolder?.type !== 'type.folder.root.share'">
      <i class="ion-md-folder"></i>New folder
    </button>
  </div>
</div>
<pr-right-menu [(isVisible)]="rightMenuVisible" #rightMenu></pr-right-menu>
<pr-multi-select-status></pr-multi-select-status>