<nav class="navbar navbar-dark nav-mobile">
  <button class="navbar-toggler" type="button" (click)="showHamburgerMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <pr-upload-button></pr-upload-button>
  <button class="right-menu-toggler" type="button" (click)="showRightMenu()">
    <span class="right-menu-toggler-icon"></span>
  </button>
</nav>
<nav class="navbar navbar-dark nav-desktop">
  desktop!
</nav>
<div class="nav-second-row">
  <pr-breadcrumbs [darkText]="true"></pr-breadcrumbs>
  <div class="sidebar-align">
    <pr-upload-button class="full-width"></pr-upload-button>
  </div>
</div>
<pr-left-menu [(isVisible)]="hambugerMenuVisible"></pr-left-menu>
<pr-right-menu [(isVisible)]="rightMenuVisible"></pr-right-menu>
<pr-multi-select-status></pr-multi-select-status>