<pr-dialog-frame
	heading="Add a place or address…"
	(cancelled)="cancel()"
	(confirmed)="save()"
>
	<div class="pr-dialog-content">
		<div class="pr-qualifiers-row">
			<span class="pr-qualifiers-label">This place is:</span>
			@for (option of qualifierOptions; track option.key) {
				<label class="pr-qualifier-option">
					<span class="pr-qualifier-option-label">{{ option.label }}</span>
					<span class="pr-toggle">
						<input
							type="checkbox"
							[checked]="qualifiers()[option.key]"
							[disabled]="
								option.key !== LocationQualifier.Unknown && fieldsDisabled()
							"
							(change)="onQualifierChange(option.key)"
						/>
						<span class="pr-toggle-slider"></span>
					</span>
				</label>
			}
		</div>

		<pr-icon-text-input
			[icon]="nameIcon"
			label="Name this place"
			[disabled]="fieldsDisabled()"
			[value]="location().name ?? ''"
			(valueChange)="setField('name', $event)"
		/>

		<div class="pr-address-fields">
			@for (field of fields; track field.key) {
				<pr-icon-text-input
					[icon]="field.icon"
					[label]="field.label"
					[disabled]="fieldsDisabled()"
					[value]="location()[field.key] ?? ''"
					(valueChange)="setField(field.key, $event)"
				/>
			}
		</div>
	</div>

	<button
		type="button"
		class="pr-clear-link"
		prDialogFooterAside
		(click)="clearAll()"
	>
		<i class="material-icons">backspace</i>
		<span>Clear place and address</span>
	</button>
</pr-dialog-frame>
