name: Build deployable images
on:
  workflow_call:
    secrets:
      google-api-key:
        description: 'Google API key'
        required: true
      firebase-api-key:
        description: 'Firebase API key'
        required: true
      stripe-api-key:
        description: 'Stripe API key'
        required: true
      recaptcha-api-key:
        description: 'Recaptcha API key'
        required: true
      stela-domain:
        description: 'Domain to route Stela requests to'
        required: true
      mixpanel-token:
        description: 'Mixpanel API key'
        required: true
      fusionauth-host:
        description: 'FusionAuth host'
        required: false
      fontawesome-token:
        description: 'FontAwesome package token'
        required: true
    inputs:
      build-command:
        description: 'The npm action that is run to build the Angular application.'
        default: 'build'
        required: false
        type: string
      artifact-name:
        description: 'Artifact name to be downloaded later'
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version

      - uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-

      - name: Install dependencies
        run: FONTAWESOME_PACKAGE_TOKEN="${{ secrets.fontawesome-token }}" npm install

      - name: Build
        env:
          GOOGLE_API_KEY: ${{ secrets.google-api-key }}
          FIREBASE_API_KEY: ${{ secrets.firebase-api-key }}
          STRIPE_API_KEY: ${{ secrets.stripe-api-key }}
          RECAPTCHA_API_KEY: ${{ secrets.recaptcha-api-key }}
          STELA_DOMAIN: ${{ secrets.stela-domain }}
          MIXPANEL_TOKEN: ${{ secrets.mixpanel-token }}
          FUSIONAUTH_HOST: ${{ secrets.fusionauth-host }}
        run: npm run ${{ inputs.build-command }}

      - name: Archive `dist`
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.artifact-name }}
          path: dist
          retention-days: 5
