name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  FONTAWESOME_PACKAGE_TOKEN: ${{ secrets.FONTAWESOME_PACKAGE_TOKEN }}

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
      - name: Lint GitHub Action workflows
        uses: raven-actions/actionlint@v2

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'npm'
      - run: npm ci
      - run: npm run lint:eslint

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'npm'
      - run: npm ci
      - run: npm run lint:prettier

  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'npm'
      - run: npm ci
      - run: npm run lint:tsc

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'npm'
      - run: npm ci
      - name: Run unit tests
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY_DEV }}
          FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY_DEV }}
          STRIPE_API_KEY: ${{ secrets.STRIPE_TEST_KEY }}
        run: npm run coverage:ci
      - name: Upload report to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
