name: Unit tests

on:
  pull_request:

  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version

      - uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-

      - name: Install dependencies
        run: FONTAWESOME_PACKAGE_TOKEN="${{ secrets.FONTAWESOME_PACKAGE_TOKEN }}" npm install

      - name: Run unit tests
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY_DEV }}
          FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY_DEV }}
          STRIPE_API_KEY: ${{ secrets.STRIPE_TEST_KEY }}
        run: npm run coverage:ci

      - name: Upload report to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
