name: Upload Sourcemaps
on:
  workflow_call:
    inputs:
      artifact-name:
        description: 'Name of artifact to download'
        required: true
        type: string

jobs:
  upload-sourcemaps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Sentry CLI
        uses: mathieu-bour/setup-sentry-cli@v2
        with:
          token: ${{ secrets.SENTRY_TOKEN }}
          organization: permanentorg
          project: mdot

      - name: Download dist
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.artifact-name }}
          path: dist

      - name: Upload sourcemaps
        shell: bash
        run: |
          cp -r dist/mdot dist/app
          cp -r dist/mdot dist/share
          cp -r dist/mdot dist/p
          VERSION="mdot@$(sentry-cli releases propose-version)"
          export VERSION
          sentry-cli releases new "$VERSION"
          sentry-cli releases set-commits "$VERSION" --auto --ignore-missing
          sentry-cli sourcemaps upload --release "$VERSION" --validate --log-level info --strip-common-prefix ./dist/ --ignore mdot
          sentry-cli releases finalize "$VERSION"
