<div>
	@if (tags.length > 0) {
		<div>
			<p>
				There are {{ getTagCount() }} keywords defined in the current archive.
			</p>
			<input
				type="text"
				class="filter"
				placeholder="Search Keywords..."
				(change)="filter = $event.target.value"
				(keyup)="filter = $event.target.value"
			/>
			@if (getFilteredTags().length > 0) {
				<div class="tagsList">
					@for (tag of getFilteredTags(); track tag) {
						@if (!isEditingTag(tag)) {
							<div class="tag-row">
								<div class="tag-cell">
									<span class="tag">{{ tag.name }}</span>
								</div>
								<i class="edit material-icons" (click)="beginEditingTag(tag)"
									>edit</i
								>
								<i class="delete material-icons" (click)="deleteTag(tag)"
									>delete</i
								>
							</div>
						} @else {
							<div class="tag-row">
								<div class="tag-cell">
									<span class="tag">
										<form (submit)="saveTag(tag); $event.preventDefault()">
											<input
												type="text"
												class="tag-input"
												[value]="tag.name"
												(change)="onTagChange(tag, $event.target.value)"
											/>
										</form>
									</span>
								</div>
								<i class="save material-icons" (click)="saveTag(tag)">check</i>
								<i
									class="cancel material-icons"
									(click)="endEditingTag(tag, true)"
									>close</i
								>
							</div>
						}
					}
				</div>
			} @else {
				<div>No keywords match your search query.</div>
			}
		</div>
	} @else {
		There are no keywords used in this Archive.
	}
</div>
